<template>
  
    <div class="center-block">
      <div class="tab-content tabs-login col-lg-12 col-md-12 col-sm-12 cols-xs-12">
  
        <form v-on:submit="saveSaran()">
            <div class="row">
              <div class="col-xs-12">
                <div class="form-group" v-bind:class="{ 'has-error': has_error && errors.nama }">
                    <label class="control-label">Nama</label>
                    <input type="text" class="form-control" v-model="saran.nama" placeholder="Nama">
                    <span class="help-block" v-if="has_error && errors.nama">{{ errors.nama }}</span>
                </div>
              </div>

              <div class="col-xs-12">
                <div class="form-group" v-bind:class="{ 'has-error': has_error && errors.kritik_saran }">
                    <label class="control-label">Kritik & Saran</label>
                    <textarea class="form-control" v-model="saran.kritik_saran" placeholder="Kritik & Saran"></textarea>
                    <span class="help-block" v-if="has_error && errors.kritik_saran">{{ errors.kritik_saran }}</span>
                </div>
              </div>
            </div>

            <div class="form-group">
                <button class="btn btn-custom">Kirim</button>
            </div>
        </form>
      </div>
    </div>
</template>


<script>

export default {
  props: {
      saranId: '',
  },
  data() {
    return {
      has_error: false,
      userId : '',
      saran:{
        nama          : '',
        kritik_saran  : '',
      },
      errors: {},
    }
  },
  mounted(){
    var app = this;

  },
  methods: {
    saveSaran(){
      event.preventDefault();
      var app = this;
      var newSaran = app.saran;

      axios.post('/apisaran', newSaran)
      .then(function (resp) {
        app.has_error = false

        if(resp.data.status == 'success'){
          app.$fire({
            title: resp.data.status,
            text: resp.data.message,
            type: "success",
            showConfirmButton: false,
            timer: 2000
          }).then(r => {
            app.$modal.hide('saran-modal');
          });
        }
        else{
          // console.log(resp);
          app.has_error = true
          app.errors = resp.data.message || {}

          app.$fire({
            title: resp.data.status,
            text: "Operation failed !",
            type: "error",
            showConfirmButton: false,
            timer: 2000
          }).then(r => {
           // console.log(r.value);
          });

        }

      })
      .catch(function (resp) {
        // console.log(resp);
        app.has_error = true
        app.errors = resp.data.message || {}

        app.$fire({
          title: resp.data.status,
          text: "Could not update your Data",
          type: "error",
          showConfirmButton: false,
          timer: 2000
        }).then(r => {
         // console.log(r.value);
        });
      });

    }
  }
}

</script>