<template>

<span>

<!-- Header-->
<header v-bind:style="{ 'background-image': 'url(/public/web/img/header/web-banner-saran.jpg)' }"  class="intro introhalf">
  <!-- Intro Header-->
  <div class="intro-body">
    <h1>Kritik & Saran</h1>
    <h4>Berikan kritik & saranmu untuk pengembangan AYFAMU</h4>
    <!-- <router-link to="/child-one">User 1</router-link> -->
  </div>
</header>


    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <h2>Kontak Kami</h2>
            <p>AYFAMU adalah aplikasi untuk membantu moms yang mengalami kekurangan ASI untuk mendapatkan ASI Eksklusif dan menemukan donasi barang pilihan moms..</p>
            <hr>
            <h5><i class="fa fa-map-marker fa-fw fa-lg"></i> 55571 Kalasan, DI Yogyakarta
            </h5>
            <h5><i class="fa fa-envelope fa-fw fa-lg"></i> marketing@ayfamu.com
            </h5>
            <h5><i class="fa fa-phone fa-fw fa-lg"></i> (+628) 77-7416-4961
            </h5>
          </div>
          <div class="col-md-5 col-md-offset-2">
            <h2>KRITIK & SARAN</h2>
            <!-- Contact Form - Enter your email address on line 17 of the mail/contact_me.php file to make this form work. For more information on how to do this please visit the Docs!-->
            <form id="contactForm" name="sentMessage" novalidate="" v-on:submit="saveSaran()">
              <div class="control-group">
                <div class="form-group floating-label-form-group controls" v-bind:class="{ 'has-error': has_error && errors.nama }">
                    <label class="control-label">Nama</label>
                    <input type="text" class="form-control" v-model="saran.nama" placeholder="Nama">
                    <span class="help-block" v-if="has_error && errors.nama">{{ errors.nama }}</span>
                </div>
              </div>
              <div class="control-group">
                <div class="form-group floating-label-form-group controls" v-bind:class="{ 'has-error': has_error && errors.kritik_saran }">
                    <label class="control-label">Kritik & Saran</label>
                    <textarea class="form-control" v-model="saran.kritik_saran" placeholder="Kritik & Saran"></textarea>
                    <span class="help-block" v-if="has_error && errors.kritik_saran">{{ errors.kritik_saran }}</span>
                </div>
              </div>
              <div id="success"></div>
              <button type="submit" class="btn btn-dark">Kirim</button>
            </form>
          </div>
        </div>
      </div>
    </section>


</span>
</template>


<script>

export default {
  props: {
      saranId: '',
  },
  data() {
    return {
      has_error: false,
      userId : '',
      saran:{
        nama          : '',
        kritik_saran  : '',
      },
      errors: {},
    }
  },
  mounted(){
    var app = this;

  },
  methods: {
    saveSaran(){
      event.preventDefault();
      var app = this;
      var newSaran = app.saran;

      axios.post('/apisaran', newSaran)
      .then(function (resp) {
        app.has_error = false

        if(resp.data.status == 'success'){
          app.$fire({
            title: resp.data.status,
            text: resp.data.message,
            type: "success",
            showConfirmButton: false,
            timer: 2000
          }).then(r => {
            app.$modal.hide('saran-modal');
          });
        }
        else{
          // console.log(resp);
          app.has_error = true
          app.errors = resp.data.message || {}

          app.$fire({
            title: resp.data.status,
            text: "Operation failed !",
            type: "error",
            showConfirmButton: false,
            timer: 2000
          }).then(r => {
           // console.log(r.value);
          });

        }

      })
      .catch(function (resp) {
        // console.log(resp);
        app.has_error = true
        app.errors = resp.data.message || {}

        app.$fire({
          title: resp.data.status,
          text: "Could not update your Data",
          type: "error",
          showConfirmButton: false,
          timer: 2000
        }).then(r => {
         // console.log(r.value);
        });
      });

    }
  }
}

</script>