<template>
<span>

<!-- Header-->

    
<header id="Carousel-intro" data-ride="carousel" class="intro carousel carousel-big slide">
  <ol class="carousel-indicators">
    <li data-target="#Carousel-intro" data-slide-to="0" class="active"></li>
    <li data-target="#Carousel-intro" data-slide-to="1"></li>
    <!-- <li data-target="#Carousel-intro" data-slide-to="2"></li> -->
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <div v-bind:style="{ 'background-image': 'url(/public/web/img/header/header-banner-1.jpg)' }" class="fill">
        <div class="intro-body">
          <h1 data-wow-delay=".4s" class="wow fadeInDown">Donasi Terbaikmu</h1>
          <h4 data-wow-delay=".4s" class="wow fadeInUp">Temukan <span class="bold">DONASI</span> Yang moms butuhkan
          </h4>
          <ul class="list-inline lead">
            <li>
              <router-link class="btn btn-border btn-lg page-scroll wow fadeInLeft" :to="{name: 'itemWeb'}" data-wow-delay=".4s" >
                <i class="fa fa-chevron-down"></i> DONASI
              </router-link>
            </li>
            <!-- <li><a data-wow-delay=".4s" href="#contact" class="btn btn-white btn-lg page-scroll wow fadeInRight"><i class="fa fa-chevron-down"></i> CONTACT US</a></li> -->
          </ul>
        </div>
      </div>
    </div>
    <div class="item">
      <div v-bind:style="{ 'background-image': 'url(/public/web/img/header/header-banner-2.jpg)' }" class="fill">
        <div class="intro-body"><a href="https://vimeo.com/153485166" data-rel="video" class="swipebox-video"><i class="icon icon-big ion-ios-play-outline wow fadeInUp"></i>
            <h1 class="wow fadeInDown">Tentang Kami</h1>
            <h4 class="wow fadeInUp">Lihat <span class="bold">Video</span>
            </h4></a></div>
      </div>
    </div>
    <!-- <div class="item">
      <div v-bind:style="{ 'background-image': 'url(/public/web/img/shop/home.jpg)' }" class="fill">
        <div class="intro-body">
          <h4 class="wow fadeInUp">Adventures in creativity</h4>
          <h1 class="wow fadeInDown">Design Bureau</h1>
          <div data-wow-delay=".6s" class="scroll-btn hidden-xs wow fadeInDown"><a href="#about" class="page-scroll"><span class="mouse"><span class="weel"><span></span></span></span></a></div>
        </div>
      </div>
    </div> -->
  </div>
  <a href="#Carousel-intro" data-slide="prev" class="left carousel-control"><span class="icon-prev"></span></a>
  <a href="#Carousel-intro" data-slide="next" class="right carousel-control"><span class="icon-next"></span></a>
</header>



<!-- Services Section-->
<section id="services" class=" hidden-xs">
  <div class="container text-center">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h3>LAYANAN KAMI</h3>
        <p>AYFAMU adalah aplikasi untuk membantu moms yang mengalami kekurangan ASI untuk mendapatkan ASI Eksklusif dan menemukan donasi barang pilihan moms</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-sm-6 col-xs-12">
        <h4><i class="icon icon-big ion-ios-analytics-outline"></i> DONASI</h4>
        <p>Temukan donasi berupa barang ataupun donor ASI</p>
      </div>
      <div class="col-lg-3 col-sm-6 col-xs-12">
        <h4><i class="icon icon-big ion-ios-pie-outline"></i> INFO</h4>
        <p>Berbagi informasi untuk kebutuhan moms dan si kecil</p>
      </div>
      <div class="col-lg-3 col-sm-6 col-xs-12">
        <h4><i class="icon icon-big ion-ios-stopwatch-outline"></i> POLLING</h4>
        <p>Beri penilaian untuk membantu moms menemukan pilihan terbaik</p>
      </div>
      <div class="col-lg-3 col-sm-6 col-xs-12">
        <h4><i class="icon icon-big ion-ios-infinite-outline"></i> SILSILAH</h4>
        <p>Telusuri data anak sepersusuan anak moms</p>
      </div>
    </div>
  </div>
</section>


<section class="section-small bg-img3 text-center hidden-xs" v-bind:style="{ 'background-image': 'url(/public/web/img/header/header-banner-1.jpg)' }">
  <!-- <div class="overlay"></div> -->

  <div class="overlay container-wave2">
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto" v-bind:style="{ 'left':0 }">
        <defs>
            <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="parallax">
            <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(0, 0, 0, 0.05)" />
            <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(230,230,230,0.05)" />
            <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(230,230,230,0.05)" />
            <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.05)" />
        </g>
    </svg>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <p><i class="icon fa fa-quote-left fa-lg"></i></p>
        <h4>Kebahagian yang moms miliki belum tentu dirasakan moms yang lain, kebutuhan yang moms dapatkan belum tentu didapatkan moms yang lain, Mari kita saling berbagi karena dengan ayfamu berabagi tidaklah lagi sulit.</h4>
        <h2 class="no-pad classic">Ayfamu</h2>
      </div>
    </div>
  </div>
</section>

<!-- shop Block-->
<div id="shop" class="section section-small">
  <div class="container text-center">
    <div class="clearfix"></div>

    <item-list :items="items"></item-list>

  </div>
</div>


<!-- Action Section-->
<div class="section action section-small bg-gray2 container-wave2">
  <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto" v-bind:style="{ 'left':0 }">
      <defs>
          <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
      </defs>
      <g class="parallax">
          <use xlink:href="#gentle-wave" x="48" y="10" fill="rgba(0, 0, 0, 0.1)" />
          <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(230,230,230,0.5)" />
          <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(230,230,230,0.5)" />
          <use xlink:href="#gentle-wave" x="48" y="7" fill="rgba(255,255,255,0.5)" />
      </g>
  </svg>
 <!--  <div class="banner-stars">
    <div class="stars"></div>
    <div class="twinkling"></div>
  </div> -->
  <div class="container wow fadeIn">
    <div class="row">
      <div class="col-sm-2 col-xs-4"><i class="fa fa-cc-visa fa-3x"></i></div>
      <div class="col-sm-2 col-xs-4"><i class="fa fa-cc-mastercard fa-3x"></i></div>
      <div class="col-sm-2 col-xs-4"><i class="fa fa-cc-amex fa-3x"></i></div>
      <div class="col-sm-2 col-xs-4"><i class="fa fa-cc-diners-club fa-3x"></i></div>
      <div class="col-sm-2 col-xs-4"><i class="fa fa-cc-discover fa-3x"></i></div>
      <div class="col-sm-2 col-xs-4"><i class="fa fa-cc-jcb fa-3x"></i></div>
    </div>
  </div>
</div>


<!-- News Block-->
<section id="news" class="section-small">
  <div class="container">
    <div class="clearfix"></div>

    <info-list :infos="infos">></info-list>

  </div>
</section>

</span>
</template>

<script>
  import ItemList         from './../../webcomponents/item/ItemList.vue';
  import InfoList         from './../../webcomponents/info/InfoList.vue';
  export default {
    components: {
        'item-list': ItemList,
        'info-list': InfoList,
    },
    data: function(){
      return{
        items : {},
        infos : {}
      }
    },
    mounted(){
      var app = this;

      app.getItems();
      app.getInfos();
    },
    methods:{
      getItems(page) {
        var app = this;

        if (typeof page === 'undefined') {
          page = 1;
        }

        axios.get('/apidonasigroup/home?page='+page)
        .then(function(resp){
          app.items = resp.data.donasi;
        })
        .catch(function(resp){
          // console.log(resp);
          alert('Data Item tidak dapat di load');
        })
      },
      getInfos(page) {
        var app = this;

        if (typeof page === 'undefined') {
          page = 1;
        }

        axios.get('/apiinfogroup/home?page='+page)
        .then(function(resp){
          app.infos = resp.data.info;
        })
        .catch(function(resp){
          // console.log(resp);
          alert('Data tidak dapat di load');
        })
      }

    }
  }
</script>