  <style type="text/css">

.navbar .navbar-toggle {
    border: none;
}
.side-collapse-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media screen and (max-width: 990px) {
    .navbar-custom-mobile{
      background-color: #280f36b8;
    } 
    .side-collapse {
        top: 50px;
        bottom: 0;
        left: 0;
        width: 256px;
        position: fixed;
        overflow: auto;
        transition: all 0.6s cubic-bezier(.87, -.41, .19, 1.44);
    }
    .side-collapse.in {
        width: 0;
    }
    .navbar-nav li.dropdown {
        padding-right: 0;
    }

    .navbar-custom-mobile .divider {
        height: 1px;
        margin: 9px 0;
        overflow: hidden;
        background-color: #e5e5e5;
    }

    .dropdown-header {
        display: block;
        padding: 3px 13px;
        font-size: 12px;
        line-height: 1.42857143;
        color: #bebebf;
        white-space: nowrap;
    }
}
  </style>
<template>

	<nav class="navbar navbar-custom navbar-fixed-top">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" data-toggle="collapse-side" data-target=".side-collapse" class="navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="#page-top" class="navbar-brand page-scroll">
	        <!-- Img or text logo-->
          <img v-bind:src="'/public/web/img/logo.png'" alt="" class="logo">
        </a>
	    </div>

	    <!-- Menu Bar -->
        <menubar-layout :cartCount="cartCount" :cartData="cartData"></menubar-layout>
	    <!-- Menu Bar -->

	  </div>
	</nav>

</template>



<script type="text/javascript">
  import Menubar         from './../../webcomponents/includes/Menubar.vue';

  export default {
	props: {
  		cartCount : 0,
        cartData : {}
	},
    components: {
        'menubar-layout': Menubar,
    },
    mounted(){
    	var app = this;
      // if(app.$auth.check()){
        // app.updateCart()
      // }

      $('[data-toggle=collapse-side]').click(function (e) {
          $('.side-collapse').toggleClass('in');
      });
  	},
    methods: {
      updateCart(){
        alert('test')
        var app = this;
        axios.get('/auth/apicart')
        .then(function (resp) {
          app.cartData = resp.data;

          // console.log(app.cartData);
        })
        .catch(function () {

        });
      },
  	}
  }

</script>
