<template>
  <div class="navbar-custom-mobile side-collapse in">
  <nav role="navigation" class="navbar-collapse">
    <ul class="nav navbar-nav navbar-left">
      <li class="hidden"><a href="#page-top"></a></li>

      <li @click="updateActive(false)" class="visible-xs visible-sm dropdown-header">Utama</li>
      <li @click="updateActive(false)"><router-link :to="{name: 'homePage'}">Home</router-link></li>
      <li @click="updateActive(false)"><router-link class="router-child-link-active" :to="{name: 'itemWeb'}">Donasi</router-link></li>
      <li @click="updateActive(false)"><router-link class="router-child-link-active" :to="{name: 'infoWeb'}">Berbagi Info</router-link></li>
      <li @click="updateActive(false)"><router-link class="router-child-link-active" :to="{name: 'pollingWeb'}">Polling</router-link></li>
      <li @click="updateActive(false)" v-show="$auth.check()" ><router-link class="router-child-link-active" :to="{name: 'silsilahWeb'}">Silsilah</router-link></li>
      <li><router-link class="router-child-link-active" :to="{name: 'saranWeb'}">Kritik & Saran</router-link></li>



      <li v-show="$auth.check()" role="separator" class="divider"></li>
      <li v-show="$auth.check()" v-bind:class="{'visible-xs visible-sm dropdown-header':$auth.check()}">Akun Saya</li>


      <li v-show="$auth.check()" v-bind:class="{'dropdown visible-xs visible-sm':$auth.check()}">
        <a href="#" v-bind:class="{'dropdown-toggle router-child-link-active':true, 'router-link-active': linkActive == 'akun' }">Data Saya<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li @click="updateActive('akun')"><router-link :to="{name:'profil'}">Profil</router-link></li>
          <li @click="updateActive('akun')"><router-link :to="{name:'dataAnak'}">Data Anak</router-link></li>
          <li @click="updateActive('akun')"><router-link :to="{name:'alamat'}">Alamat</router-link></li>
          <li @click="updateActive('akun')"><router-link :to="{name:'logistic'}">Jasa Kirim</router-link></li>
          <li @click="updateActive('akun')"><router-link :to="{name:'ubahPassword'}">Ubah Password</router-link></li>
        </ul>
      </li>

      <li v-show="$auth.check()" @click="updateActive(false)" v-bind:class="{'visible-xs visible-sm':$auth.check()}"><router-link :to="{name:'pesananSaya'}">Pesanan Saya</router-link></li>

      <li v-show="$auth.check()" v-bind:class="{'dropdown visible-xs visible-sm':$auth.check()}">
        <a href="#" v-bind:class="{'dropdown-toggle router-child-link-active':true, 'router-link-active': linkActive == 'donasi' }">Donasi Saya<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li @click="updateActive('donasi')"><router-link class="router-child-link-active" :to="{name:'donasiSaya'}">List Donasi</router-link></li>
          <li @click="updateActive('donasi')"><router-link :to="{name:'requestSaya'}">Request</router-link></li>
        </ul>
      </li>

      <li v-show="$auth.check()" @click="updateActive(false)" v-bind:class="{'visible-xs visible-sm':$auth.check()}"><router-link class="router-child-link-active" :to="{name:'infoSaya'}">Info Saya</router-link></li>
      <li v-show="$auth.check()" @click="updateActive(false)" v-bind:class="{'visible-xs visible-sm':$auth.check()}"><router-link class="router-child-link-active" :to="{name:'pollingSaya'}">Polling Saya</router-link></li>

      <li role="separator" class="divider"></li>


<!-- 
      <li>
        <a href="javascript:undefined" @click="showSaran()">Kritik & Saran</a>
      </li> -->

     <!--  <li><a href="#">Elements <i class="fa fa-angle-down"></i><span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="buttons.html"><i class="fa fa-hand-pointer-o fa-lg fa-fw"></i> Buttons</a></li>
          <li><a href="carousels.html"><i class="fa fa-clone fa-lg fa-fw"></i> Carousels</a></li>
          <li><a href="columns.html"><i class="fa fa-th-list fa-lg fa-fw"></i> Columns <span class="label label-primary">update</span></a></li>
          <li><a href="pricing.html"><i class="fa fa-credit-card fa-lg fa-fw"></i> Pricing tables</a></li>
          <li><a href="countdown.html"><i class="fa fa-clock-o fa-lg fa-fw"></i> Countdown Timer</a></li>
          <li><a href="bars-charts.html"><i class="fa fa-pie-chart fa-lg fa-fw"></i> Bars and Charts</a></li>
          <li><a href="animate-on-scroll.html"><i class="fa fa-chevron-down fa-fw"></i> Animate On Scroll</a></li>
          <li><a href="typography.html"><i class="fa fa-text-width fa-lg fa-fw"></i> Typography</a></li>
          <li><a href="accordions.html"><i class="fa fa-plus-square-o fa-lg fa-fw"></i> Accordions</a></li>
        </ul>
      </li> -->
      <li class="menu-divider visible-lg">&nbsp;</li>

      <li class="dropdown">
        <a href="#" class="dropdown-toggle">
          <i class="fa fa-search fa-lg"></i><span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <form method="post" class="search-form">
              <button type="submit" title="Search" class="search-button"><i class="fa fa-search fa-lg"></i></button>
              <input type="text" placeholder="SEARCH" class="form-control search-field">
            </form>
          </li>
        </ul>
      </li>

      <li @click="updateActive(false)" v-show="$auth.check()" class="dropdown">
        <router-link class="dropdown-toggle" :to="{name: 'cartWeb'}">
          <i class="fa fa-shopping-bag fa-lg"></i><span class="badge">{{cartCount}}</span><span class="caret"></span>
        </router-link>
        <ul v-show="cartCount > 0" class="dropdown-menu">
          <li class="shop-nav">
            <div v-for="item, index in cartData" class="shop-cart">
              <router-link :to="{name: 'itemDetail', params: {id: item.donasi.id}}">

                <img v-if="item.donasi.donasi_gambar[0]" v-bind:src="'/public/featured_image/'+item.donasi.donasi_gambar[0].donasi_image" alt="" class="img-responsive center-block pic-1">
                <img v-else v-bind:src="'/public/featured_image/no-img.png'" alt="" class="img-responsive center-block pic-1">

                <div class="btn-border btn btn-xs btn-cart">{{item.donasi.donasi_kategori.donasi_kategori_name}}</div>
                <!-- <i class="fa fa-times float-right"></i> -->
                <br>{{item.donasi.donasi_name}}
              </router-link>
            </div>

            <span v-show="cartCount > 3" class="float-right"><b>{{cartCount - 3+' Produk lainnya'}}</b></span>
          </li>
          <li>
            <router-link class="router-child-link-active" :to="{name: 'cartWeb'}">
              <span class="btn btn-white btn-sm">Cart</span>
            </router-link>   
          </li>
        </ul>
      </li>

      <li @click="updateActive(false)" v-show="!$auth.check()" v-for="(route, key) in routes.unlogged" v-bind:key="route.path">
        <a href="javascript:undefined" @click="showAuth()">
          <i class="fa fa-sign-in fa-lg"></i> {{route.name}}
        </a>
      </li>

      <li v-show="$auth.check()" @click="updateActive(false)" v-bind:class="{'visible-xs visible-sm':$auth.check()}">
        <a href="javascript:undefined" @click.prevent="$auth.logout()">
          <i class="fa fa-sign-out fa-lg"></i> Logout
        </a>
      </li>

      <li v-show="$auth.check()" class="dropdown hidden-xs hidden-sm ">
        <a href="#" class="dropdown-toggle">
          <i class="fa fa-user fa-lg"></i> Profile<span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li @click="updateActive(false)"><router-link :to="{name: 'profil'}"><i class="fa fa-user"></i> Akun Saya</router-link></li>
          <li @click="updateActive(false)"><a href="javascript:undefined" @click.prevent="$auth.logout()"><i class="fa fa-sign-out"></i> Logout</a></li>
        </ul>
      </li>


      <!-- <li v-else><router-link :to="{name: 'login'}"><span class="lang">Login</span></router-link></li> -->

  <!--     <li class="dropdown"><a href="#" class="dropdown-toggle"><span class="lang">Eng</span><span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">English</a></li>
          <li><a href="#">Español</a></li>
          <li><a href="#">Deutsch</a></li>
          <li><a href="#">Français</a></li>
          <li><a href="#">Русский</a></li>
          <li><a href="#">日本語</a></li>
          <li><a href="#">中文(简体)</a></li>
        </ul>
      </li> -->
    </ul>
  </nav>
  </div>
</template>


<script>
import Auth         from './../../authcomponents/Auth.vue';
import Saran        from './../../webcomponents/home/Saranmodal.vue';

export default {
  props: {
      cartCount : 0,
      cartData : {}
  },
  data() {
    return {
      linkActive: false,
      routes: {
        // UNLOGGED
        unlogged: [
          // { name: 'Register', path: 'register' },
          { name: 'Login / Register', path: 'login'}
        ],
        // LOGGED USER
       /* user: [
          { name: 'Dashboard', path: 'dashboard' }
        ],*/
        // LOGGED ADMIN
        /*admin: [
          { name: 'Dashboard', path: 'admin.dashboard' }
        ]*/
      }
    }
  },
  mounted() {
    var app = this

    /*app.$root.$on('update-menuactive', (data) => {
        app.updateActive(data)
    })*/
  },
  methods: {
    updateActive(data){
      var app = this;
      app.linkActive = data;

    },
    showAuth () {

      this.$modal.show(Auth, {
        text: 'This text is passed as a property',
      }, {
        name:'auth-modal',
        // draggable: true,
        adaptive: true,
        height: 'auto',
        scrollable: true,
        resizable: true,
      })

    },
    showSaran () {

      this.$modal.show(Saran, {
        text: 'This text is passed as a property',
      }, {
        name:'saran-modal',
        // draggable: true,
        adaptive: true,
        height: 'auto',
        scrollable: true,
        resizable: true,
      })

    },
    hideAuth () {
      this.$modal.hide('auth-modal');
    }
  }
}
</script>