#email-error{
	font-size: 12px;
	padding: 5px 0px;
}
#email-success{
	font-size: 12px;
	padding: 5px 0px;
}
.btn-flat{
	border-radius: 0px;
}

/* ============================================================================================== 
info style
================================================================================================= */

.info-grid .info-title{
    max-height: 24px;
    overflow: hidden;
    color: #ef5777 ;
}
.info-grid .info-title h5{
    font-weight: 600 !important;
}

.info-grid .info-desc{
    max-height: 75px;
    overflow: hidden;
}

.padding-0 {
	padding: 0;
}

@media (max-width: 991px) {

	.margin-5-after:last-child{
		margin-top: 5px !important;
	}

}

/* ============================================================================================== 
product style
================================================================================================= */

/********************* shopping Demo-1 **********************/
.product-grid{font-family:Raleway,sans-serif;text-align:center;padding:0 0 72px;border:1px solid rgba(0,0,0,.1);overflow:hidden;position:relative;z-index:1}
.product-grid .product-image{position:relative;transition:all .3s ease 0s}
.product-grid .product-image a{display:block}
.product-grid .product-image img{width:100%;height:auto;margin-bottom: 0; background-color: #fff;}
.product-grid .pic-1{opacity:1;transition:all .3s ease-out 0s}
.product-grid:hover .pic-1{opacity:1}
.product-grid .pic-2{opacity:0;position:absolute;top:0;left:0;transition:all .3s ease-out 0s}
.product-grid:hover .pic-2{opacity:1}
.product-grid .social{width:150px;padding:0;margin:0;list-style:none;opacity:0;transform:translateY(-50%) translateX(-50%);position:absolute;top:60%;left:50%;z-index:1;transition:all .3s ease 0s}
.product-grid:hover .social{opacity:1;top:50%}
.product-grid .social li{display:inline-block}
.product-grid .social li a{color:#fff;background-color:#333;font-size:16px;line-height:40px;text-align:center;height:40px;width:40px;margin:0 2px;display:block;position:relative;transition:all .3s ease-in-out}
.product-grid .social li a:hover{color:#fff;background-color:#ef5777}
.product-grid .social li a:after,.product-grid .social li a:before{content:attr(data-tip);color:#fff;background-color:#000;font-size:12px;letter-spacing:1px;line-height:20px;padding:1px 5px;white-space:nowrap;opacity:0;transform:translateX(-50%);position:absolute;left:50%;top:-30px}
.product-grid .social li a:after{content:'';height:15px;width:15px;border-radius:0;transform:translateX(-50%) rotate(45deg);top:-20px;z-index:-1}
.product-grid .social li a:hover:after,.product-grid .social li a:hover:before{opacity:1}
.product-grid .product-discount-label,.product-grid .product-new-label{color:#fff;background-color:#ef5777;font-size:12px;text-transform:uppercase;padding:2px 7px;display:block;position:absolute;top:10px;left:0}
.product-grid .product-discount-label{background-color:#333;left:auto;right:0}
.product-grid .rating{color:#FFD200;font-size:12px;padding:12px 0 0;/*margin:0;*/list-style:none;position:relative;z-index:-1}
.product-grid .rating li.disable{color:rgba(0,0,0,.2)}
.product-grid .product-content{background-color:#fff;text-align:center;padding:12px 0;margin:0 auto;position:absolute;left:0;right:0;bottom:-27px;z-index:1;transition:all .3s}
.product-grid:hover .product-content{bottom:0}
.product-grid .title{

    max-height: 24px;
    overflow: hidden;
    position: relative;
    word-break: break-all;

	font-size:13px;
	font-weight:400;
	letter-spacing:.5px;
	text-transform:capitalize;
	margin:0 5px 10px;
	transition:all .3s ease 0s
}
.product-grid .title a{color:#828282}
.product-grid .title a:hover,.product-grid:hover .title a{color:#ef5777}
.product-grid .price{color:#333;font-size:17px;font-family:Montserrat,sans-serif;font-weight:700;letter-spacing:.6px;margin-bottom:8px;text-align:center;transition:all .3s}
.product-grid .price span{color:#999;font-size:13px;font-weight:400;text-decoration:line-through;margin-left:3px;display:inline-block}
.product-grid .add-to-cart{color:#000;font-size:13px;font-weight:600}
@media only screen and (max-width:990px){.product-grid{margin-bottom:30px}
}

/********************* Shopping Demo-2 **********************/
.demo{padding:45px 0}
.product-grid2{font-family:'Open Sans',sans-serif;position:relative}
.product-grid2 .product-image2{overflow:hidden;position:relative}
.product-grid2 .product-image2 a{display:block}
.product-grid2 .product-image2 img{width:100%;height:auto}
.product-image2 .pic-1{opacity:1;transition:all .5s}
.product-grid2:hover .product-image2 .pic-1{opacity:0}
.product-image2 .pic-2{width:100%;height:100%;opacity:0;position:absolute;top:0;left:0;transition:all .5s}
.product-grid2:hover .product-image2 .pic-2{opacity:1}
.product-grid2 .social{padding:0;margin:0;position:absolute;bottom:50px;right:25px;z-index:1}
.product-grid2 .social li{margin:0 0 10px;display:block;transform:translateX(100px);transition:all .5s}
.product-grid2:hover .social li{transform:translateX(0)}
.product-grid2:hover .social li:nth-child(2){transition-delay:.15s}
.product-grid2:hover .social li:nth-child(3){transition-delay:.25s}
.product-grid2 .social li a{color:#505050;background-color:#fff;font-size:17px;line-height:45px;text-align:center;height:45px;width:45px;border-radius:50%;display:block;transition:all .3s ease 0s}
.product-grid2 .social li a:hover{color:#fff;background-color:#3498db;box-shadow:0 0 10px rgba(0,0,0,.5)}
.product-grid2 .social li a:after,.product-grid2 .social li a:before{content:attr(data-tip);color:#fff;background-color:#000;font-size:12px;line-height:22px;border-radius:3px;padding:0 5px;white-space:nowrap;opacity:0;transform:translateX(-50%);position:absolute;left:50%;top:-30px}
.product-grid2 .social li a:after{content:'';height:15px;width:15px;border-radius:0;transform:translateX(-50%) rotate(45deg);top:-22px;z-index:-1}
.product-grid2 .social li a:hover:after,.product-grid2 .social li a:hover:before{opacity:1}
.product-grid2 .add-to-cart{color:#fff;background-color:#404040;font-size:15px;text-align:center;width:100%;padding:10px 0;display:block;position:absolute;left:0;bottom:-100%;transition:all .3s}
.product-grid2 .add-to-cart:hover{background-color:#3498db;text-decoration:none}
.product-grid2:hover .add-to-cart{bottom:0}
.product-grid2 .product-new-label{background-color:#3498db;color:#fff;font-size:17px;padding:5px 10px;position:absolute;right:0;top:0;transition:all .3s}
.product-grid2:hover .product-new-label{opacity:0}
.product-grid2 .product-content{padding:20px 10px;text-align:center}
.product-grid2 .title{font-size:17px;margin:0 0 7px}
.product-grid2 .title a{color:#303030}
.product-grid2 .title a:hover{color:#3498db}
.product-grid2 .price{color:#303030;font-size:15px}
@media screen and (max-width:990px){.product-grid2{margin-bottom:30px}
}

/********************* Shopping Demo-3 **********************/
.product-grid3{font-family:Roboto,sans-serif;text-align:center;position:relative;z-index:1}
.product-grid3:before{content:"";height:81%;width:100%;background:#fff;border:1px solid rgba(0,0,0,.1);opacity:0;position:absolute;top:0;left:0;z-index:-1;transition:all .5s ease 0s}
.product-grid3:hover:before{opacity:1;height:100%}
.product-grid3 .product-image3{position:relative}
.product-grid3 .product-image3 a{display:block}
.product-grid3 .product-image3 img{width:100%;height:auto}
.product-grid3 .pic-1{opacity:1;transition:all .5s ease-out 0s}
.product-grid3:hover .pic-1{opacity:0}
.product-grid3 .pic-2{position:absolute;top:0;left:0;opacity:0;transition:all .5s ease-out 0s}
.product-grid3:hover .pic-2{opacity:1}
.product-grid3 .social{width:120px;padding:0;margin:0 auto;list-style:none;opacity:0;position:absolute;right:0;left:0;bottom:-23px;transform:scale(0);transition:all .3s ease 0s}
.product-grid3:hover .social{opacity:1;transform:scale(1)}
.product-grid3:hover .product-discount-label,.product-grid3:hover .product-new-label,.product-grid3:hover .title{opacity:0}
.product-grid3 .social li{display:inline-block}
.product-grid3 .social li a{color:#e67e22;background:#fff;font-size:18px;line-height:50px;width:50px;height:50px;border:1px solid rgba(0,0,0,.1);border-radius:50%;margin:0 2px;display:block;transition:all .3s ease 0s}
.product-grid3 .social li a:hover{background:#e67e22;color:#fff}
.product-grid3 .product-discount-label,.product-grid3 .product-new-label{background-color:#e67e22;color:#fff;font-size:17px;padding:2px 10px;position:absolute;right:10px;top:10px;transition:all .3s}
.product-grid3 .product-content{z-index:-1;padding:15px;text-align:left}
.product-grid3 .title{font-size:14px;text-transform:capitalize;margin:0 0 7px;transition:all .3s ease 0s}
.product-grid3 .title a{color:#414141}
.product-grid3 .price{color:#000;font-size:16px;letter-spacing:1px;font-weight:600;margin-right:2px;display:inline-block}
.product-grid3 .price span{color:#909090;font-size:14px;font-weight:500;letter-spacing:0;text-decoration:line-through;text-align:left;display:inline-block;margin-top:-2px}
.product-grid3 .rating{padding:0;margin:-22px 0 0;list-style:none;text-align:right;display:block}
.product-grid3 .rating li{color:#ffd200;font-size:13px;display:inline-block}
.product-grid3 .rating li.disable{color:#dcdcdc}
@media only screen and (max-width:1200px){.product-grid3 .rating{margin:0}
}
@media only screen and (max-width:990px){.product-grid3{margin-bottom:30px}
.product-grid3 .rating{margin:-22px 0 0}
}
@media only screen and (max-width:359px){.product-grid3 .rating{margin:0}
}

/********************* Shopping Demo-4 **********************/
.product-grid4,.product-grid4 .product-image4{position:relative}
.product-grid4{font-family:Poppins,sans-serif;text-align:center;border-radius:5px;overflow:hidden;z-index:1;transition:all .3s ease 0s}
.product-grid4:hover{box-shadow:0 0 10px rgba(0,0,0,.2)}
.product-grid4 .product-image4 a{display:block}
.product-grid4 .product-image4 img{width:100%;height:auto}
.product-grid4 .pic-1{opacity:1;transition:all .5s ease-out 0s}
.product-grid4:hover .pic-1{opacity:0}
.product-grid4 .pic-2{position:absolute;top:0;left:0;opacity:0;transition:all .5s ease-out 0s}
.product-grid4:hover .pic-2{opacity:1}
.product-grid4 .social{width:180px;padding:0;margin:0 auto;list-style:none;position:absolute;right:0;left:0;top:50%;transform:translateY(-50%);transition:all .3s ease 0s}
.product-grid4 .social li{display:inline-block;opacity:0;transition:all .7s}
.product-grid4 .social li:nth-child(1){transition-delay:.15s}
.product-grid4 .social li:nth-child(2){transition-delay:.3s}
.product-grid4 .social li:nth-child(3){transition-delay:.45s}
.product-grid4:hover .social li{opacity:1}
.product-grid4 .social li a{color:#222;background:#fff;font-size:17px;line-height:36px;width:40px;height:36px;border-radius:2px;margin:0 5px;display:block;transition:all .3s ease 0s}
.product-grid4 .social li a:hover{color:#fff;background:#16a085}
.product-grid4 .social li a:after,.product-grid4 .social li a:before{content:attr(data-tip);color:#fff;background-color:#000;font-size:12px;line-height:20px;border-radius:3px;padding:0 5px;white-space:nowrap;opacity:0;transform:translateX(-50%);position:absolute;left:50%;top:-30px}
.product-grid4 .social li a:after{content:'';height:15px;width:15px;border-radius:0;transform:translateX(-50%) rotate(45deg);top:-22px;z-index:-1}
.product-grid4 .social li a:hover:after,.product-grid4 .social li a:hover:before{opacity:1}
.product-grid4 .product-discount-label,.product-grid4 .product-new-label{color:#fff;background-color:#16a085;font-size:13px;font-weight:800;text-transform:uppercase;line-height:45px;height:45px;width:45px;border-radius:50%;position:absolute;left:10px;top:15px;transition:all .3s}
.product-grid4 .product-discount-label{left:auto;right:10px;background-color:#d7292a}
.product-grid4:hover .product-new-label{opacity:0}
.product-grid4 .product-content{padding:25px}
.product-grid4 .title{font-size:15px;font-weight:400;text-transform:capitalize;margin:0 0 7px;transition:all .3s ease 0s}
.product-grid4 .title a{color:#222}
.product-grid4 .title a:hover{color:#16a085}
.product-grid4 .price{color:#16a085;font-size:17px;font-weight:700;margin:0 2px 15px 0;display:block}
.product-grid4 .price span{color:#909090;font-size:13px;font-weight:400;letter-spacing:0;text-decoration:line-through;text-align:left;vertical-align:middle;display:inline-block}
.product-grid4 .add-to-cart{border:1px solid #e5e5e5;display:inline-block;padding:10px 20px;color:#888;font-weight:600;font-size:14px;border-radius:4px;transition:all .3s}
.product-grid4:hover .add-to-cart{border:1px solid transparent;background:#16a085;color:#fff}
.product-grid4 .add-to-cart:hover{background-color:#505050;box-shadow:0 0 10px rgba(0,0,0,.5)}
@media only screen and (max-width:990px){.product-grid4{margin-bottom:30px}
}

/********************* Shopping Demo-5 **********************/
.product-image5 .pic-1,.product-image5 .pic-2{backface-visibility:hidden;transition:all .5s ease 0s}
.product-grid5{font-family:Poppins,sans-serif;position:relative}
.product-grid5 .product-image5{overflow:hidden;position:relative}
.product-grid5 .product-image5 a{display:block}
.product-grid5 .product-image5 img{width:100%;height:auto}
.product-image5 .pic-1{opacity:1}
.product-grid5:hover .product-image5 .pic-1{opacity:0}
.product-image5 .pic-2{width:100%;height:100%;opacity:0;position:absolute;top:0;left:0}
.product-grid5:hover .product-image5 .pic-2{opacity:1}
.product-grid5 .social{padding:0;margin:0;position:absolute;top:10px;right:10px}
.product-grid5 .social li{display:block;margin:0 0 10px;transition:all .5s}
.product-grid5 .social li:nth-child(2){opacity:0;transform:translateY(-50px)}
.product-grid5:hover .social li:nth-child(2){opacity:1;transform:translateY(0)}
.product-grid5 .social li:nth-child(3){opacity:0;transform:translateY(-50px)}
.product-grid5:hover .social li:nth-child(3){opacity:1;transform:translateY(0);transition-delay:.2s}
.product-grid5 .social li a{color:#888;background:#fff;font-size:14px;text-align:center;line-height:40px;height:40px;width:40px;border-radius:50%;display:block;transition:.5s ease 0s}
.product-grid5 .social li a:hover{color:#fff;background:#1e3799}
.product-grid5 .select-options{color:#777;background-color:#fff;font-size:13px;font-weight:400;text-align:center;text-transform:uppercase;padding:15px 5px;margin:0 auto;opacity:0;display:block;position:absolute;width:92%;left:0;bottom:-100px;right:0;transition:.5s ease 0s}
.product-grid5 .select-options:hover{color:#fff;background-color:#1e3799;text-decoration:none}
.product-grid5:hover .select-options{opacity:1;bottom:10px}
.product-grid5 .product-content{padding:20px 10px}
.product-grid5 .title{font-size:15px;font-weight:600;text-transform:capitalize;margin:0 0 10px;transition:all .3s ease 0s}
.product-grid5 .title a{color:#222}
.product-grid5 .title a:hover{color:#1e3799}
.product-grid5 .price{color:#222;font-size:13px;font-weight:500;letter-spacing:1px}
@media only screen and (max-width:990px){.product-grid5{margin-bottom:30px}
}

/********************* Shopping Demo-6 **********************/
.product-grid6,.product-grid6 .product-image6{overflow:hidden}
.product-grid6{font-family:'Open Sans',sans-serif;text-align:center;position:relative;transition:all .5s ease 0s}
.product-grid6:hover{box-shadow:0 0 10px rgba(0,0,0,.3)}
.product-grid6 .product-image6 a{display:block}
.product-grid6 .product-image6 img{width:100%;height:auto;transition:all .5s ease 0s}
.product-grid6:hover .product-image6 img{transform:scale(1.1)}
.product-grid6 .product-content{padding:12px 12px 15px;transition:all .5s ease 0s}
.product-grid6:hover .product-content{opacity:0}
.product-grid6 .title{font-size:20px;font-weight:600;text-transform:capitalize;margin:0 0 10px;transition:all .3s ease 0s}
.product-grid6 .title a{color:#000}
.product-grid6 .title a:hover{color:#2e86de}
.product-grid6 .price{font-size:18px;font-weight:600;color:#2e86de}
.product-grid6 .price span{color:#999;font-size:15px;font-weight:400;text-decoration:line-through;margin-left:7px;display:inline-block}
.product-grid6 .social{background-color:#fff;width:100%;padding:0;margin:0;list-style:none;opacity:0;transform:translateX(-50%);position:absolute;bottom:-50%;left:50%;z-index:1;transition:all .5s ease 0s}
.product-grid6:hover .social{opacity:1;bottom:20px}
.product-grid6 .social li{display:inline-block}
.product-grid6 .social li a{color:#909090;font-size:16px;line-height:45px;text-align:center;height:45px;width:45px;margin:0 7px;border:1px solid #909090;border-radius:50px;display:block;position:relative;transition:all .3s ease-in-out}
.product-grid6 .social li a:hover{color:#fff;background-color:#2e86de;width:80px}
.product-grid6 .social li a:after,.product-grid6 .social li a:before{content:attr(data-tip);color:#fff;background-color:#2e86de;font-size:12px;letter-spacing:1px;line-height:20px;padding:1px 5px;border-radius:5px;white-space:nowrap;opacity:0;transform:translateX(-50%);position:absolute;left:50%;top:-30px}
.product-grid6 .social li a:after{content:'';height:15px;width:15px;border-radius:0;transform:translateX(-50%) rotate(45deg);top:-20px;z-index:-1}
.product-grid6 .social li a:hover:after,.product-grid6 .social li a:hover:before{opacity:1}
@media only screen and (max-width:990px){.product-grid6{margin-bottom:30px}
}

/********************* Shopping Demo-7 **********************/
.product-grid7{font-family:'Roboto Slab',serif;position:relative;z-index:1}
.product-grid7 .product-image7{border:1px solid rgba(0,0,0,.1);overflow:hidden;perspective:1500px;position:relative;transition:all .3s ease 0s}
.product-grid7 .product-image7 a{display:block}
.product-grid7 .product-image7 img{width:100%;height:auto}
.product-grid7 .pic-1{opacity:1;transition:all .5s ease-out 0s}
.product-grid7 .pic-2{opacity:0;transform:rotateY(-90deg);position:absolute;top:0;left:0;transition:all .5s ease-out 0s}
.product-grid7:hover .pic-2{opacity:1;transform:rotateY(0)}
.product-grid7 .social{padding:0;margin:0;list-style:none;position:absolute;bottom:3px;left:-20%;z-index:1;transition:all .5s ease 0s}
.product-grid7:hover .social{left:17px}
.product-grid7 .social li a{color:#fff;background-color:#333;font-size:16px;line-height:40px;text-align:center;height:40px;width:40px;margin:15px 0;border-radius:50%;display:block;transition:all .5s ease-in-out}
.product-grid7 .social li a:hover{color:#fff;background-color:#78e08f}
.product-grid7 .product-new-label{color:#fff;background-color:#333;padding:5px 10px;border-radius:5px;display:block;position:absolute;top:10px;left:10px}
.product-grid7 .product-content{text-align:center;padding:20px 0 0}
.product-grid7 .title{font-size:15px;font-weight:600;text-transform:capitalize;margin:0 0 10px;transition:all .3s ease 0s}
.product-grid7 .title a{color:#333}
.product-grid7 .title a:hover{color:#78e08f}
.product-grid7 .rating{color:#78e08f;font-size:12px;padding:0;margin:0 0 10px;list-style:none}
.product-grid7 .price{color:#333;font-size:20px;font-family:Lora,serif;font-weight:700;margin-bottom:8px;text-align:center;transition:all .3s}
.product-grid7 .price span{color:#999;font-size:14px;font-weight:700;text-decoration:line-through;margin-left:7px;display:inline-block}
@media only screen and (max-width:990px){.product-grid7{margin-bottom:30px}
}

/********************* Shopping Demo-8 **********************/
.product-grid8{font-family:Poppins,sans-serif;position:relative;z-index:1}
.product-grid8 .product-image8{border:1px solid #e4e9ef;position:relative;transition:all .3s ease 0s}
.product-grid8:hover .product-image8{box-shadow:0 0 10px rgba(0,0,0,.15)}
.product-grid8 .product-image8 a{display:block}
.product-grid8 .product-image8 img{width:100%;height:auto}
.product-grid8 .pic-1{opacity:1;transition:all .5s ease-out 0s}
.product-grid8:hover .pic-1{opacity:0}
.product-grid8 .pic-2{opacity:0;position:absolute;top:0;left:0;transition:all .5s ease-out 0s}
.product-grid8:hover .pic-2{opacity:1}
.product-grid8 .social{padding:0;margin:0;list-style:none;position:absolute;bottom:13px;right:13px;z-index:1}
.product-grid8 .social li{opacity:0;transform:translateY(3px);transition:all .5s ease 0s}
.product-grid8:hover .social li{margin:0 0 10px;opacity:1;transform:translateY(0)}
.product-grid8:hover .social li:nth-child(1){transition-delay:.1s}
.product-grid8:hover .social li:nth-child(2){transition-delay:.2s}
.product-grid8:hover .social li:nth-child(3){transition-delay:.4s}
.product-grid8 .social li a{color:grey;font-size:17px;line-height:40px;text-align:center;height:40px;width:40px;border:1px solid grey;display:block;transition:all .5s ease-in-out}
.product-grid8 .social li a:hover{color:#000;border-color:#000}
.product-grid8 .product-discount-label{display:block;padding:4px 15px 4px 30px;color:#fff;background-color:#0081c2;position:absolute;top:10px;right:0;-webkit-clip-path:polygon(34% 0,100% 0,100% 100%,0 100%);clip-path:polygon(34% 0,100% 0,100% 100%,0 100%)}
.product-grid8 .product-content{padding:20px 0 0}
.product-grid8 .price{color:#000;font-size:19px;font-weight:400;margin-bottom:8px;text-align:left;transition:all .3s}
.product-grid8 .price span{color:#999;font-size:14px;font-weight:500;text-decoration:line-through;margin-left:7px;display:inline-block}
.product-grid8 .product-shipping{color:rgba(0,0,0,.5);font-size:15px;padding-left:35px;margin:0 0 15px;display:block;position:relative}
.product-grid8 .product-shipping:before{content:'';height:1px;width:25px;background-color:rgba(0,0,0,.5);transform:translateY(-50%);position:absolute;top:50%;left:0}
.product-grid8 .title{font-size:16px;font-weight:400;text-transform:capitalize;margin:0 0 30px;transition:all .3s ease 0s}
.product-grid8 .title a{color:#000}
.product-grid8 .title a:hover{color:#0081c2}
.product-grid8 .all-deals{display:block;color:#fff;background-color:#2e353b;font-size:15px;letter-spacing:1px;text-align:center;text-transform:uppercase;padding:22px 5px;transition:all .5s ease 0s}
.product-grid8 .all-deals .icon{margin-left:7px}
.product-grid8 .all-deals:hover{background-color:#0081c2}
@media only screen and (max-width:990px){.product-grid8{margin-bottom:30px}
}

/********************* Shopping Demo-9 **********************/
.product-grid9,.product-grid9 .product-image9{position:relative}
.product-grid9{font-family:Poppins,sans-serif;z-index:1}
.product-grid9 .product-image9 a{display:block}
.product-grid9 .product-image9 img{width:100%;height:auto}
.product-grid9 .pic-1{opacity:1;transition:all .5s ease-out 0s}
.product-grid9:hover .pic-1{opacity:0}
.product-grid9 .pic-2{position:absolute;top:0;left:0;opacity:0;transition:all .5s ease-out 0s}
.product-grid9:hover .pic-2{opacity:1}
.product-grid9 .product-full-view{color:#505050;background-color:#fff;font-size:16px;height:45px;width:45px;padding:18px;border-radius:100px 0 0;display:block;opacity:0;position:absolute;right:0;bottom:0;transition:all .3s ease 0s}
.product-grid9 .product-full-view:hover{color:#c0392b}
.product-grid9:hover .product-full-view{opacity:1}
.product-grid9 .product-content{padding:12px 12px 0;overflow:hidden;position:relative}
.product-content .rating{padding:0;margin:0 0 7px;list-style:none}
.product-grid9 .rating li{font-size:12px;color:#ffd200;transition:all .3s ease 0s}
.product-grid9 .rating li.disable{color:rgba(0,0,0,.2)}
.product-grid9 .title{font-size:16px;font-weight:400;text-transform:capitalize;margin:0 0 3px;transition:all .3s ease 0s}
.product-grid9 .title a{color:rgba(0,0,0,.5)}
.product-grid9 .title a:hover{color:#c0392b}
.product-grid9 .price{color:#000;font-size:17px;margin:0;display:block;transition:all .5s ease 0s}
.product-grid9:hover .price{opacity:0}
.product-grid9 .add-to-cart{display:block;color:#c0392b;font-weight:600;font-size:14px;opacity:0;position:absolute;left:10px;bottom:-20px;transition:all .5s ease 0s}
.product-grid9:hover .add-to-cart{opacity:1;bottom:0}
@media only screen and (max-width:990px){.product-grid9{margin-bottom:30px}
}


/* ============================================================================================== 
wave design color
================================================================================================= */

.container-wave, .container-wave2{
	overflow: hidden;
}

.container-wave .box-wave {
  /*position: fixed;*/
  top: 0;
  transform: rotate(80deg); 
  left: 0;
}

.container-wave .wave {
  position: absolute;
  opacity: .4;
  width: 1500px;
  height: 1300px;
  margin-left: -150px;
  margin-top: -250px;
  border-radius: 43%;
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}

.container-wave .wave.-one {
  animation: rotate 7000ms infinite linear;
  opacity: .1;
}

.container-wave .wave.-two {
  animation: rotate 3000ms infinite linear;
  opacity: .1;
}

.container-wave .wave.-three {
  animation: rotate 7500ms infinite linear;
}




.container-wave2 .waves {
	bottom: 0;
  position: absolute;
  width: 100%;
  height: 400vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 400px;
}
/* Animation */
.container-wave2 .parallax>use {
  animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}
.container-wave2 .parallax>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.container-wave2 .parallax>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.container-wave2 .parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.container-wave2 .parallax>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

/* ============================================================================================== 
stars animation
================================================================================================= */

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
}

.banner-stars{
	opacity: 0.5;
}

.stars, .twinkling, .clouds {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index:0;
}

.twinkling{
  background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index:1;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}

.clouds{
    background:transparent url(http://www.script-tutorials.com/demos/360/images/clouds3.png) repeat top center;
    z-index:3;

  -moz-animation:move-clouds-back 200s linear infinite;
  -ms-animation:move-clouds-back 200s linear infinite;
  -o-animation:move-clouds-back 200s linear infinite;
  -webkit-animation:move-clouds-back 200s linear infinite;
  animation:move-clouds-back 200s linear infinite;
}

/* ============================================================================================== 
polling css
================================================================================================= */

.review-block{
	background-color:#FAFAFA;
	border:1px solid #EFEFEF;
	padding:15px;
	border-radius:3px;
	margin-bottom:15px;
}

.review-block .btn-xs {
    padding: 4px 6px;
}

.review-block-name{
	font-size:12px;
	margin:10px 0;
}
.review-block-date{
	font-size:12px;
}
.review-block-rate{
	font-size:13px;
	margin-bottom:15px;
}
.review-block-title{
	font-size:15px;
	font-weight:700;
	margin-bottom:10px;
}
.review-block-description{
	font-size:13px;
}



/* ============================================================================================== 
list daftar anak css
================================================================================================= */

.list-nav-tabs .nav-tabs .nav-header .nav-link{
    font-weight:600;
    border: none;
}
.list-nav-tabs .nav-tabs .nav-header.active .nav-link{
    border: none;
    border-bottom:2px solid #f79b81 !important;
 	padding-bottom: 13px;
}

.list-card {
    
    margin-top: 30px;
}

.list-card .card {
    border: none;
    /*background: #ffffff;*/
    height: 400px;
    overflow: scroll;
    word-break: break-all;
    padding: 10px 10px;
}

.list-card .image-flip:hover .backside,
.list-card .image-flip:hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.list-card .image-flip:hover .frontside,
.list-card .image-flip:hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.list-card .mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.list-card .frontside {
	width: 100%;
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
    background: #f5f5f5;
}

.list-card .backside {
	width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #f5f5f5;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.list-card .frontside,
.list-card .backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.list-card .frontside .card,
.list-card .backside .card {
    min-height: 312px;
}

.list-card .backside .card a {
    font-size: 18px;
    color: #fe9c7f !important;
}

.list-card .frontside .card .card-title,
.list-card .backside .card .card-title {
    color: #ef5777 !important;
    margin-bottom: 10px;
}

.list-card .card-title-overlay {
    overflow: hidden;
    height: 55px;
    text-overflow: ellipsis;
}

.list-card .backside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.list-card .frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}



/* width */
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ef5777; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.list-card .div-table {
	text-align: left;
  display: table;         
  width: auto;         
  border-spacing: 5px; /* cellspacing:poor IE support for  this */
}
.list-card .div-table-row {
  display: table-row;
  width: auto;
  clear: both;
}
.list-card .div-table-col {
  float: left; /* fix for  buggy browsers */
  display: table-column;         
  /*width: 200px;         */
}

/* ============================================================================================== 
panel info user detail donasi css
================================================================================================= */
.panel-info-user > .panel-heading,
.panel-info-user > .panel-footer {
    /*background-color: rgb(255, 255, 255);*/
    border-width: 0px; 
}
.panel-info-user > .panel-border {
    border-right: 1px solid rgba(0,0,0,.05);
}
.panel-info-user > .panel-heading {
    margin-top: 20px;    
    padding-bottom: 5px; 
}
.panel-info-user > .panel-heading > img { 
    margin-right: 15px;
	width: 50px;
	height: 50px;
}
.panel-info-user > .panel-heading > h3 {
    margin: 0px;
    font-size: 14px;
    font-weight: 700;
}
.panel-info-user > .panel-heading > h5 {
    color: rgb(153, 153, 153);
    font-size: 12px;
    font-weight: 400;
}


/* ============================================================================================== 
panel accordion css
================================================================================================= */


#accordion .panel-title > a:before {
    float: right !important;
    font-family: FontAwesome;
    content:"\f055";
    padding-right: 5px;
}
#accordion .panel-title > a.collapsed:before {
    float: right !important;
    content:"\f056";
}
#accordion .panel-title > a:hover, 
#accordion .panel-title > a:active, 
#accordion .panel-title > a:focus  {
    text-decoration:none;
}





.checkbox.checbox-switch {
	line-height: 0;
    padding-left: 0;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 8px;
    border-right: 1px solid #d7d7d7;
}

.checkbox.checbox-switch label,
.checkbox-inline.checbox-switch {
    display: inline-block;
    position: relative;
    padding-left: 0;
}
.checkbox.checbox-switch label input,
.checkbox-inline.checbox-switch input {
    display: none;
}
.checkbox.checbox-switch label span,
.checkbox-inline.checbox-switch span {
    width: 35px;
    border-radius: 20px;
    height: 18px;
    border: 1px solid #dbdbdb;
    background-color: rgb(255, 255, 255);
    border-color: rgb(223, 223, 223);
    box-shadow: rgb(223, 223, 223) 0px 0px 0px 0px inset;
    transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}
.checkbox.checbox-switch label span:before,
.checkbox-inline.checbox-switch span:before {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: rgb(255,255,255);
    content: " ";
    top: 0;
    position: relative;
    left: 0;
    transition: all 0.3s ease;
    box-shadow: 0 1px 4px rgba(0,0,0,0.4);
}
.checkbox.checbox-switch label > input:checked + span:before,
.checkbox-inline.checbox-switch > input:checked + span:before {
    left: 17px;
}


/* Switch Info */
.checkbox.checbox-switch.switch-info label > input:checked + span,
.checkbox-inline.checbox-switch.switch-info > input:checked + span {
    background-color: #ef5777;
    border-color: #ef5777;
    box-shadow: #ef5777 0px 0px 0px 8px inset;
    transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
}
.checkbox.checbox-switch.switch-info label > input:checked:disabled + span,
.checkbox-inline.checbox-switch.switch-info > input:checked:disabled + span {
    background-color: #d7d7d7;
    border-color: #d7d7d7;
    box-shadow: #d7d7d7 0px 0px 0px 8px inset;
    transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
}
/* ============================================================================================== 
form input css
================================================================================================= */

.form-total{
	width: 150px;
}
.form-total .btn{
    padding: 6px 12px;
    font-size: 14px !important;
}
.form-total .input-number{
	text-align: center;
}



.comments input, .comments textarea {
  outline: none;
  border: none;
  display: block;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  /*font-family: "PT Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;*/
  /*font-size: 1rem;*/
  color: #555f77;
}
.comments input::-webkit-input-placeholder, .comments textarea::-webkit-input-placeholder {
  color: #ced2db;
}
.comments input::-moz-placeholder, .comments textarea::-moz-placeholder {
  color: #ced2db;
}
.comments input:-moz-placeholder, .comments textarea:-moz-placeholder {
  color: #ced2db;
}
.comments input:-ms-input-placeholder, .comments textarea:-ms-input-placeholder {
  color: #ced2db;
}

.comments p {
  line-height: 2rem;
}

.comments {
  /*margin: 2.5rem auto 0;*/
  width: 100%;
  /*padding: 0 1.25rem;*/
}

.comments .comment-wrap {
  margin-bottom: 1.25rem;
  display: table;
  width: 100%;
  min-height: 5.3125rem;
}

.comments .photo {
  padding-top: 0.625rem;
  display: table-cell;
  width: 3.5rem;
  padding-right: 10px;
}
.comments .photo .avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-size: contain;
}

.comments .comment-block {
  padding: 1rem;
  background-color: #fff;
  display: table-cell;
  vertical-align: top;
  border-radius: 0.1875rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
}
.comments .comment-block textarea {
  width: 100%;
  resize: none;
}

.comments .comment-block h4 {
  margin-bottom: 10px;
}

.comments .comment-text {
  margin-bottom: 1.25rem;
}

.comments .bottom-comment {
  color: #acb4c2;
  font-size: 0.875rem;
}

.comments .comment-date {
  float: left;
}

.comments .comment-actions {
    width: 200px;
    float: right;
    text-align: right;
}
.comments .comment-actions li {
  display: inline;
  margin: -2px;
  cursor: pointer;
}
.comments .comment-actions li.complain {
  padding-right: 0.75rem;
  border-right: 1px solid #e1e5eb;
}
.comments .comment-actions li.reply {
  padding-left: 0.75rem;
  padding-right: 0.125rem;
}
.comments .comment-actions li:hover {
  color: #0095ff;
}




/* ============================================================================================== 
sidebar css
================================================================================================= */

.sidebar{ 
	/*background-color:#000;*/
	transition: all 0.5s  ease-in-out; 
}

.sidebar a.active{
    color: #ef5777 ;

}

.sidebar ul{ list-style:none; margin:0px; padding:0px; }
.sidebar li a,.sidebar li a.collapsed.active{ 
	display:block; 
	padding:8px 12px; 
	/*color:#fff;*/
	/*border-left:0px solid #fe9c7f;  */
	text-decoration:none
}
.sidebar li a.active{
	/*background-color:#000;*/
	/*border-left:5px solid #fe9c7f; */
	transition: all 0.5s  ease-in-out
}
.sidebar li a:hover{
    color: #ef5777 ;
	/*background-color:#000 !important;*/
}
.sidebar li a i{ padding-right:5px;}
.sidebar ul li .sub-menu li a{ position:relative}
.sidebar ul li .sub-menu li a:before{
    font-family: FontAwesome;
    /*content: "\f105";*/
    display: inline-block;
    padding-left: 0px;
    padding-right: 10px;
    vertical-align: middle;
}
.sidebar ul li .sub-menu li a:hover:after {
    content: "";
    position: absolute;
    left: -5px;
    top: 0;
    width: 5px;
    /*background-color: #953c83;*/
    height: 100%;
}
.sidebar ul li .sub-menu li a:hover{ 
	/*background-color:#222; */
	padding-left:15px; 
	transition: all 0.5s  ease-in-out;
    color: #ef5777 ;

}
.sidebar .sub-menu{ 
	padding-left: 15px;
	/*border-left:5px solid #fe9c7f;*/
}
.sidebar li a .nav-label,.sidebar li a .nav-label+span{ 
	transition: all 0.5s  ease-in-out;
}


.sidebar.fliph li a .nav-label,.sidebar.fliph li a .nav-label+span{ 
	display:none;
	transition: all 0.5s  ease-in-out;
}
.sidebar.fliph {
	width: 42px;
	transition: all 0.5s  ease-in-out;

}
	
.sidebar.fliph li{ position:relative}
.sidebar.fliph .sub-menu {
    position: absolute;
    left: 39px;
    top: 0;
    /*background-color: #222;*/
    width: 150px;
    z-index: 100;
}

.sidebar a.router-link-active {
    color: #ef5777 ;
}







/* ============================================================================================== 
message layout css
================================================================================================= */


.app {
  position: relative;
  overflow: hidden;
  top: 19px;
  /*height: calc(100% - 100px);*/
  height: 600px;
  margin: auto;
  padding: 0;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06), 0 2px 5px 0 rgba(0, 0, 0, .2);
}

.app .app-one {
  background-color: #f7f7f7;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06), 0 2px 5px 0 rgba(0, 0, 0, .2);
}

.app .side {
  padding: 0;
  margin: 0;
  height: 100%;
}
.app .side-one {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
  display: block;
  top: 0;
}

.app .heading {
  padding: 10px 16px 10px 15px;
  margin: 0;
  height: 60px;
  width: 100%;
  background-color: #eee;
  z-index: 1000;
}

.app .heading-avatar {
  padding: 0;
  cursor: pointer;

}

.app .heading-avatar-icon img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.app .heading-name {
  padding: 0 !important;
  cursor: pointer;
}

.app .heading-name-meta {
  font-weight: 700;
  font-size: 100%;
  padding: 5px;
  padding-bottom: 0;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #000;
  display: block;
}
.app .heading-online {
  display: none;
  padding: 0 5px;
  font-size: 12px;
  color: #93918f;
}
.app .heading-compose {
  padding: 0;
}

.app .heading-compose i {
  text-align: center;
  padding: 5px;
  color: #93918f;
  cursor: pointer;
}

.app .heading-dot {
  padding: 0;
  margin-left: 10px;
}

.app .heading-dot i {
  text-align: right;
  padding: 5px;
  color: #93918f;
  cursor: pointer;
}

.app .searchBox {
  padding: 0 !important;
  margin: 0 !important;
  height: 60px;
  width: 100%;
}

.app .searchBox-inner {
  height: 100%;
  width: 100%;
  padding: 10px !important;
  background-color: #fbfbfb;
}


/*#searchBox-inner input {
  box-shadow: none;
}*/

.app .searchBox-inner input:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.app .sideBar {
  padding: 0 !important;
  margin: 0 !important;
  background-color: #fff;
  overflow-y: auto;
  border: 1px solid #f7f7f7;
  height: calc(100% - 120px);
}

.app .sideBar-body {
  position: relative;
  padding: 10px !important;
  border-bottom: 1px solid #f7f7f7;
  height: 72px;
  margin: 0 !important;
  cursor: pointer;
}

.app .sideBar-body:hover {
  background-color: #f2f2f2;
}

.app .sideBar-avatar {
  text-align: center;
  padding: 0 !important;
}

.app .avatar-icon img {
  border-radius: 50%;
  height: 49px;
  width: 49px;
}

.app .sideBar-main {
  padding: 0 !important;
}

.app .sideBar-main .row {
  padding: 0 !important;
  margin: 0 !important;
}

.app .sideBar-name {
  padding: 10px !important;
}

.app .name-meta {
  font-size: 100%;
  padding: 1% !important;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #000;
}

.app .sideBar-time {
  padding: 10px !important;
}

.app .time-meta {
  text-align: right;
  font-size: 12px;
  padding: 1% !important;
  color: rgba(0, 0, 0, .4);
  vertical-align: baseline;
}

/*New Message*/

.app .newMessage {
  padding: 0 !important;
  margin: 0 !important;
  height: 100%;
  position: relative;
  left: -100%;
}
.app .newMessage-heading {
  padding: 10px 16px 10px 15px !important;
  margin: 0 !important;
  height: 100px;
  width: 100%;
  background-color: #00bfa5;
  z-index: 1001;
}

.app .newMessage-main {
  padding: 10px 16px 0 15px !important;
  margin: 0 !important;
  height: 60px;
  margin-top: 30px !important;
  width: 100%;
  z-index: 1001;
  color: #fff;
}

.app .newMessage-title {
  font-size: 18px;
  font-weight: 700;
  padding: 10px 5px !important;
}
.app .newMessage-back {
  text-align: center;
  vertical-align: baseline;
  padding: 12px 5px !important;
  display: block;
  cursor: pointer;
}
.app .newMessage-back i {
  margin: auto !important;
}

.app .composeBox {
  padding: 0 !important;
  margin: 0 !important;
  height: 60px;
  width: 100%;
}

.app .composeBox-inner {
  height: 100%;
  width: 100%;
  padding: 10px !important;
  background-color: #fbfbfb;
}

.app .composeBox-inner input:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.app .compose-sideBar {
  padding: 0 !important;
  margin: 0 !important;
  background-color: #fff;
  overflow-y: auto;
  border: 1px solid #f7f7f7;
  height: calc(100% - 160px);
}

/*Conversation*/

.app .conversation {
  padding: 0 !important;
  margin: 0 !important;
  height: 100%;
  /*width: 100%;*/
  border-left: 1px solid rgba(0, 0, 0, .08);
  /*overflow-y: auto;*/
}

.app .message {
  padding: 0 !important;
  margin: 0 !important;
  background: url("w.jpg") no-repeat fixed center;
  background-size: cover;
  overflow-y: auto;
  border: 1px solid #f7f7f7;
  height: calc(100% - 120px);
}
.app .message-previous {
  margin : 0 !important;
  padding: 0 !important;
  height: auto;
  width: 100%;
}
.app .previous {
  font-size: 15px;
  text-align: center;
  padding: 10px !important;
  cursor: pointer;
}

.app .previous a {
  text-decoration: none;
  font-weight: 700;
}

.app .message-body {
  margin: 0 !important;
  padding: 0 !important;
  width: auto;
  height: auto;
}

.app .message-main-receiver {
  /*padding: 10px 20px;*/
  padding: 3px 20px !important;
  max-width: 60%;
}

.app .message-main-sender {
  padding: 3px 20px !important;
  margin-left: 40% !important;
  max-width: 60%;
}

.app .message-text {
  margin: 0 !important;
  padding: 5px !important;
  word-wrap:break-word;
  font-weight: 200;
  font-size: 14px;
  padding-bottom: 0 !important;
}

.app .message-time {
  margin: 0 !important;
  margin-left: 50px !important;
  font-size: 12px;
  text-align: right;
  color: #9a9a9a;

}

.app .receiver {
  width: auto !important;
  padding: 4px 10px 7px !important;
  border-radius: 10px 10px 10px 0;
  background: #ffffff;
  font-size: 12px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  word-wrap: break-word;
  display: inline-block;
}

.app .sender {
  float: right;
  width: auto !important;
  background: #dcf8c6;
  border-radius: 10px 10px 0 10px;
  padding: 4px 10px 7px !important;
  font-size: 12px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  display: inline-block;
  word-wrap: break-word;
}


/*Reply*/

.app .reply {
  height: 60px;
  width: 100%;
  background-color: #f5f1ee;
  padding: 10px 5px 10px 5px !important;
  margin: 0 !important;
  z-index: 1000;
}

.app .reply-emojis {
  padding: 5px !important;
}

.app .reply-emojis i {
  text-align: center;
  padding: 5px 5px 5px 5px !important;
  color: #93918f;
  cursor: pointer;
}

.app .reply-recording {
  padding: 5px !important;
}

.app .reply-recording i {
  text-align: center;
  padding: 5px !important;
  color: #93918f;
  cursor: pointer;
}

.app .reply-send {
  padding: 5px !important;
}

.app .reply-send i {
  text-align: center;
  padding: 5px !important;
  color: #93918f;
  cursor: pointer;
}

.app .reply-main {
  padding: 2px 5px !important;
}

.app .reply-main textarea {
  width: 100%;
  resize: none;
  overflow: hidden;
  padding: 5px !important;
  outline: none;
  border: none;
  text-indent: 5px;
  box-shadow: none;
  height: 100%;
  font-size: 16px;
}

.app .reply-main textarea:focus {
  outline: none;
  border: none;
  text-indent: 5px;
  box-shadow: none;
}

@media screen and (max-width: 700px) {
  .app {
    top: 0;
    height: 100%;
  }
  .app .heading {
    height: 70px;
    background-color: #009688;
  }
  .app .fa-2x {
    font-size: 2.3em !important;
  }
  .app .heading-avatar {
    padding: 0 !important;
  }
  .app .heading-avatar-icon img {
    height: 50px;
    width: 50px;
  }
  .app .heading-compose {
    padding: 5px !important;
  }
  .app .heading-compose i {
    color: #fff;
    cursor: pointer;
  }
  .app .heading-dot {
    padding: 5px !important;
    margin-left: 10px !important;
  }
  .app .heading-dot i {
    color: #fff;
    cursor: pointer;
  }
  .app .sideBar {
    height: calc(100% - 130px);
  }
  .app .sideBar-body {
    height: 80px;
  }
  .app .sideBar-avatar {
    text-align: left;
    padding: 0 8px !important;
  }
  .app .avatar-icon img {
    height: 55px;
    width: 55px;
  }
  .app .sideBar-main {
    padding: 0 !important;
  }
  .app .sideBar-main .row {
    padding: 0 !important;
    margin: 0 !important;
  }
  .app .sideBar-name {
    padding: 10px 5px !important;
  }
  .app .name-meta {
    font-size: 16px;
    padding: 5% !important;
  }
  .app .sideBar-time {
    padding: 10px !important;
  }
  .app .time-meta {
    text-align: right;
    font-size: 14px;
    padding: 4% !important;
    color: rgba(0, 0, 0, .4);
    vertical-align: baseline;
  }
  /*Conversation*/
  .app .conversation {
    padding: 0 !important;
    margin: 0 !important;
    height: 100%;
    /*width: 100%;*/
    border-left: 1px solid rgba(0, 0, 0, .08);
    /*overflow-y: auto;*/
  }
  .app .message {
    height: calc(100% - 140px);
  }
  .app .reply {
    height: 70px;
  }
  .app .reply-emojis {
    padding: 5px 0 !important;
  }
  .app .reply-emojis i {
    padding: 5px 2px !important;
    font-size: 1.8em !important;
  }
  .app .reply-main {
    padding: 2px 8px !important;
  }
  .app .reply-main textarea {
    padding: 8px !important;
    font-size: 18px;
  }
  .app .reply-recording {
    padding: 5px 0 !important;
  }
  .app .reply-recording i {
    padding: 5px 0 !important;
    font-size: 1.8em !important;
  }
  .app .reply-send {
    padding: 5px 0 !important;
  }
  .app .reply-send i {
    padding: 5px 2px 5px 0 !important;
    font-size: 1.8em !important;
  }
}

/* ============================================================================================== 
akun list css
================================================================================================= */

.akun-cart {
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(221, 221, 221, 1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(221, 221, 221, 1);
    box-shadow: 0px 0px 5px 0px rgba(221, 221, 221, 1);
    /*padding: 30px;*/
}
.akun-cart .panel-heading, .akun-cart .panel-footer {
    background-color: #f9f9f959;
}

.akun-cart .panel-body{
	padding: 0;
}

.akun-list {
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(221, 221, 221, 1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(221, 221, 221, 1);
    box-shadow: 0px 0px 5px 0px rgba(221, 221, 221, 1);
    /*padding: 30px;*/
}
.akun-list .panel-heading, .akun-list .panel-footer {
    background-color: #f9f9f959;
}
/*.akun-list .form-title {
    border-bottom: 1px solid #e8e6df;
    padding-bottom: 19px;
    margin-bottom: 30px;
}*/


.alamat-header-card{
    border-bottom: 1px solid #efefef;
}

.alamat-header-card:last-child {
    border: none;
}

.alamat-div{
    margin-bottom: 5px;
}

.alamat-card, .button-card {
    /* float: left; */
    padding: 20px 0;
    text-align: left;
    display: block;
    line-height: 2rem;
    width: 100%;
}
.alamat-card div {
    display: flex;
}

.alamat-card span {
    text-align: left;
    padding: 2px 0;
    display: flex;
    /*vertical-align: middle;*/
}

.alamat-card .title {
    color: #5D6975;
    width: 20%;
    padding: 0 5px;
}

.alamat-card .title-alamat {
	vertical-align: middle;
}

.alamat-card .content {
    width: 80%;
    padding: 0 5px;
}




.pesanan-card {
  padding: 15px 0;
  overflow: auto;
  border-bottom: 1px solid #efefef;
}
.pesanan-card:last-child {
    border: none;
}
.pesanan-card img {
  background-color: #fff;
  border: 0;
  display: inline-block;
  float: left;
  margin-right: 18px;
}
.pesanan-card .list-label {
  background-color: #1fc055;
  display: inline-block;
  position: absolute;
  margin-left: -5px;
  margin-top: 10px;
  font-size: 12px;
  padding: 4px;
  color: #fff;
  z-index: 1;
}
.pesanan-card .list-details {
  float: none;
}
.pesanan-card .list-name {
  font-size: 20px;
  display: inline-block;
}
.pesanan-card .list-landmark,
.pesanan-card .list-location {
  font-size: 12px;
  opacity: 0.5;
  margin: 2px 0;
}
.pesanan-card .list-rooms {
  font-size: 12px;
}
.pesanan-card .list-price {
  font-size: 20px;
  margin-top: 16px;
}
.pesanan-card .list-bottom {
  width: 100%;
  display: inline-block;
  overflow: auto;
  margin-top: 26px;
}
.pesanan-card .list-bottom .list-bottom-section {
  /*width: 175px;*/
  box-sizing: border-box;
  float: left;
  font-size: 14px;
  padding: 0 20px;
  border-left: 1px solid #e5e5e5;
  text-align: center;
}
.pesanan-card .list-bottom .list-bottom-section span:last-of-type {
  opacity: 0.5;
}
.pesanan-card .list-bottom .list-bottom-section:first-of-type {
  padding-left: 0;
  border-left: 0;
}
.pesanan-card .list-bottom .list-bottom-section span {
  display: block;
}
.pesanan-card .list-callback,
.pesanan-card .list-shortlist {
  float: right;
}
.pesanan-card .list-shortlist {
  margin-right: 15px;
}



/* ============================================================================================== 
modal login css
================================================================================================= */
.v--modal {
    border-radius: 8px !important;
}

.v--modal-overlay{
	z-index: 99999 !important;

}

.container-login {
    min-height: 0;
    width: 100%;
    color: #333333;
    /*margin-top: 40px;*/
    padding: 0;
}
.container-login.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.container-login > section {
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 10px;
}
.container-login #top-bar {
    display: inherit;
}
.container-login .nav-tabs.nav-justified {
    border-bottom: 0 none;
    width: 100%;
}
.container-login .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
    float: none;
}
.container-login .nav-tabs.nav-justified > li > a,
.container-login .nav-tabs.nav-justified > li > a:hover,
.container-login .nav-tabs.nav-justified > li > a:focus {
    background: #ef5777;
    border: medium none;
    color: #ffffff;
    margin-bottom: 0;
    margin-right: 0;
    border-radius: 0;
}
.container-login .nav-tabs.nav-justified > .active > a,
.container-login .nav-tabs.nav-justified > .active > a:hover,
.container-login .nav-tabs.nav-justified > .active > a:focus {
    background: #ffffff;
    color: #333333;
}
.container-login .nav-tabs.nav-justified > li > a:hover,
.container-login .nav-tabs.nav-justified > li > a:focus {
    background: #af3650;
}
.container-login .tabs-login {
    background: #ffffff;
    border: medium none;
    margin-top: -1px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.container-login h2 {
    color: #ef5777;
}
.container-login .form-control {
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #999999;
    border-radius: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #333333;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
.container-login .checkbox {
    margin-top: -15px;
}
.container-login button, .btn-custom {
    background-color: #fff;
    /*background-color: #ef5777;*/
    border-color: #ef5777;
    color: #ef5777;
    border-radius: 0;
    font-size: 18px;
    line-height: 1.33;
    padding: 10px 16px;
    width: 100%;
}
.container-login button:hover,
.container-login button:focus, .btn-custom:hover, .btn-custom:focus {
    background: #ef5777;
    border-color: #ef5777;
    color: #fff;
}


.v--modal .vs__dropdown-menu{
	max-height: 120px !important;

  /*position: fixed !important;*/
  /*top:0px !important;*/
  /*right:0px !important;*/
	/*z-index: 100001 !important;*/
}

/* ============================================================================================== 
pop up css
================================================================================================= */

.swal2-container{
	z-index: 100000 !important;
}


.btn-group-custom .btn-default.active.active, .btn-group-custom .btn-default.active:active, .btn-group-custom .btn-default.active.focus, .btn-group-custom .btn-default.active:focus, .btn-group-custom .btn-default.active:hover, .btn-group-custom .btn-default:active.focus, .btn-group-custom .btn-default:active:focus, .btn-group-custom .btn-default:active:hover{
	color: #fff;
    background-color: #ef5777;
    border-color: #8c8c8c;
}


.vue-dropzone .dz-preview .dz-details{
	background-color: #ef57778c !important;
}


.bs-callout{
    border-bottom: 2px solid #ef5777;
    color: #ef5777;
    margin-bottom: 15px;
}

.ava-upload{
    letter-spacing: .2px;
    color: #777;
    -webkit-transition: .2s linear;
    transition: .2s linear;
    text-align: center;
    cursor: pointer;
}

.dm-upload{
    min-height: 150px;
    border: 2px solid #e5e5e5;
    letter-spacing: .2px;
    color: #777;
    -webkit-transition: .2s linear;
    transition: .2s linear;

    text-align: center;
    /*padding: 2em 0;*/
    cursor: pointer;
}

.dm-upload .dm-message{
    margin: 2em 0;

}

.dm-upload:hover {
    background-color: #f6f6f6;
}


.overflow-table {
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
}
.overflow-table td, .overflow-table th {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.overflow-table .overflow-table-desc{
	max-height: 30px;
    overflow: hidden;
    display: flex;
}

.overflow-table td.table-scroll {
    overflow-x: scroll;
    text-overflow: inherit;
}


/* width */
.overflow-table td::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

/* Track */
.overflow-table td::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.overflow-table td::-webkit-scrollbar-thumb {
  background: #ef5777; 
}

/* Handle on hover */
.overflow-table td::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.overflow-table .btn{
	padding: 6px 12px;
}



/* ============================================================================================== 
cursor css
================================================================================================= */

.cursor-pointer{
	cursor: pointer;
}
.btn-origin{
    padding: 6px 12px;
    font-size: 14px !important;
}

#carousel-shop .carousel-indicators li{
    margin: 0px 4px 0 0 !important;
}

.dropdown-menu .shop-cart a{
    letter-spacing: 1px;
    font-size: 10px;
}

.dropdown-menu .shop-cart .btn-cart{
	font-size: 8px !important;
}

.table-cart{
	margin-bottom: 0 !important;
}
.table-cart .tr-bg-cyan, .table-cart .tr-bg-cyan:hover{
	background-color: #fff4ef;
}

.table-cart .total-bayar{
	font-size: 20px;
	font-weight: 700;
}


.table-cart .subtotal-bayar{
	font-weight: 600;
}

.table-cart .table-first-child:first-child td{
	border-top: 0;
}








.user-req .box {
    /*top:50%;*/
    left:0;
    /*transform:translateY(-50%);*/
    text-align:center;
    padding:20px;
    box-sizing:border-box;
    width:100%;
}
.user-req .box .img {
    width:120px;
    height:120px;
    margin:0 auto;
    border-radius:50%;
    overflow:hidden;
}
.user-req .box .img img {
    width:100%;
    height:100%;
}
.user-req .box h2 {
    font-size:20px;
    color:#262626;
    margin:20px auto;
}
.user-req .box h2 span {
    font-size:14px;
    background:#e91e63;
    color:#fff;
    display:inline-block;
    padding:4px 10px;
    border-radius:15px;
}
.user-req .box p {
    color:#262626;
}
.user-req .box span {
    display:inline-flex;
}
.user-req .box ul {
    margin:0;
    padding:0;
}
.user-req .box ul li {
    list-style:none;
    float:left;
}
.user-req .box ul li a {
    display:block;
    color:#aaa;
    margin:0 10px;
    font-size:20px;
    transition:0.5s;
    text-align:center;
}
.user-req .box ul li:hover a {
    color:#e91e63;
    transform:rotateY(360deg);
}


.vue-image-crop-upload .vicp-wrap {
    width: auto !important;
    max-width: 600px !important;
    height: auto !important;
    max-height: 295px !important;
    overflow: hidden !important;
}


@media (max-width: 500px) {
	.vicp-crop-right{
		display: none;
	}
}

.v-step{
	z-index: 999991;
}