<template>
<span>

<div class="row list-card">

    <!-- Team member -->
    <div v-for="anak, index in anaks.data" class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
            <div class="mainflip">
                <div class="frontside">
                    <div class="card">
                        <div class="card-body text-center">
                            <p>
                                <img v-if="anak.bayi_avatar" v-bind:src="'/public/avatar/'+anak.bayi_avatar" alt="" class="img-fluid">
                                <img v-else v-bind:src="'/public/avatar/ay.png'" alt="" class="img-fluid">
                            </p>

                            <div class="card-title-overlay">
                                Anak
                                <h4 class="card-title">{{anak.bayi_name}}</h4>
                            </div>

                            <div class="div-table card-text">
                                <div class="div-table-row">
                                    <div class="div-table-col"><i class="fa fa-user fa-fw"></i>
                                    {{anak.bayi_gender}}</div>
                                </div>
                                <div class="div-table-row">
                                    <div class="div-table-col"><i class="fa fa-calendar fa-fw"></i>
                                    {{anak.bayi_tgl_lahir}}</div>
                                </div>
                                <div class="div-table-row">
                                    <div class="div-table-col"><i class="fa fa-map-marker fa-fw"></i>
                                    {{anak.bayi_tempat_lahir}}</div>
                                </div>
                                <div class="div-table-row">
                                    <div class="div-table-col"><i class="fa fa-bookmark fa-fw"></i>
                                    {{anak.agama}}</div>
                                </div>
                                 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="backside">
                    <div class="card">
                        <div class="card-body text-center">
                            <p>
                                <img v-if="anak.avatar" v-bind:src="'/public/avatar/'+anak.avatar" alt="" class="img-fluid">
                                <img v-else v-bind:src="'/public/avatar/ay.png'" alt="" class="img-fluid">
                            </p>

                            <div class="card-title-overlay">
                                Orang Tua
                                <h4 class="card-title">{{anak.name}}</h4>
                            </div>

                            <div class="div-table card-text">
                                <div class="div-table-row">
                                    <div class="div-table-col"><i class="fa fa-phone fa-fw"></i>
                                    {{anak.phone}}</div>
                                </div>
                                <div class="div-table-row">
                                    <div class="div-table-col"><i class="fa fa-envelope fa-fw"></i>
                                    {{anak.email}}</div>
                                </div>
                                <div class="div-table-row">
                                    <div class="div-table-col"><i class="fa fa-map-marker fa-fw"></i>
                                    {{anak.user_tempat_lahir}}</div>
                                </div>
                                <div class="div-table-row">
                                    <div class="div-table-col"><i class="fa fa-bookmark fa-fw"></i>
                                    {{anak.agama}}</div>
                                </div>
                                 
                            </div>
<!-- 
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                        <i class="fa fa-skype"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                        <i class="fa fa-google"></i>
                                    </a>
                                </li>
                            </ul> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div v-if="anaks.total == 0" class="col-xs-12 text-center" v-bind:style="{'padding':'100px'}">
        <img alt='' class="img-circle" v-bind:src="'/public/avatar/ay.png'" v-bind:style="{'width':'30%','margin-bottom':'10px'}">
        <h4>Belum ada data {{jenis.title}} !</h4>
    </div>
    <!-- ./Team member -->


</div>

<!-- Pagination-->
<div class="row">
  <div class="col-lg-12 text-center">
    <nav>
      <pagination :data="anaks" @pagination-change-page="getAnaks"></pagination>
    </nav>
  </div>
</div>

</span>
</template>

<script type="text/javascript">

  export default {
    props: {
        param: Object,
        jenis: Object
        // '',
    },
    data: function(){
      return{
        anaks : {},
      }
    },
    mounted(){
      var app = this;

      // app.jenis = ['jenis'];

      // console.log(app.jenis.title);
      // console.log(app.param);

      app.getAnaks();


    },
    methods:{
      getAnaks(page) {
        var app = this;

        if (typeof page === 'undefined') {
          page = 1;
        }

        axios.get('/auth/apisilsilah/'+app.jenis.title+'?page='+page)
        .then(function(resp){
          app.anaks = resp.data;

          // console.log(app.anaks)
        })
        .catch(function(resp){
          // console.log(resp);
          alert('Data tidak dapat di load');
        })
      }

    }
  }
</script>