<template>
<span>

<!-- Header-->
<header v-bind:style="{ 'background-image': 'url(/public/web/img/header/web-banner-silsilah.jpg)' }"  class="intro introhalf">
<!-- 
  <div class="banner-stars">
    <div class="stars"></div>
    <div class="twinkling"></div>
  </div> -->
  <!-- Intro Header-->
  <div class="intro-body">
    <h1>Silsilah</h1>
    <h4>Daftar silsilah saudara sesusuan anakmu</h4>
    <!-- <router-link to="/child-one">User 1</router-link> -->
  </div>
</header>

<silsilah-list></silsilah-list>
<!-- <router-view class="child-view"></router-view> -->

</span>
</template>

<script>
  import SilsilahList         from './../../webcomponents/silsilah/SilsilahList.vue';
  export default {
    components: {
        'silsilah-list': SilsilahList,
    }
  }
</script>