<template>
<span>

<!-- News Block-->
<section id="polling" class="section-small">
  <div class="container">
   <!--  <h3 class="pull-left">Polling</h3>
    <div class="pull-right">
      <h4>OUR LATEST NEWS</h4>
    </div>
    <div class="clearfix"></div> -->
    <div class="row">



      <div class="hidden-xs col-sm-3"><!--left col-->
              

          <div class="hidden-xs text-center">
            <img v-bind:src="imgDataUrl" class="avatar img-circle img-thumbnail" alt="avatar">
          </div>
          <hr>

         <!--       
          <div class="panel panel-default">
            <div class="panel-heading">Website <i class="fa fa-link fa-1x"></i></div>
            <div class="panel-body"><a href="http://bootnipets.com">bootnipets.com</a></div>
          </div> -->
          
          
          <ul class="list-group">
            <li class="list-group-item text-muted">Data Donasi <i class="fa fa-hand-paper-o fa-1x"></i></li>

            <li v-for="donasi, index in $auth.user().total_donasi" class="list-group-item text-right">
              <span class="pull-left"><strong>{{donasi.donasi_kategori_name}}</strong></span> {{donasi.totalDonasi}}
            </li>

          </ul> 
               
          <div class="panel panel-default">
            <div class="panel-heading">Social Media</div>
            <div class="panel-body">
              <i class="fa fa-facebook fa-2x"></i> <i class="fa fa-github fa-2x"></i> <i class="fa fa-twitter fa-2x"></i> <i class="fa fa-pinterest fa-2x"></i> <i class="fa fa-google-plus fa-2x"></i>
            </div>
          </div>
          
        </div><!--/col-3-->
      <div class="col-xs-12 col-sm-9 list-nav-tabs">
        <ul class="nav nav-tabs">
            <li class="nav-header active"><a class="nav-link" data-toggle="tab" href="#anak">Anak</a></li>
            <li class="nav-header"><a class="nav-link" data-toggle="tab" href="#sesusuan">Sesusuan</a></li>
        </ul>

              
        <div class="tab-content">
            <div class="tab-pane active" id="anak">
                
                <silsilah-anak :jenis="{title:'anak'}" :param="{title:'anak',id:1}"></silsilah-anak>
                

            </div><!--/tab-pane-->
            <div class="tab-pane" id="sesusuan">
                
                <silsilah-anak :jenis="{title:'sesusuan'}" :param="{title:'sesusuan',id:2}"></silsilah-anak>

            </div><!--/tab-pane-->
               
        </div><!--/tab-pane-->
      </div><!--/tab-content-->


      
    </div>
  </div>
</section>

</span>
</template>

<script type="text/javascript">
  import SilsilahAnak         from './../../webcomponents/silsilah/SilsilahAnak.vue';

  export default {
    components: {
        'silsilah-anak': SilsilahAnak,
    },
    data: function(){
      return{
        items : {},
        imagePath:process.env.MIX_APP_URL+'/public/avatar/',
        imgDataUrl: process.env.MIX_APP_URL+'/public/avatar/ay.png', // the datebase64 url of created image

      }
    },
    mounted(){
      var app = this;

      if(app.$auth.user().avatar){
        app.imgDataUrl = app.imagePath+app.$auth.user().avatar;
      }

    },
    methods:{

    }
  }
</script>