<template>
    <span>

      <modal name="modal">
        <!-- <auth-layout /> -->
      </modal>
      
      <span v-if="$auth.check()" v-bind:is="updateCart" />
      <header-layout :cartCount="cartCount" :cartData="cartData"></header-layout>
    
      <router-view name="dataWeb" :key="$route.fullPath" @update-active-by-component="updateCart"></router-view>


    </span>
</template>


<script type="text/javascript">
  import Header         from './../../webcomponents/includes/Header.vue';
  import Auth         from './../../authcomponents/Auth.vue';

  export default {
    components: {
        'header-layout': Header,
        'auth-layout': Auth,
    },
    data: function(){
      return {
        cartCount : 0,
        cartData : {}
      }
    },
    async mounted() {
      var app = this;
      let loader = app.$loading.show()

      app.$root.$on('update-active-by-child', () => {
          // your code goes here
          app.updateCart()
      })

      setTimeout(() => {
        loader.hide()
      },2000) 

    },
    updated(){
      var app = this;/*

      alert(app.$auth.check());

      if(app.$auth.check()){
        app.updateCart()
      }*/

    },
    methods: {
      updateCart(){
        var app = this;

        axios.get('/auth/apicart')
        .then(function (resp) {
          app.cartCount = resp.data.count;
          app.cartData = resp.data.orders;

          // console.log(app.cartData);
        })
        .catch(function () {

        });
      },
      beforeOpen (event) {
        // console.log(event.params.foo);
      },
    }
  }

</script>