<template>
  
    <div class="center-block">
      <div class="tab-content tabs-login col-lg-12 col-md-12 col-sm-12 cols-xs-12">
  
        <form v-on:submit="saveAnak()">


            <div v-show="bayiId" class=" user-req">
              <div class="box">
                  <div class="img">


                    <my-upload 
                      @crop-success="cropSuccess"
                      @crop-upload-success="cropUploadSuccess"
                      @crop-upload-fail="cropUploadFail"
                      v-model="show"
                      :field="'avatar'"
                      :width="400"
                      :height="400"
                      :url="urlImgupload"
                      :params="params"
                      :headers="headers"
                      lang-type="en"
                      img-format="png"></my-upload>

                    <div class="ava-upload" @click="toggleShow">
                      <img v-bind:src="imgDataUrl" class="img-responsive avatar img-circle img-thumbnail">
                    </div> 
                <!-- <img v-if="profile.avatar" v-bind:src="'/public/avatar/'+profile.avatar" alt="" class="img-responsive"> -->
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <div class="form-group" v-bind:class="{ 'has-error': has_error && errors.bayi_name }">
                    <label class="control-label">Nama Bayi</label>
                    <input type="text" class="form-control" v-model="anak.bayi_name" placeholder="Nama Bayi">
                    <span class="help-block" v-if="has_error && errors.bayi_name">{{ errors.bayi_name }}</span>
                </div>
              </div>
              <div class="col-xs-12">
                <div class="form-group" v-bind:class="{ 'has-error': has_error && errors.bayi_nik }">
                    <label class="control-label">NIK</label>
                    <input type="text" class="form-control" v-model="anak.bayi_nik" placeholder="NIK Bayi">
                    <span class="help-block" v-if="has_error && errors.bayi_nik">{{ errors.bayi_nik }}</span>
                </div>
              </div>


              <div class="col-xs-12">
                <div class="form-group" v-bind:class="{ 'has-error': has_error && errors.bayi_tpt_lahir }">
                    <label class="control-label">Tempat Lahir</label>

                    <v-select v-model="anak.bayi_tpt_lahir" label="name" :options="propinsi" :reduce="name => name.id"></v-select>

                    <!-- <input type="text" class="form-control" v-model="anak.bayi_tpt_lahir" placeholder="Tempat Lahir"> -->
                    <span class="help-block" v-if="has_error && errors.bayi_tpt_lahir">{{ errors.bayi_tpt_lahir }}</span>
                </div>
              </div>

              <div class="col-xs-6">
                <div class="form-group" v-bind:class="{ 'has-error': has_error && errors.bayi_tgl_lahir }">
                    <label class="control-label">Tanggal Lahir</label>
                    <input type="date" class="form-control" v-model="anak.bayi_tgl_lahir" placeholder="Tanggal Lahir">
                    <span class="help-block" v-if="has_error && errors.bayi_tgl_lahir">{{ errors.bayi_tgl_lahir }}</span>
                </div>
              </div>

              <div class="col-xs-6">
                <div class="form-group" v-bind:class="{ 'has-error': has_error && errors.bayi_gender }">
                  <label class="label-title">Jenis Kelamin</label>
                  <div class="select">
                    <select v-model="anak.bayi_gender" class="form-control">
                      <option disabled value="">Pilih Jenis Kelamin</option>
                      <option value="Laki-Laki">Laki-Laki</option>
                      <option value="Perempuan">Perempuan</option>
                    </select>
                  </div>
                  <span class="help-block" v-if="has_error && errors.bayi_gender">{{ errors.bayi_gender }}</span>
                </div>
              </div>


            </div>

            <div class="form-group">
                <button class="btn btn-custom">Simpan</button>
            </div>
        </form>
      </div>
    </div>
</template>


<script>

export default {
  props: {
      bayiId: '',
  },
  data() {
    return {
      propinsi : [],
      has_error: false,
      userId : '',
      anak:{
        bayi_avatar     : '',
        bayi_name       : '',
        bayi_nik        : '',
        bayi_gender     : '',
        bayi_tgl_lahir  : '',
        bayi_tpt_lahir  : '',
      },
      errors: {},

      urlImgupload : process.env.MIX_APP_URL+'/api/apiavatar?name=bayi&user_id='+this.bayiId,
      imagePath:process.env.MIX_APP_URL+'/public/avatar/',
      imgDataUrl: process.env.MIX_APP_URL+'/public/avatar/click-img.jpg', // the datebase64 url of created image
      show: false,
      params: {
        token: '123456798',
        name: 'avatar'
      },
      headers: {
        smail: '*_~'
      },

    }
  },
  mounted(){
    var app = this;

    app.getAnak();
    app.getPropinsi();


  },
  methods: {
    getPropinsi(){
      var app = this;

      app.userId = app.$auth.user().id;

      axios.get('/apipropinsi')
      .then(function (resp) {
        app.propinsi = resp.data.propinsi;
      })
      .catch(function () {

      });

    },
    getAnak(){
      let app = this;
      axios.get('/apibayi/' + app.bayiId)
      .then(function (resp) {
        if(resp.data){
          app.anak = resp.data;
          app.urlImgupload = process.env.MIX_APP_URL+'/api/apiavatar?name=bayi&user_id='+app.bayiId

          if(resp.data.bayi_avatar){
            app.imgDataUrl = app.imagePath+resp.data.bayi_avatar;
          }
        }
      })
      .catch(function () {
        alert("Data tidak dapat di load")
      });

    },
    saveAnak(){
      event.preventDefault();
      var app = this;
      var newAnak = app.anak;
      var method = app.bayiId ? axios.patch('/auth/apibayi/' + app.bayiId, newAnak) : axios.post('/auth/apibayi', newAnak);

      method.then(function (resp) {
        app.has_error = false

        if(resp.data.status == 'success'){
          app.$fire({
            title: resp.data.status,
            text: resp.data.message,
            type: "success",
            showConfirmButton: false,
            timer: 2000
          }).then(r => {
            app.bayiId = resp.data.bayi_id;
            app.getAnak();
          });
        }
        else{
          // console.log(resp);
          app.has_error = true
          app.errors = resp.data.message || {}

          app.$fire({
            title: resp.data.status,
            text: "Operation failed !",
            type: "error",
            showConfirmButton: false,
            timer: 2000
          }).then(r => {
           // console.log(r.value);
          });

        }

      })
      .catch(function (resp) {
        // console.log(resp);
        app.has_error = true
        app.errors = resp.data.message || {}

        app.$fire({
          title: resp.data.status,
          text: "Could not update your Profile",
          type: "error",
          showConfirmButton: false,
          timer: 2000
        }).then(r => {
         // console.log(r.value);
        });
      });

    },


    toggleShow() {
      this.show = !this.show;
    },
          /**
     * crop success
     *
     * [param] imgDataUrl
     * [param] field
     */
    cropSuccess(imgDataUrl, field){
      // console.log('-------- crop success --------');
      this.imgDataUrl = imgDataUrl;
    },
    /**
     * upload success
     *
     * [param] jsonData  server api return data, already json encode
     * [param] field
     */
    cropUploadSuccess(jsonData, field){
      var app = this;
      var success = jsonData.file.success;
      // console.log('-------- upload success --------');
      // console.log(jsonData);
      // console.log('field: ' + field);
      // console.log(jsonData.file.name);
    },
    /**
     * upload fail
     *
     * [param] status    server api return error status, like 500
     * [param] field
     */
    cropUploadFail(status, field){
      // console.log('-------- upload fail --------');
      // console.log(status);
      // console.log('field: ' + field);
    }
  }
}

</script>