<template>

    <div class="panel panel-default panel-table akun-list">
        <div class="panel-heading">
            <div class="row">
                <!-- <div class="col col-xs-6">
                    <h3 class="panel-title">Data Donasi</h3>
                </div> -->
                <div class="col col-xs-12 text-right">
                    <div class="pull-right">
                        <div class="btn-group date-block btn-group-justified font-small dropdown btn-group-custom" data-toggle="buttons">

                          <label id="v-step-0" href="#contact" data-toggle="tab" v-bind:class="{'btn':true,'btn-default':true, 'active':('menunggu' === currentPage)}" style="font-size:12px;" @click="getStatus('menunggu')">
                            <span class="visible-xs fa fa-check"></span><span class="hidden-xs">Request</span>
                          </label>
                          <label id="v-step-1" href="#contact" data-toggle="tab" v-bind:class="{'btn':true,'btn-default':true, 'active':('diterima' === currentPage)}" style="font-size:12px;" @click="getStatus('diterima')">
                            <span class="visible-xs fa fa-send"></span><span class="hidden-xs">Perlu Dikirim</span>
                          </label>
                          <label id="v-step-2" href="#contact" data-toggle="tab" v-bind:class="{'btn':true,'btn-default':true, 'active':('dikirim' === currentPage)}" style="font-size:12px;" @click="getStatus('dikirim')">
                            <span class="visible-xs fa fa-truck"></span><span class="hidden-xs">Dikirim</span>
                          </label>
                          <label id="v-step-3" href="#skills" data-toggle="tab"  v-bind:class="{'btn':true,'btn-default':true, 'active':('selesai' === currentPage)}" style="font-size:12px;" @click="getStatus('selesai')">
                            <span class="visible-xs fa fa-flag"></span><span class="hidden-xs">Selesai</span>
                          </label>
                          <label id="v-step-4" href="#skills" data-toggle="tab"  v-bind:class="{'btn':true,'btn-default':true, 'active':('ditolak' === currentPage)}" style="font-size:12px;" @click="getStatus('ditolak')">
                            <span class="visible-xs fa fa-times"></span><span class="hidden-xs">Ditolak</span>
                          </label>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
          
            <table v-if="donasi.total > 0" id="mytable" class="table table-striped table-bordered table-list overflow-table">
                <thead>
                <tr>
                    <!-- <th class="col-check center"><input type="checkbox" id="checkall" onclick="test()"/></th> -->
                    <th class="col-tools" v-bind:style="{'width':'150px'}"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                    </th>
                    <th class="col-text" v-bind:style="{'width':'150px'}">Nama Donasi</th>
                    <th class="col-text">Alasan</th>
                    <th class="col-text" v-bind:style="{'width':'55px'}">Req</th>
                </tr>
                </thead>
                <tbody>

                <tr v-for="donasi_data, index in donasi.data">
                    <!-- <td align="center"><input type="checkbox" class="checkthis"/></td> -->
                    <td align="center" v-bind:style="{'white-space':'nowrap'}">

                      <a v-show="donasi_data.req_status == 'menunggu'" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="terima" v-on:click="approveDonasi(donasi_data.id)">
                        <span class="fa fa-check"></span>
                      </a>

                      <a v-show="donasi_data.req_status == 'menunggu'" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="tolak" v-on:click="deleteDonasi(donasi_data.id)">
                        <span class="fa fa-times"></span>
                      </a>

                      <a v-show="donasi_data.req_status == 'diterima'" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="kirim" v-on:click="sendDonasi(donasi_data.id)">
                        <span class="fa fa-send"></span>
                      </a>

                      <a class="btn btn-default" data-toggle="tooltip" data-placement="top" title="lihat" v-on:click="showDonasi(donasi_data.id)">
                        <span class="fa fa-eye"></span>
                      </a>

                    </td>
                    <td>{{donasi_data.donasi.donasi_name}}</td>
                    <td class="table-scroll"><span v-html="donasi_data.req_details"></span></td>
                    <td align="middle">{{donasi_data.req_stock}}</td>
                </tr>

                </tbody>
            </table>


            <div v-if="donasi.total == 0"  class="row">
              <div class="col-xs-12 text-center" v-bind:style="{'padding':'100px'}">
                  <img alt='' class="img-circle" v-bind:src="'/public/avatar/ay.png'" v-bind:style="{'width':'30%','margin-bottom':'10px'}">
                  <h4>Belum ada data donasi !</h4>
              </div>
            </div>


            <!-- Pagination-->
            <nav class="text-center">
              <pagination :data="donasi" @pagination-change-page="getPesanan"></pagination>
            </nav>

        </div>
        <!-- <div class="panel-footer">
            <div class="row">
                <div class="col col-xs-12">



                    <div class="pull-right">
                        <button type="button" class="btn btn-primary">
                            <span class="glyphicon glyphicon-plus"
                                  aria-hidden="true"></span>
                            Add row
                        </button>
                    </div>
                </div>
            </div>
        </div> -->

      <v-tour name="myTour" :steps="steps" :callbacks="myCallbacks">
        <template slot-scope="tour">
          <transition name="fade">
            <v-step
              v-if="tour.currentStep === index"
              v-for="(step, index) of tour.steps"
              :key="index"
              :step="step"
              :previous-step="tour.previousStep"
              :next-step="tour.nextStep"
              :stop="tour.stop"
              :is-first="tour.isFirst"
              :is-last="tour.isLast"
              :labels="tour.labels"
            >
              <template v-if="tour.currentStep === 0">
                <div slot="actions">
                  <button @click="tour.stop" class="v-step__button">Skip tour</button>
                  <button @click="previousPage" class="v-step__button">Previous</button>
                  <button @click="tour.nextStep" class="v-step__button">Next</button>
                </div>
              </template>

              <template v-if="tour.currentStep === 4">
                <div slot="actions">
                  <button @click="tour.stop" class="v-step__button">Skip tour</button>
                  <button @click="tour.previousStep" class="v-step__button">Previous</button>
                  <button @click="nextPage" class="v-step__button">Next</button>
                </div>
              </template>
            </v-step>
          </transition>
        </template>
      </v-tour>




    </div>

</template>

<script>
import showModaldonasi         from './../../webcomponents/akun/AkunRequestmodal.vue';

export default {
  data() {
    return {
      donasi : {},
      has_error: false,
      userId : '',
      errors: {},
      userAlamatactive:'',

      currentPage:'menunggu',
      steps: [
        {
          target: '#v-step-0',  // We're using document.querySelector() under the hood
          content: `Pilih <strong>Request</strong> untuk melihat list yang meminta donasi`
        },
        {
          target: '#v-step-1',  // We're using document.querySelector() under the hood
          content: `Pilih <strong>Perlu Dikirim</strong> untuk melihat donasi yang perlu anda kirim`
        },
        {
          target: '#v-step-2',  // We're using document.querySelector() under the hood
          content: `Pilih <strong>Dikirim</strong> untuk melihat donasi yang sudah anda kirim`
        },
        {
          target: '#v-step-3',  // We're using document.querySelector() under the hood
          content: `Pilih <strong>Selesai</strong> untuk melihat donasi yang sudah selesai`
        },
        {
          target: '#v-step-4',  // We're using document.querySelector() under the hood
          content: `Pilih <strong>Ditolak</strong> untuk melihat donasi yang anda tolak`
        },
      ],
      myCallbacks: {
        onStop : this.myCustomStopCallback,
      }

    }
  },
  mounted() {
    var app = this;

    app.$emit('update-active-by-child', 'donasi')
  
    if(app.$auth.user().web_tour == 1){
      app.$tours['myTour'].start()
    }
    app.getPesanan();

    //
  },
  methods: {
    myCustomStopCallback  (currentStep) {
        // this.$root.$emit('update-user-tour', '')
    },
    previousPage (currentStep) {
          this.$router.push({name: 'donasiSaya'})
    },
    nextPage (currentStep) {
          this.$router.push({name: 'infoSaya'})
    },
    getStatus(status){
      var app = this;

      app.currentPage = status;
      
      app.getPesanan();
    },
    getPesanan(page){
      var app = this;
      var reqStatus = app.currentPage;

      if (typeof page === 'undefined') {
        page = 1;
      }

      axios.get('/auth/apidonasirequest?page='+page+'&req_status='+reqStatus)
      .then(function(resp){
        app.donasi = resp.data.orders;
      })
      .catch(function(resp){
        // console.log(resp);
        alert('Data tidak dapat di load');
      })

    },
    showDonasi(id){
      this.$modal.show(showModaldonasi, {
        donasiId: id,
      }, {
        name:'donasi-modal',
        // draggable: true,
        adaptive: true,
        height: 'auto',
        scrollable: true,
        resizable: true,
      })
    },
    approveDonasi(id){
      var app = this;

      axios.put('/auth/apidonasirequest/' + id).then(function (resp) {
        app.has_error = false

        if(resp.data.status == 'success'){
          app.$fire({
            title: resp.data.status,
            text: resp.data.message,
            type: "success",
            showConfirmButton: false,
            timer: 2000
          }).then(r => {
            app.getPesanan();
          });
        }
        else{
          // console.log(resp);
          app.has_error = true
          app.errors = resp.data.message || {}

          app.$fire({
            title: resp.data.status,
            text: "Operation failed !",
            type: "error",
            showConfirmButton: false,
            timer: 2000
          }).then(r => {
           // console.log(r.value);
          });

        }

      })
      .catch(function (resp) {
        // console.log(resp);
        app.has_error = true
        app.errors = resp.data.message || {}

        app.$fire({
          title: resp.data.status,
          text: "Could not update your Profile",
          type: "error",
          showConfirmButton: false,
          timer: 2000
        }).then(r => {
         // console.log(r.value);
        });
      });
    },
    sendDonasi(id){
      var app = this;

      axios.put('/auth/apidonasisend/' + id).then(function (resp) {
        app.has_error = false

        if(resp.data.status == 'success'){
          app.$fire({
            title: resp.data.status,
            text: resp.data.message,
            type: "success",
            showConfirmButton: false,
            timer: 2000
          }).then(r => {
            app.getPesanan();
          });
        }
        else{
          // console.log(resp);
          app.has_error = true
          app.errors = resp.data.message || {}

          app.$fire({
            title: resp.data.status,
            text: "Operation failed !",
            type: "error",
            showConfirmButton: false,
            timer: 2000
          }).then(r => {
           // console.log(r.value);
          });

        }

      })
      .catch(function (resp) {
        // console.log(resp);
        app.has_error = true
        app.errors = resp.data.message || {}

        app.$fire({
          title: resp.data.status,
          text: "Could not update your Profile",
          type: "error",
          showConfirmButton: false,
          timer: 2000
        }).then(r => {
         // console.log(r.value);
        });
      });

    },
    deleteDonasi(id){
      var app = this;

      axios.delete('/auth/apidonasirequest/' + id).then(function (resp) {
        app.has_error = false

        if(resp.data.status == 'success'){
          app.$fire({
            title: resp.data.status,
            text: resp.data.message,
            type: "success",
            showConfirmButton: false,
            timer: 2000
          }).then(r => {
            app.getPesanan();
          });
        }
        else{
          // console.log(resp);
          app.has_error = true
          app.errors = resp.data.message || {}

          app.$fire({
            title: resp.data.status,
            text: "Operation failed !",
            type: "error",
            showConfirmButton: false,
            timer: 2000
          }).then(r => {
           // console.log(r.value);
          });

        }

      })
      .catch(function (resp) {
        // console.log(resp);
        app.has_error = true
        app.errors = resp.data.message || {}

        app.$fire({
          title: resp.data.status,
          text: "Could not update your Profile",
          type: "error",
          showConfirmButton: false,
          timer: 2000
        }).then(r => {
         // console.log(r.value);
        });
      });

    }




  }
}
</script>