<template>

    <div class="panel panel-default panel-table akun-list">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-12">
                    <h3 class="panel-title">Ubah Password</h3>
                </div>
            </div>
        </div>

      <form v-on:submit="saveForm()">
        <div class="panel-body">

                <div class="row">

                    <div class="col-xs-12">
                      <div class="form-group" v-bind:class="{ 'has-error': has_error && errors.password_old }">
                        <label class="label-title">Password Saat Ini</label>
                        <input type="Password" class="form-control" placeholder="Password Saat Ini" v-model="password_old">
                        <span class="help-block" v-if="has_error && errors.password_old">{{ errors.password_old }}</span>
                      </div>
                    </div>
                    <div class="col-xs-12">
                      <div class="form-group" v-bind:class="{ 'has-error': has_error && errors.password }">
                        <label class="label-title">Password Yang Baru</label>
                        <input type="Password" class="form-control" placeholder="Password Yang Baru" v-model="password">
                        <span class="help-block" v-if="has_error && errors.password">{{ errors.password }}</span>
                      </div>
                    </div>
                    <div class="col-xs-12">
                      <div class="form-group" v-bind:class="{ 'has-error': has_error && errors.password }">
                        <label class="label-title">Konfirmasi Password</label>
                        <input type="Password" class="form-control" placeholder="Konfirmasi Password" v-model="password_confirmation">
                      </div>
                    </div>

                </div>

        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col col-xs-12">
                    <div class="pull-right">
                        <button class="btn btn-pink">
                            <span class="fa fa-save"
                                  aria-hidden="true"></span>
                            Simpan
                        </button>
                    </div>
                </div>
            </div>
        </div>
      </form>
    </div>

</template>


<script>
  export default {
    data() {
      return {
        password_old: '',
        password: '',
        password_confirmation: '',
        has_error: false,
        error: '',
        errors: {},
        success: false
      }
    },
    mounted() {
      let app = this;
      app.$emit('update-active-by-child', 'akun')
      
    },
    methods: {
      saveForm() {

        event.preventDefault();
        var app = this;

        var dataPssword = {
            password_old          : app.password_old,
            password              : app.password,
            password_confirmation : app.password_confirmation
          }

        axios.post('/auth/apiubahpassword', dataPssword).then(function (resp) {
          app.has_error = false

          if(resp.data.status == 'success'){
            app.$fire({
              title: resp.data.status,
              text: resp.data.message,
              type: "success",
              showConfirmButton: false,
              timer: 2000
            }).then(r => {
            });
          }
          else{
            // console.log(resp.data.message);
            app.has_error = true
            app.errors = resp.data.message || {}
          }

        })
        .catch(function (resp) {
          // console.log(resp);
          app.has_error = true
          app.errors = resp.data.message || {}

          app.$fire({
            title: resp.data.status,
            text: "Could not update your Profile",
            type: "error",
            showConfirmButton: false,
            timer: 2000
          }).then(r => {
           // console.log(r.value);
          });
        });


      }
    }
  }
</script>