<template>

    <div class="panel panel-default panel-table akun-list">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-9 hidden-xs">
                    <h3 class="panel-title">Alamat User</h3>
                </div>
                <div class="col-md-3 col-xs-12 text-right">
                    <div class="pull-right">
                        <div class="btn-group" data-toggle="buttons">
                            <button id="v-step-0" type="button" class="btn btn-default btn-filter" @click="showModal()">
                                <i class="fa fa-plus"></i> Add
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">

            <div class="alamat-header-card" v-for="alamat, index in alamats">
                <div class="row">
                    <div class="col-xs-7 col-md-8">
                      <div class="alamat-card">
                        <div class="alamat-div"><span class="title hidden-xs">Nama</span><span class="content">  <strong>{{alamat.penerima}}</strong></span></div>
                        <div class="alamat-div"><span class="title hidden-xs">Telepon</span><span class="content"> {{alamat.phone}}</span></div>
                        <div class="alamat-div">
                            <span class="title title-alamat hidden-xs">Alamat</span>
                            <span class="content"> 
                                {{alamat.alamat_lengkap+', Kelurahan '+alamat.kelurahan_name+', Kecamatan '+alamat.kecamatan_name+', '+alamat.kabupaten_name+', '+alamat.propinsi_name+', '+alamat.kode_pos}}
                            </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-5 col-md-4">
                      <div class="button-card" v-bind:style="{'text-align':'right'}">
                        <button class="btn btn-sm btn-default" @click="showModal(alamat.id)">
                            <span class="fa fa-pencil"></span>
                        </button>
                        <button class="btn btn-sm btn-default" @click="deleteAlamat(alamat.id, index)">
                            <span class="fa fa-trash"></span>
                        </button>

                        <button v-bind:class="{'btn':true, 'btn-sm':true, 'btn-default':alamat.activation_status == 1, 'btn-pink':alamat.activation_status != 1}" @click="updateStatus(alamat.id)" :disabled="alamat.activation_status == 1">utama</button>
                      </div>

                    </div>
                </div>
            </div>

            <div v-if="alamats.length == 0" class="row">
              <div class="col-xs-12 text-center" v-bind:style="{'padding':'100px'}">
                  <img alt='' class="img-circle" v-bind:src="'/public/avatar/ay.png'" v-bind:style="{'width':'30%','margin-bottom':'10px'}">
                  <h4>Belum ada data alamat !</h4>
              </div>
            </div>

        </div>


      <v-tour name="myTour" :steps="steps" :callbacks="myCallbacks">
        <template slot-scope="tour">
          <transition name="fade">
            <v-step
              v-if="tour.currentStep === index"
              v-for="(step, index) of tour.steps"
              :key="index"
              :step="step"
              :previous-step="tour.previousStep"
              :next-step="tour.nextStep"
              :stop="tour.stop"
              :is-first="tour.isFirst"
              :is-last="tour.isLast"
              :labels="tour.labels"
            >
              <template v-if="tour.currentStep === 0">
                <div slot="actions">
                  <button @click="tour.stop" class="v-step__button">Skip tour</button>
                  <button @click="previousPage" class="v-step__button">Previous</button>
                  <button @click="nextPage" class="v-step__button">Next</button>
                </div>
              </template>
            </v-step>
          </transition>
        </template>
      </v-tour>

    </div>

</template>


<script>
import AlamatModal         from './../../webcomponents/akun/AkunAlamatmodal.vue';

export default {
  data: function() {
    return {
      alamats:{},
      userId : '',
      errors: {},
      steps: [
        {
          target: '#v-step-0',  // We're using document.querySelector() under the hood
          content: `Tekan  <strong><i class="fa fa-plus"></i> Add</strong> untuk menambah data alamat anda saat ini`
        }
      ],
      myCallbacks: {
        onStop : this.myCustomStopCallback,
      }
    }
  },
  mounted() {
    let app = this;
    app.$emit('update-active-by-child', 'akun')
  
    if(app.$auth.user().web_tour == 1){
      app.$tours['myTour'].start()
    }
    app.getAlamat();
    
  },
  methods: {
    myCustomStopCallback  (currentStep) {
        // this.$root.$emit('update-user-tour', '')
    },
    previousPage (currentStep) {
          this.$router.push({name: 'dataAnak'})
    },
    nextPage (currentStep) {
          this.$router.push({name: 'logistic'})
    },
    getAlamat(){
      var app = this;
      app.userId = app.$auth.user().id;

      axios.get('/apialamatuser/' + app.userId)
      .then(function (resp) {
        app.alamats = resp.data.alamat;
      })
      .catch(function () {
        app.$fire({
          title: resp.data.status,
          text: "Tidak dapat memuat data Alamat",
          type: "error",
          showConfirmButton: false,
          timer: 2000
        }).then(r => {
         // console.log(r.value);
        });
      });
    },
    saveAlamat(){
      event.preventDefault();
      var app = this;
      var newAlamat = app.user;
      axios.put('/auth/apialamat/' + app.userId, newAlamat)
      .then(function (resp) {
        app.has_error = false

        if(resp.data.status == 'success'){
          app.$fire({
            title: resp.data.status,
            text: resp.data.message,
            type: "success",
            showConfirmButton: false,
            timer: 2000
          }).then(r => {
           // console.log(r.value);
           app.getProfiledetail();
          });
        }
        else{
          app.has_error = true
          app.errors = resp.data.message || {}

          app.$fire({
            title: resp.data.status,
            text: "Operation failed !",
            type: "error",
            showConfirmButton: false,
            timer: 2000
          }).then(r => {
           // console.log(r.value);
          });

        }

      })
      .catch(function (resp) {
        // console.log(resp);
        app.has_error = true
        app.errors = resp.data.message || {}

        app.$fire({
          title: resp.data.status,
          text: "Tidak dapat mengupadat data Alamat",
          type: "error",
          showConfirmButton: false,
          timer: 2000
        }).then(r => {
         // console.log(r.value);
        });
      });

    },
    showModal (alamatId = null) {
      this.$modal.show(AlamatModal, {
        alamatId: alamatId,
      }, {
        name:'alamat-modal',
        // draggable: true,
        adaptive: true,
        height: 'auto',
        scrollable: true,
        resizable: true,
      }, {
        'before-close': this.getAlamat,
      })

    },
    updateStatus(id){
      var app = this;

      var newStatus = {
        activation_status : 1
      }

      axios.put('/auth/apialamatstatus/' + id, newStatus).then(function (resp) {
        app.has_error = false

        if(resp.data.status == 'success'){
          app.$fire({
            title: resp.data.status,
            text: resp.data.message,
            type: "success",
            showConfirmButton: false,
            timer: 2000
          }).then(r => {
            app.getAlamat();
          });
        }
        else{
          // console.log(resp);
          app.has_error = true
          app.errors = resp.data.message || {}

          app.$fire({
            title: resp.data.status,
            text: "Operation failed !",
            type: "error",
            showConfirmButton: false,
            timer: 2000
          }).then(r => {
           // console.log(r.value);
          });

        }

      })
      .catch(function (resp) {
        // console.log(resp);
        app.has_error = true
        app.errors = resp.data.message || {}

        app.$fire({
          title: resp.data.status,
          text: "Could not update your Profile",
          type: "error",
          showConfirmButton: false,
          timer: 2000
        }).then(r => {
         // console.log(r.value);
        });
      });
      
    },
    deleteAlamat(alamatiId, index){
      var app = this;
      
      app.$fire({
        title: 'Hapus data',
        text: 'Apakah anda yakin untuk menghapus data ini ?',
        type: "question",
        showCancelButton: true,
        confirmButtonColor: '#ef5777',
      }).then(r => {

          // console.log(r.value);
          if(r.value){
            axios.delete('/auth/apialamat/' + alamatiId)
              .then(function (resp) {
                app.getAlamat()
              })
              .catch(function (resp) {
                app.has_error = true
                app.errors = resp.data.message || {}

                app.$fire({
                  title: resp.data.status,
                  text: "Could not update your data",
                  type: "error",
                  showConfirmButton: false,
                  timer: 2000
                }).then(r => {
                 // console.log(r.value);
                });
             })
          }

      });
    },

  }
}
</script>