<template>

    <div class="panel panel-default panel-table akun-list">
        <div class="panel-heading">
            <div class="row">
                <div class="col col-xs-12">
                    <h3 class="panel-title">Informasi Info</h3>
                </div>
            </div>
        </div>

      <form v-on:submit="saveInfo()">

        <div class="panel-body">


            <div class="row">

                <div class="col-xs-12 col-md-6">
                  <div class="form-group" v-bind:class="{ 'has-error': has_error && errors.info_title }">
                    <label class="label-title">Nama Info</label>
                    <input type="text" class="form-control" v-model="info.info_title" placeholder="Nama">
                    <span class="help-block" v-if="has_error && errors.info_title">{{ errors.info_title }}</span>
                  </div>
                </div>


                <div class="col-xs-12 col-md-6">
                  <div class="form-group" v-bind:class="{ 'has-error': has_error && errors.kategori_id }">
                    <label class="label-title">Kategori</label>



                    <div class="input-group">
                      <span class="input-group-addon bg-pink cursor-pointer" @click="showModal()"><i class="fa fa-plus"></i></span>
                      
                      <v-select v-model="info.kategori_id" label="kategori_name" :options="kategori" :reduce="kategori_name => kategori_name.id"></v-select>
                    </div>

                    <span class="help-block" v-if="has_error && errors.kategori_id">{{ errors.kategori_id }}</span>
                  </div>
                </div>


                <div class="col-xs-12">
                  <div class="form-group" v-bind:class="{ 'has-error': has_error && errors.info_details }">
                    <label class="label-title">Info Detail</label>

                    <vue-editor id="info_details" v-model="info.info_details" />

                    <span class="help-block" v-if="has_error && errors.info_details">{{ errors.info_details }}</span>

                  </div>
                </div>


                <div class="col-xs-12">
                  <div class="bs-callout bs-callout-success">
                    <h4>SEO Information</h4>
                  </div>
                </div>


                <div class="col-xs-12">
                  <div class="form-group" v-bind:class="{ 'has-error': has_error && errors.meta_title }">
                    <label class="label-title">Meta Title</label>
                    <input type="text" class="form-control" v-model="info.meta_title" placeholder="Nama">
                    <span class="help-block" v-if="has_error && errors.meta_title">{{ errors.meta_title }}</span>
                  </div>
                </div>



                <div class="col-xs-12">
                  <div class="form-group" v-bind:class="{ 'has-error': has_error && errors.meta_description }">
                    <label class="label-title">Meta Description</label>
                    
                    <vue-editor id="meta_description" v-model="info.meta_description" />


                    <span class="help-block" v-if="has_error && errors.meta_description">{{ errors.meta_description }}</span>

                  </div>
                </div>
            </div>

            
            <div v-show="infoId" class="row">
              <div class="col-xs-12">

                  <div class="form-group">

                    <label class="label-title">Foto Banner</label>

                    <!-- <a class="btn btn-pink" @click="toggleShow">set avatar</a> -->
                    <my-upload 
                      @crop-success="cropSuccess"
                      @crop-upload-success="cropUploadSuccess"
                      @crop-upload-fail="cropUploadFail"
                      v-model="show"
                      :field="'info_image'"
                      :width="1000"
                      :height="382"
                      :url="urlImg"
                      :params="params"
                      :headers="headers"
                      lang-type="en"
                      img-format="png"></my-upload>

                    <div class="dm-upload" @click="toggleShow" v-bind:style="messageshow?{'padding':'2em 0'}:{}">
                      <img :src="imgDataUrl" class="img-responsive">
                      <span v-show="messageshow" class="dm-message">
                        Click here to upload banner info
                      </span>
                    </div> 

                  </div>

                
              </div>
            </div>

        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col col-xs-12">
                    <div class="pull-right">
                        <button class="btn btn-pink">
                            <span class="fa fa-save"
                                  aria-hidden="true"></span>
                            Simpan
                        </button>
                    </div>
                </div>
            </div>
        </div>

      </form>
      
    </div>

</template>

<script>

import Modal         from './../../webcomponents/akun/AkunKategorimodal.vue';

export default {
  data: function() {
    return {
      infoId: this.$route.params.id,
      urlImg : '',
      has_error: false,
      errors: {},
      kategori : [],
      info: {
        kategori_id : '',
        info_image : '',
        info_title : '',
        info_details : '',
        info_date : '',
        publication_status : '',
        meta_title : '',
        meta_keywords : '',
        meta_description : '',
      },
      imagePath:process.env.MIX_APP_URL+'/public/banner_image/',
      imgDataUrl: '', // the datebase64 url of created image

      show: false,
      messageshow: true,
      params: {
        token: '123456798',
        name: 'avatar'
      },
      headers: {
        smail: '*_~'
      },
    }
  },
  mounted() {
    let app = this;

    // app.urlImg = process.env.MIX_APP_URL+'/api/apiinfofoto?info_id='+app.infoId

    app.getKategori();
    app.getDatainfo();
    
  },
  methods: {

    showModal (kategoriId = null) {
      this.$modal.show(Modal, {
        kategoriId: kategoriId,
      }, {
        name:'kategori-modal',
        // draggable: true,
        adaptive: true,
        height: 'auto',
        scrollable: true,
        resizable: true,
      }, {
        'before-close': this.getKategori,
      })
    },
    checkId(){
      var app = this;
    },
    getDatainfo(){
      var app = this;

      axios.get('/auth/apiinfoedit/' + app.infoId)
      .then(function (resp) {
        if(resp.data.info){
          app.info = resp.data.info;
          app.urlImg = process.env.MIX_APP_URL+'/api/apiinfofoto?info_id='+app.infoId

          if(app.info.info_image){
            app.imgDataUrl = app.imagePath+app.info.info_image
            app.messageshow = false;

          }
        }
      })
      .catch(function () {
        app.$fire({
          title: resp.data.status,
          text: "Tidak dapat memuat data info",
          type: "error",
          showConfirmButton: false,
          timer: 2000
        }).then(r => {
         // console.log(r.value);
        });
      });
    },
    getKategori(){
      var app = this;

      axios.get('/apikateogori')
      .then(function (resp) {
        app.kategori = resp.data.kategori;
        // console.log(app.kategori);
      })
      .catch(function () {

      });

    },
    saveInfo(){
      event.preventDefault();
      var app = this;
      var newInfo = app.info;

      var method = app.infoId ? axios.patch('/auth/apiinfo/' + app.infoId, newInfo) : axios.post('/auth/apiinfo', newInfo);
      let loader = app.$loading.show()

      method.then(function (resp) {
        app.has_error = false
        if(resp.data.status == 'success'){
          loader.hide()
          app.$fire({
            title: resp.data.status,
            text: resp.data.message,
            type: "success",
            showConfirmButton: false,
            timer: 2000
          }).then(r => {
           // console.log(r.value);
           app.infoId = resp.data.info_id
           app.getDatainfo();
          });
        }
        else{
          // console.log(resp);
          app.has_error = true
          app.errors = resp.data.message || {}

          loader.hide()
          app.$fire({
            title: resp.data.status,
            text: "Operation failed !",
            type: "error",
            showConfirmButton: false,
            timer: 2000
          }).then(r => {
           // console.log(r.value);
          });

        }

      })
      .catch(function (resp) {
        // console.log(resp);
        app.has_error = true
        app.errors = resp.data.message || {}

        loader.hide()
        app.$fire({
          title: resp.data.status,
          text: "Tidak dapat mengupadate data",
          type: "error",
          showConfirmButton: false,
          timer: 2000
        }).then(r => {
         // console.log(r.value);
        });
      });

    },

    toggleShow() {
      this.show = !this.show;
    },
          /**
     * crop success
     *
     * [param] imgDataUrl
     * [param] field
     */
    cropSuccess(imgDataUrl, field){
      // console.log('-------- crop success --------');
      this.imgDataUrl = imgDataUrl;
    },
    /**
     * upload success
     *
     * [param] jsonData  server api return data, already json encode
     * [param] field
     */
    cropUploadSuccess(jsonData, field){
      var app = this;

      // console.log('-------- upload success --------');
      // console.log(jsonData);
      // console.log('field: ' + field);
      // console.log(jsonData.file.name);

      var statusField = field ? false : true;

      app.info.info_image = jsonData.file.name;

      app.messageshow = statusField;

      // console.log(app.info)
    },
    /**
     * upload fail
     *
     * [param] status    server api return error status, like 500
     * [param] field
     */
    cropUploadFail(status, field){
      // console.log('-------- upload fail --------');
      // console.log(status);
      // console.log('field: ' + field);
    }
  }
}
</script>