<template>

    <div class="panel panel-default panel-table akun-list">
        <div class="panel-heading">
            <div class="row">
                <div class="col col-xs-6">
                    <h3 class="panel-title">Panel title</h3>
                          <br>
                          by button : {{ selectedlang }}
                          <br>
                          by selected : {{ selected }}

                </div>
                <div class="col col-xs-6 text-right">
                    <div class="pull-right">
                        <div class="btn-group" data-toggle="buttons">
                            <!-- <label class="btn btn-success btn-filter active" data-target="completed">
                                <input type="radio" name="options" id="option1" autocomplete="off" checked>
                                Completed
                            </label>
                            <label class="btn btn-warning btn-filter" data-target="pending">
                                <input type="radio" name="options" id="option2" autocomplete="off"> Pending
                            </label>
                            <label class="btn btn-default btn-filter" data-target="all">
                                <input type="radio" name="options" id="option2" autocomplete="off"> All
                            </label> -->

                            <router-link :to="{name:'donasiData'}" class="btn btn-default btn-filter" data-target="all">
                              Tambah Data Donasi
                            </router-link>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <table id="mytable" class="table table-striped table-bordered table-list">
                <thead>
                <tr>
                    <th class="col-check"><input type='checkbox' @click='checkAll()' v-model='isCheckAll'></th>
                    <th class="col-tools"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                    </th>
                    <th class="hidden-xs">ID</th>
                    <th class="col-text">Name</th>
                    <th class="col-text">Email</th>
                </tr>
                </thead>
                <tbody>
                <tr data-status="completed" v-for='lang in langsdata'>
                    <td align="center"><input type='checkbox' v-bind:value='lang.id' v-model='selected' @change='updateCheckall()'></td>
                    <td align="center">
                      <a class="btn btn-default"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                      <a class="btn btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                    </td>
                    <td class="hidden-xs">1</td>
                    <td>{{lang.name}}</td>
                    <td>johndoe@example.com</td>
                </tr>
                </tbody>
            </table>

        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col col-xs-12">
                    <div class="pull-right">
                        <button type="button" class="btn btn-primary" @click='printValues()'>
                            <span class="glyphicon glyphicon-plus"
                                  aria-hidden="true"></span>
                            Print Selected Values
                        </button>
                        <!-- <input type='button' @click='printValues()' value='Print Selected Values'> -->

                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
  export default {
    data: function(){
      return{
        isCheckAll: false,
        langsdata: [
            {
              id:1,
              name:"PHP",
            },
            {
              id:2,
              name:"Vue.js",
            },
            {
              id:3,
              name:"AngularJS",
            },
            {
              id:4,
              name:"jQuery",
            },
            {
              id:5,
              name:"JavaScript"
            }
          ],
        selected: [],
        selected2: [],
        selectedlang: ""
      }
    },
    mounted(){

    },
    methods: {
      checkAll: function(){
        var app = this;

        app.isCheckAll = !app.isCheckAll;

        app.selected = [];
        // Check all
        if(app.isCheckAll){ 
          for (var key in app.langsdata) {
            app.selected.push(app.langsdata[key].id);
          }
        }

        app.selected2 = app.langsdata.id;

        // console.log(app.langsdata)
        // console.log(app.selected)
      },
      updateCheckall: function(){
        var app = this;

        if(app.selected.length == app.langsdata.length){
           app.isCheckAll = true;
        }else{
           app.isCheckAll = false;
        }
      },
      printValues: function(){
        var app = this;

        app.selectedlang = "";
        // Read Checked checkboxes value
        for (var key in app.selected) {
           app.selectedlang += app.selected[key]+", "; 
        }
      }
    }
  }
</script>