<template>

    <div class="panel panel-default panel-table akun-list">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-9 hidden-xs">
                    <h3 class="panel-title">Data Anak</h3>
                </div>
                <div class="col-md-3 col-xs-12 text-right">
                    <div class="pull-right">
                        <div class="btn-group" data-toggle="buttons">
                            <button id="v-step-0" type="button" class="btn btn-default btn-filter" @click="showModal()">
                                <i class="fa fa-plus"></i> Add
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
          
            <table v-if="anaks.total > 0" id="mytable" class="table table-striped table-bordered table-list overflow-table">
                <thead>
                <tr>
                    <!-- <th class="col-check center"><input type="checkbox" id="checkall" onclick="test()"/></th> -->
                    <th class="col-tools" v-bind:style="{'width':'150px'}"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                    </th>
                    <th class="col-text">NIK</th>
                    <th class="col-text">Nama</th>
                    <th class="col-text">Tgl Lahir</th>
                </tr>
                </thead>
                <tbody>

                <tr v-for="anak, index in anaks.data">
                    <!-- <td align="center"><input type="checkbox" class="checkthis"/></td> -->
                    <td align="center" v-bind:style="{'white-space':'nowrap'}">
                      <a class="btn btn-default" data-toggle="tooltip" data-placement="top" title="edit" @click="showModal(anak.id)">
                        <span class="fa fa-pencil"></span>
                      </a>

                      <a class="btn btn-default" data-toggle="tooltip" data-placement="top" title="hapus" v-on:click="deleteAnaks(anak.id, index)">
                        <span class="fa fa-trash"></span>
                      </a>

                        <!-- change button -->
                      <a v-if="anak.activation_status == 1" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="non aktifkan" v-on:click="statusAnaks(anak.id, 0)">
                        <span class="fa fa-power-off"></span>
                      </a>
                      <a v-else class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="aktifkan" v-on:click="statusAnaks(anak.id, 1)">
                        <span class="fa fa-power-off"></span>
                      </a>
                    </td>
                    <td>{{anak.bayi_nik}}</td>
                    <td>{{anak.bayi_name}}</td>
                    <td>{{anak.bayi_tgl_lahir}}</td>
                </tr>

                </tbody>
            </table>


            <div v-if="anaks.total == 0"  class="row">
              <div class="col-xs-12 text-center" v-bind:style="{'padding':'100px'}">
                  <img alt='' class="img-circle" v-bind:src="'/public/avatar/ay.png'" v-bind:style="{'width':'30%','margin-bottom':'10px'}">
                  <h4>Belum ada data anak !</h4>
              </div>
            </div>


            <!-- Pagination-->
            <nav class="text-center">
              <pagination :data="anaks" @pagination-change-page="getAnaks"></pagination>
            </nav>

        </div>
        <!-- <div class="panel-footer">
            <div class="row">
                <div class="col col-xs-12">



                    <div class="pull-right">
                        <button type="button" class="btn btn-primary">
                            <span class="glyphicon glyphicon-plus"
                                  aria-hidden="true"></span>
                            Add row
                        </button>
                    </div>
                </div>
            </div>
        </div> -->
      
      <v-tour name="myTour" :steps="steps" :callbacks="myCallbacks">
        <template slot-scope="tour">
          <transition name="fade">
            <v-step
              v-if="tour.currentStep === index"
              v-for="(step, index) of tour.steps"
              :key="index"
              :step="step"
              :previous-step="tour.previousStep"
              :next-step="tour.nextStep"
              :stop="tour.stop"
              :is-first="tour.isFirst"
              :is-last="tour.isLast"
              :labels="tour.labels"
            >
              <template v-if="tour.currentStep === 0">
                <div slot="actions">
                  <button @click="tour.stop" class="v-step__button">Skip tour</button>
                  <button @click="previousPage" class="v-step__button">Previous</button>
                  <button @click="nextPage" class="v-step__button">Next</button>
                </div>
              </template>
            </v-step>
          </transition>
        </template>
      </v-tour>

    </div>

</template>

<script>
  import Modal         from './../../webcomponents/akun/AkunAnakmodal.vue';

export default {
  data() {
    return {
      anaks : {},
      has_error: false,
      userId : '',
      anak:{
        bayi_avatar     : '',
        bayi_name       : '',
        bayi_nik        : '',
        bayi_gender     : '',
        bayi_tgl_lahir  : '',
        bayi_tpt_lahir  : '',
      },
      errors: {},
      steps: [
        {
          target: '#v-step-0',  // We're using document.querySelector() under the hood
          content: `Tekan  <strong><i class="fa fa-plus"></i> Add</strong> untuk menambah data anak`
        }
      ],
      myCallbacks: {
        onStop : this.myCustomStopCallback,
      }
    }
  },
  mounted() {
    var app = this;
    app.$emit('update-active-by-child', 'akun')
  
    if(app.$auth.user().web_tour == 1){
      app.$tours['myTour'].start()
    }
    app.getAnaks();

    //
  },
  methods: {
    myCustomStopCallback  (currentStep) {
        // this.$root.$emit('update-user-tour', '')
    },
    previousPage (currentStep) {
        this.$router.push({name: 'profil'})
    },
    nextPage (currentStep) {
        this.$router.push({name: 'alamat'})
    },
    getAnaks(page) {
      var app = this;

      if (typeof page === 'undefined') {
        page = 1;
      }

      axios.get('/auth/apibayi?page='+page)
      .then(function(resp){
        app.anaks = resp.data.anak;
      })
      .catch(function(resp){
        // console.log(resp);
        alert('Data tidak dapat di load');
      })
    },
    statusAnaks(bayiId, status){
      var app = this;
      var messageTitle = status == 1 ? 'Aktifasi':'Non Aktifkan'
      var messageStatus = status == 1 ? 'Apakah anda akan mengaktifkan data anak ini ?':'Apakah anda akan menonaktifkan data anak ini ?'
      
      app.$fire({
        title: messageTitle,
        text: messageStatus,
        type: "question",
        showCancelButton: true,
        confirmButtonColor: '#ef5777',
      }).then(r => {

          // console.log(r.value);
          if(r.value){
            axios.put('/auth/apibayiremove/' + bayiId + '/' + status)
              .then(function (resp) {
                app.getAnaks()
                  // app.companies.splice(index, 1);
              })
              .catch(function (resp) {
                app.has_error = true
                app.errors = resp.data.message || {}

                app.$fire({
                  title: resp.data.status,
                  text: "Could not update your Profile",
                  type: "error",
                  showConfirmButton: false,
                  timer: 2000
                }).then(r => {
                 // console.log(r.value);
                });
             })
          }

      });
    },
    deleteAnaks(bayiId, index){
      var app = this;
      
      app.$fire({
        title: 'Hapus data',
        text: 'Apakah anda yakin untuk menghapus data ini ?',
        type: "question",
        showCancelButton: true,
        confirmButtonColor: '#ef5777',
      }).then(r => {

          // console.log(r.value);
          if(r.value){
            axios.delete('/auth/apibayi/' + bayiId)
              .then(function (resp) {
                app.getAnaks()
              })
              .catch(function (resp) {
                app.has_error = true
                app.errors = resp.data.message || {}

                app.$fire({
                  title: resp.data.status,
                  text: "Could not update your Profile",
                  type: "error",
                  showConfirmButton: false,
                  timer: 2000
                }).then(r => {
                 // console.log(r.value);
                });
             })
          }

      });
    },
    showModal (bayiId = null) {
      this.$modal.show(Modal, {
        bayiId: bayiId,
      }, {
        name:'anak-modal',
        // draggable: true,
        adaptive: true,
        height: 'auto',
        scrollable: true,
        resizable: true,
      }, {
        'before-close': this.getAnaks,
      })

    }
  }
}
</script>
