<template>
<span>

  <profil-data></profil-data>

  <profil-penyakit></profil-penyakit>

  <profil-obat></profil-obat>



</span>
</template>

<script>
import ProfilData         from './../../webcomponents/akun/AkunProfildata.vue';
import ProfilPenyakit     from './../../webcomponents/akun/AkunProfilpenyakit.vue';
import ProfilObat     from './../../webcomponents/akun/AkunProfilobat.vue';

export default {
  props: {
  		default:'',
      	data: '',
  },
  components: {
      'profil-data': ProfilData,
      'profil-penyakit': ProfilPenyakit,
      'profil-obat': ProfilObat,
  },
  mounted(){
    var app = this;
  	app.$emit('update-active-by-child', 'akun')


    // alert(app.default);


  },
}
</script>