<template>

  <div class="row">
    <div class="col-xs-12">

        <div class="form-group">
          <label class="label-title">Foto Product</label>

          <vue-dropzone ref="donasi_image" id="donasi_image" :destroyDropzone="false" :options="dropzoneOptions" @vdropzone-sending="sendingImage" @vdropzone-removed-file="removeImage"></vue-dropzone>


        </div>
    </div>
  </div>

</template>

<script>

export default {
  props: {
      donasiId: '',
      // donasiGambar: Object,
  },
  data: function() {
    return {
      imagePath:process.env.MIX_APP_URL+'/public/featured_image/',
      dropzoneOptions: {
          // url: 'https://httpbin.org/post',
          url: process.env.MIX_APP_URL+'/api/apidonasifoto',
          thumbnailWidth: 160,
          thumbnailHeight: 160,
          maxFilesize: 5,
          paramName:'donasi_image',
          addRemoveLinks:true,
          headers: { "My-Awesome-Header": "header value" }
      },
      donasiGambar:{}

    }
  },
  mounted() {
    let app = this;

    // app.getImagedonasi();
    app.getGambardonasi();
    
  },
  methods: {
    getGambardonasi(){
      var app = this;

      axios.get('/apidonasifoto/' + app.donasiId)
      .then(function (resp) {
        if(resp.data.donasi){
          app.donasiGambar = resp.data.donasi;

          $.each(app.donasiGambar, function(key, value) {
            var file = { size: 123, name: value.donasi_image, type: "image/png" };
            var url = app.imagePath+value.donasi_image;
            app.$refs.donasi_image.manuallyAddFile(file, url)

          });


        }
      })
      .catch(function () {
        app.$fire({
          title: resp.data.status,
          text: "Tidak dapat memuat data profile",
          type: "error",
          showConfirmButton: false,
          timer: 2000
        }).then(r => {
         // console.log(r.value);
        });
      });

    },
    checkId(){
      var app = this;

      alert('donasi id :'+app.donasiId);
    },
    updateHeader(){
      var app = this;

      app.$emit('update-value-by-child', 77)
    },
    getImagedonasi(){
      var app = this;
      for(var i=0; i<=2; i++){
        var file = { size: 123, name: "28-logo-ayfamu.png", type: "image/png" };
        var url = app.imagePath+'28-logo-ayfamu.png';
        this.$refs.donasi_image.manuallyAddFile(file, url);
      }
    },
    sendingImage(file, xhr, formData) {
      var app = this;
      // alert('donasi gambar :'+app.donasiId);
      formData.append('donasi_id', app.donasiId);

      // console.log('-------- upload image --------');
      // console.log(file)
      // console.log(xhr)
      // console.log(formData)
    },
    removeImage(file, xhr, formData){
      var app = this
      var fileName = file.manuallyAdded ? file.name : app.donasiId+'-'+file.name;
      var newImage = {
        filename : fileName
      }
      var donasiId = app.donasiId;
      
      // console.log('-------- remove image --------');
      // console.log(file)
      // console.log(xhr)
      // console.log(formData)
      // console.log(fileName)

      axios.delete('/apidonasifoto/' + donasiId+'?filename='+ fileName)
        .then(function (resp) {
          // app.getAnaks()
        })
        .catch(function (resp) {
          app.has_error = true
          app.errors = resp.data.message || {}

          app.$fire({
            title: resp.data.status,
            text: "Could not update your Profile",
            type: "error",
            showConfirmButton: false,
            timer: 2000
          }).then(r => {
           // console.log(r.value);
          });
       })


    },
  }
}
</script>