<template>

    <div class="panel panel-default panel-table akun-list">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-12">
                    <h3 id="v-step-0" class="panel-title">Jasa Kirim Saya</h3>
                </div>
            </div>
        </div>
        <div class="panel-body">


          <div class="row">
          <div class="col-md-12">
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default" v-for="logistic, index in logistics">
                  <div class="panel-heading" role="tab" :id="'heading'+logistic.id">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" :href="'#collapse'+logistic.id" aria-expanded="true" :aria-controls="'collapse'+logistic.id">
                          {{logistic.display_name}}
                        </a>

                        <div class="checkbox checbox-switch switch-info float-right">
                            <label>
                                <input type="checkbox" v-bind:value='logistic.id' v-model='user_logistic' @change='updateLogistic()' :disabled="logistic.enabled == 'false'">
                                <span></span>
                            </label>
                        </div> 
                      </h4>



                  </div>
                  <div :id="'collapse'+logistic.id" v-bind:class="{'panel-collapse':true, 'collapse':true}" role="tabpanel" :aria-labelledby="'heading'+logistic.id">
                      <div class="panel-body">
                        
                        <span v-if="logistic.id == 1">
                          <p>{{logistic.display_name}} adalah metode pengiriman dimana penerima donasi bertemu langsung dengan donatur untuk menerima barang donasinya.</p>
                        </span>
                        <span v-else-if="logistic.id == 2">
                          <p>{{logistic.display_name}} adalah jasa pengiriman standar Grab Indonesia yang menyediakan jasa pickup dan pengiriman pada hari yang sama.</p>
                        </span>
                        <span v-else-if="logistic.id == 3">
                          <p>{{logistic.display_name}} adalah perusahaan pengiriman ekspres yang menerapkan perkembangan teknologi sebagai dasar dari sistemnya. Jaringan luas yang dimiliki oleh J&T Express memfasilitasi layanan-layanan ekspres untuk pelanggan di seluruh Indonesia.</p>

                          <p>J&T Express tidak menerima cairan dan baterai untuk pengiriman yang melalui transportasi udara.</p>
                        </span>


                        <strong>Batasan</strong>
                        <p>
                        <span v-if="logistic.max_height > 0">Jarak maksimum: {{logistic.max_height}} km <br></span>
                        <span v-if="logistic.max_size > 0">Berat maksimum: {{logistic.max_size}} gr </span>
                      </p>
                      </div>
                  </div>
              </div>
          </div>
          </div>
          </div>


            <div v-if="logistics.length == 0" class="row">
              <div class="col-xs-12 text-center" v-bind:style="{'padding':'100px'}">
                  <img alt='' class="img-circle" v-bind:src="'/public/avatar/ay.png'" v-bind:style="{'width':'30%','margin-bottom':'10px'}">
                  <h4>Belum ada data alamat !</h4>
              </div>
            </div>

        </div>


      <v-tour name="myTour" :steps="steps" :callbacks="myCallbacks">
        <template slot-scope="tour">
          <transition name="fade">
            <v-step
              v-if="tour.currentStep === index"
              v-for="(step, index) of tour.steps"
              :key="index"
              :step="step"
              :previous-step="tour.previousStep"
              :next-step="tour.nextStep"
              :stop="tour.stop"
              :is-first="tour.isFirst"
              :is-last="tour.isLast"
              :labels="tour.labels"
            >
              <template v-if="tour.currentStep === 0">
                <div slot="actions">
                  <button @click="tour.stop" class="v-step__button">Skip tour</button>
                  <button @click="previousPage" class="v-step__button">Previous</button>
                  <button @click="nextPage" class="v-step__button">Next</button>
                </div>
              </template>
            </v-step>
          </transition>
        </template>
      </v-tour>

    </div>

</template>


<script>

export default {
  data: function() {
    return {
      user_logistic:{},
      logistics:{},
      userId : '',
      errors: {},
      steps: [
        {
          target: '#v-step-0',  // We're using document.querySelector() under the hood
          content: `Pilih minimal 1 metode pengiriman`
        }
      ],
      myCallbacks: {
        onStop : this.myCustomStopCallback,
      }
    }
  },
  mounted() {
    let app = this;
    app.$emit('update-active-by-child', 'akun')
    app.getLogistic()
  
    if(app.$auth.user().web_tour == 1){
      app.$tours['myTour'].start()
    }
    
  },
  methods: {
    myCustomStopCallback  (currentStep) {
        // this.$root.$emit('update-user-tour', '')
    },
    previousPage (currentStep) {
          this.$router.push({name: 'alamat'})
    },
    nextPage (currentStep) {
          this.$router.push({name: 'pesananSaya'})
    },
    getLogistic(){
      var app = this;
      // var userId = app.$auth.user().id;

      axios.get('/auth/apilogisticuser')
      .then(function (resp) {
        if(resp.data.logistic){
          app.logistics = resp.data.logistic;
          app.user_logistic = resp.data.user_logistic;
        }
      })
      .catch(function () {

      });
    },
    updateLogistic(){
      var app = this;
      var newLogistic = {
        logisitic_id : app.user_logistic
      }
      var userId = app.$auth.user().id;
      axios.put('/auth/apilogisticuser/' + userId, newLogistic)
      .then(function (resp) {
        app.has_error = false

        if(resp.data.status == 'success'){
          app.$fire({
            title: resp.data.status,
            text: resp.data.message,
            type: "success",
            showConfirmButton: false,
            timer: 2000
          }).then(r => {
           // console.log(r.value);
          });
        }
        else{
          app.has_error = true
          app.errors = resp.data.message || {}

          app.$fire({
            title: resp.data.status,
            text: "Operation failed !",
            type: "error",
            showConfirmButton: false,
            timer: 2000
          }).then(r => {
           // console.log(r.value);
          });

        }

      })
      .catch(function (resp) {
        // console.log(resp);
        app.has_error = true
        app.errors = resp.data.message || {}

        app.$fire({
          title: resp.data.status,
          text: "Tidak dapat mengupadat data Penyakit",
          type: "error",
          showConfirmButton: false,
          timer: 2000
        }).then(r => {
         // console.log(r.value);
        });
      });
    }

  }
}
</script>