<template>
  
    <div class="center-block">
      <div class="tab-content tabs-login col-lg-12 col-md-12 col-sm-12 cols-xs-12">
  
        <form v-on:submit="saveKategori()">
            <div class="row">
              <div class="col-xs-12">
                <div class="form-group" v-bind:class="{ 'has-error': has_error && errors.kategori_name }">
                    <label class="control-label">Nama Kategori</label>
                    <input type="text" class="form-control" v-model="kategori.kategori_name" placeholder="Nama Kategori">
                    <span class="help-block" v-if="has_error && errors.kategori_name">{{ errors.kategori_name }}</span>
                </div>
              </div>
              <div class="col-xs-12">
                <div class="form-group" v-bind:class="{ 'has-error': has_error && errors.kategori_desc }">
                    <label class="control-label">Keterangan</label>
                    <vue-editor id="kategori_desc" v-model="kategori.kategori_desc" />
                    <span class="help-block" v-if="has_error && errors.kategori_desc">{{ errors.kategori_desc }}</span>
                </div>
              </div>


            </div>

            <div class="form-group">
                <button class="btn btn-custom">Simpan</button>
            </div>
        </form>
      </div>
    </div>
</template>


<script>

export default {
  props: {
      kategoriId: '',
  },
  data() {
    return {
      has_error: false,
      userId : '',
      kategori:{
        kategori_name     : '',
        kategori_desc     : '',
      },
      errors: {},
    }
  },
  mounted(){
    var app = this;

    app.getKategori();

  },
  methods: {
    getKategori(){
      let app = this;
      axios.get('/apikateogori/' + app.kategoriId)
      .then(function (resp) {
        if(resp.data){
          app.kategori = resp.data;
        }
      })
      .catch(function () {
        alert("Data tidak dapat di load")
      });

    },
    saveKategori(){
      event.preventDefault();
      var app = this;
      var newKategori = app.kategori;
      var method = app.kategoriId ? axios.patch('/auth/apikateogori/' + app.kategoriId, newKategori) : axios.post('/auth/apikateogori', newKategori);

      method.then(function (resp) {
        app.has_error = false

        if(resp.data.status == 'success'){
          app.$fire({
            title: resp.data.status,
            text: resp.data.message,
            type: "success",
            showConfirmButton: false,
            timer: 2000
          }).then(r => {
            app.$modal.hide('kategori-modal');
          });
        }
        else{
          // console.log(resp);
          app.has_error = true
          app.errors = resp.data.message || {}

          app.$fire({
            title: resp.data.status,
            text: "Operation failed !",
            type: "error",
            showConfirmButton: false,
            timer: 2000
          }).then(r => {
           // console.log(r.value);
          });

        }

      })
      .catch(function (resp) {
        // console.log(resp);
        app.has_error = true
        app.errors = resp.data.message || {}

        app.$fire({
          title: resp.data.status,
          text: "Could not update your kateogori",
          type: "error",
          showConfirmButton: false,
          timer: 2000
        }).then(r => {
         // console.log(r.value);
        });
      });

    }
  }
}

</script>