<template>
  
    <div class="center-block">
      <div class="tab-content tabs-login col-lg-12 col-md-12 col-sm-12 cols-xs-12">
  
          <div class="row">
            <div class="col-xs-12 user-req">



              <div class="box">
                  <div class="img">

                    <img v-if="profile.avatar" v-bind:src="'/public/avatar/'+profile.avatar" alt="" class="img-responsive">
                    <img v-else v-bind:src="'/public/avatar/ay.png'" alt="" class="img-responsive">

                  </div>
                  <h2>
                    {{profile.user_name}}<br>
                    <span><i class="fa fa-mobile-phone fa-lg"></i>:{{profile.phone}}</span>
                  </h2>
                  <p v-html="profile.req_details"></p>
                  <span>
                      <ul>
                          <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                      </ul>
                  </span>
              </div>



            </div>
          </div>
      </div>
    </div>
</template>


<script>

export default {
  props: {
      donasiId: '',
  },
  data() {
    return {
      has_error: false,
      userId : '',
      profile:{
        name      : '',
        nik       : '',
        username  : '',
        email     : '',
        gender    : '',
        phone     : '',
        address   : '',
        tpt_lahir : '',
        tgl_lahir : '',
        agama     : '',
      },
      errors: {},
    }
  },
  mounted(){
    var app = this;
    app.getProfiledetail();
  },
  methods: {
    getProfiledetail(){
      var app = this;
      app.userId = app.donasiId;
      axios.get('/apidonasiorderdetail/' + app.userId)
      .then(function (resp) {
        app.profile = resp.data;
      })
      .catch(function () {
        app.$fire({
          title: resp.data.status,
          text: "Tidak dapat memuat data profile",
          type: "error",
          showConfirmButton: false,
          timer: 2000
        }).then(r => {
         // console.log(r.value);
        });
      });
    }
  }
}

</script>