<template>

    <div class="panel panel-default panel-table akun-list">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-9 hidden-xs">
                    <h3 class="panel-title">Data Donasi</h3>
                </div>
                <div class="col-md-3 col-xs-12 text-right">
                    <div class="pull-right">
                        <div class="btn-group" data-toggle="buttons">
                          <span @click.capture="allowData">
                            <router-link id="v-step-0" :to="{name:'donasiData'}" class="btn btn-default btn-filter" data-target="all">
                            <!-- <router-link @click.native="cekAlamat" :to="{name:'donasiData'}" class="btn btn-default btn-filter" data-target="all"> -->
                              <i class="fa fa-plus"></i> Add
                            </router-link>
                          </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
          
            <table v-if="donasi.total > 0" id="mytable" class="table table-striped table-bordered table-list overflow-table">
                <thead>
                <tr>
                    <!-- <th class="col-check center"><input type="checkbox" id="checkall" onclick="test()"/></th> -->
                    <th class="col-tools" v-bind:style="{'width':'150px'}"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                    </th>
                    <th class="col-text">Nama Donasi</th>
                    <th class="col-text">Detail</th>
                    <th class="col-text" v-bind:style="{'width':'55px'}">Stok</th>
                </tr>
                </thead>
                <tbody>

                <tr v-for="donasi_data, index in donasi.data">
                    <!-- <td align="center"><input type="checkbox" class="checkthis"/></td> -->
                    <td align="center" v-bind:style="{'white-space':'nowrap'}">

                      <span @click.capture="allowData">
                        <router-link :to="{name:'donasiData', params: {id: donasi_data.id}}" class="btn btn-default" data-target="all"data-toggle="tooltip" data-placement="top" title="edit" >
                          <span class="fa fa-pencil"></span>
                        </router-link>
                      </span>

                      <a class="btn btn-default" data-toggle="tooltip" data-placement="top" title="hapus" v-on:click="deleteDonasi(donasi_data.id, index)">
                        <span class="fa fa-trash"></span>
                      </a>

                        <!-- change button -->
                      <a v-if="donasi_data.publication_status == 1" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="non aktifkan" v-on:click="statusDonasi(donasi_data.id, 0)">
                        <span class="fa fa-power-off"></span>
                      </a>
                      <a v-else class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="aktifkan" v-on:click="statusDonasi(donasi_data.id, 1)">
                        <span class="fa fa-power-off"></span>
                      </a>
                    </td>
                    <td>{{donasi_data.donasi_name}}</td>
                    <td><span class="overflow-table-desc" v-html="donasi_data.donasi_details"></span></td>
                    <td align="middle">{{donasi_data.donasi_stock}}</td>
                </tr>

                </tbody>
            </table>


            <div v-if="donasi.total == 0"  class="row">
              <div class="col-xs-12 text-center" v-bind:style="{'padding':'100px'}">
                  <img alt='' class="img-circle" v-bind:src="'/public/avatar/ay.png'" v-bind:style="{'width':'30%','margin-bottom':'10px'}">
                  <h4>Belum ada data donasi !</h4>
              </div>
            </div>


            <!-- Pagination-->
            <nav class="text-center">
              <pagination :data="donasi" @pagination-change-page="getDonasi"></pagination>
            </nav>

        </div>
        <!-- <div class="panel-footer">
            <div class="row">
                <div class="col col-xs-12">



                    <div class="pull-right">
                        <button type="button" class="btn btn-primary">
                            <span class="glyphicon glyphicon-plus"
                                  aria-hidden="true"></span>
                            Add row
                        </button>
                    </div>
                </div>
            </div>
        </div> -->

      <v-tour name="myTour" :steps="steps" :callbacks="myCallbacks">
        <template slot-scope="tour">
          <transition name="fade">
            <v-step
              v-if="tour.currentStep === index"
              v-for="(step, index) of tour.steps"
              :key="index"
              :step="step"
              :previous-step="tour.previousStep"
              :next-step="tour.nextStep"
              :stop="tour.stop"
              :is-first="tour.isFirst"
              :is-last="tour.isLast"
              :labels="tour.labels"
            >
              <template v-if="tour.currentStep === 0">
                <div slot="actions">
                  <button @click="tour.stop" class="v-step__button">Skip tour</button>
                  <button @click="previousPage" class="v-step__button">Previous</button>
                  <button @click="nextPage" class="v-step__button">Next</button>
                </div>
              </template>
            </v-step>
          </transition>
        </template>
      </v-tour>


    </div>

</template>

<script>
export default {
  data() {
    return {
      donasi : {},
      has_error: false,
      userId : '',
      errors: {},
      userAlamatactive:'',
      steps: [
        {
          target: '#v-step-0',  // We're using document.querySelector() under the hood
          content: `Tekan  <strong><i class="fa fa-plus"></i> Add</strong> untuk menambah data donasi anda`
        }
      ],
      myCallbacks: {
        onStop : this.myCustomStopCallback,
      }
    }
  },
  mounted() {
    var app = this;

    app.$emit('update-active-by-child', 'donasi')
  
    if(app.$auth.user().web_tour == 1){
      app.$tours['myTour'].start()
    }
    app.getDonasi();
    app.cekAlamat();

    //
  },
  methods: {
    myCustomStopCallback  (currentStep) {
        // this.$root.$emit('update-user-tour', '')
    },
    previousPage (currentStep) {
          this.$router.push({name: 'pesananSaya'})
    },
    nextPage (currentStep) {
          this.$router.push({name: 'requestSaya'})
    },
    cekAlamat(){
      var app = this

      axios.get('/auth/apialamatcek')
      .then(function(resp){
        app.userAlamatactive = resp.data.alamat_active;

        // console.log('count :'+app.userAlamatactive)
      })
      .catch(function(resp){
        // console.log(resp);
        alert('Data tidak dapat di load');
      })
    },
    allowData(){
      // event.preventDefault();
      var app = this
      var cekData = app.userAlamatactive

      if(app.userAlamatactive == 0){
        event.preventDefault();
        app.$fire({
          title: 'Tidak ada alamat',
          text: 'Silakan input data alamat utama.',
          type: "info",
          confirmButtonColor: '#ef5777',
        }).then(r => {

        });
      }

      app.cekAlamat();
    },
    getDonasi(page) {
      var app = this;

      if (typeof page === 'undefined') {
        page = 1;
      }

      axios.get('/auth/apidonasi?page='+page)
      .then(function(resp){
        app.donasi = resp.data.donasi;
      })
      .catch(function(resp){
        // console.log(resp);
        alert('Data tidak dapat di load');
      })
    },
    statusDonasi(donasiId, status){
      var app = this;
      var messageTitle = status == 1 ? 'Aktifasi':'Non Aktifkan'
      var messageStatus = status == 1 ? 'Apakah anda akan mengaktifkan data donasi ini ?':'Apakah anda akan menonaktifkan data donasi ini ?'
      
      app.$fire({
        title: messageTitle,
        text: messageStatus,
        type: "question",
        showCancelButton: true,
        confirmButtonColor: '#ef5777',
      }).then(r => {

          // console.log(r.value);
          if(r.value){
            axios.put('/auth/apidonasiremove/' + donasiId + '/' + status)
              .then(function (resp) {
                app.getDonasi()
                  // app.companies.splice(index, 1);
              })
              .catch(function (resp) {
                app.has_error = true
                app.errors = resp.data.message || {}

                app.$fire({
                  title: resp.data.status,
                  text: "Could not update your Profile",
                  type: "error",
                  showConfirmButton: false,
                  timer: 2000
                }).then(r => {
                 // console.log(r.value);
                });
             })
          }

      });
    },
    deleteDonasi(donasiId, index){
      var app = this;
      
      app.$fire({
        title: 'Hapus data',
        text: 'Apakah anda yakin untuk menghapus data ini ?',
        type: "question",
        showCancelButton: true,
        confirmButtonColor: '#ef5777',
      }).then(r => {

          // console.log(r.value);
          if(r.value){
            axios.delete('/auth/apidonasi/' + donasiId)
              .then(function (resp) {
                app.getDonasi()
              })
              .catch(function (resp) {
                app.has_error = true
                app.errors = resp.data.message || {}

                app.$fire({
                  title: resp.data.status,
                  text: "Could not delete your donasi",
                  type: "error",
                  showConfirmButton: false,
                  timer: 2000
                }).then(r => {
                 // console.log(r.value);
                });
             })
          }

      });
    },
  }
}
</script>