<template>
  
    <div class="center-block">
      <div class="tab-content tabs-login col-lg-12 col-md-12 col-sm-12 cols-xs-12">
  
        <form v-on:submit="saveAlamat()">
            <div class="row">
              <div class="col-xs-12">
                <div class="form-group" v-bind:class="{ 'has-error': has_error && errors.penerima }">
                    <label class="control-label">Nama</label>
                    <input type="text" class="form-control" v-model="alamat.penerima" placeholder="Nama">
                    <span class="help-block" v-if="has_error && errors.penerima">{{ errors.penerima }}</span>
                </div>
              </div>
              <div class="col-xs-12">
                <div class="form-group" v-bind:class="{ 'has-error': has_error && errors.phone }">
                    <label class="control-label">Nomor Telepon</label>
                    <input type="text" class="form-control" v-model="alamat.phone" placeholder="Nomor Telepon">
                    <span class="help-block" v-if="has_error && errors.phone">{{ errors.phone }}</span>
                </div>
              </div>

              <div class="col-xs-12">
                <div class="form-group" v-bind:class="{ 'has-error': has_error && errors.province_id }">
                    <label class="control-label">Propinsi</label>
                    <v-select v-model="alamat.province_id" label="name" :options="propinsi" :reduce="name => name.id" @input="getKabupaten"></v-select>
                    <span class="help-block" v-if="has_error && errors.province_id">{{ errors.province_id }}</span>
                </div>
              </div>

              <div v-show="alamat.province_id" class="col-xs-12">
                <div class="form-group" v-bind:class="{ 'has-error': has_error && errors.regency_id }">
                    <label class="control-label">Kabupaten</label>
                    <v-select v-model="alamat.regency_id" label="name" :options="kabupaten" :reduce="name => name.id" @input="getKecamatan"></v-select>
                    <span class="help-block" v-if="has_error && errors.regency_id">{{ errors.regency_id }}</span>
                </div>
              </div>

              <div v-show="alamat.regency_id && alamat.province_id" class="col-xs-12">
                <div class="form-group" v-bind:class="{ 'has-error': has_error && errors.district_id }">
                    <label class="control-label">Kecamatan</label>
                    <v-select v-model="alamat.district_id" label="name" :options="kecamatan" :reduce="name => name.id" @input="getKelurahan"></v-select>
                    <span class="help-block" v-if="has_error && errors.district_id">{{ errors.district_id }}</span>
                </div>
              </div>

              <div v-show="alamat.district_id && alamat.regency_id && alamat.province_id" class="col-xs-12">
                <div class="form-group" v-bind:class="{ 'has-error': has_error && errors.village_id }">
                    <label class="control-label">Kelurahan</label>
                    <v-select v-model="alamat.village_id" label="name" :options="kelurahan" :reduce="name => name.id"></v-select>
                    <span class="help-block" v-if="has_error && errors.village_id">{{ errors.village_id }}</span>
                </div>
              </div>

              <div v-show="alamat.district_id && alamat.regency_id && alamat.province_id && alamat.village_id" class="col-xs-4">
                <div class="form-group" v-bind:class="{ 'has-error': has_error && errors.kode_pos }">
                    <label class="control-label">Kode Pos</label>
                    <input type="text" class="form-control" v-model="alamat.kode_pos" placeholder="Kode Pos">
                    <span class="help-block" v-if="has_error && errors.kode_pos">{{ errors.kode_pos }}</span>
                </div>
              </div>

              <div class="col-xs-12">
                <div class="form-group" v-bind:class="{ 'has-error': has_error && errors.alamat_lengkap }">
                    <label class="control-label">Alamat</label>
                    <textarea class="form-control" v-model="alamat.alamat_lengkap" placeholder="Alamat Jalan, Gedung, dll"></textarea> 
                    <span class="help-block" v-if="has_error && errors.alamat_lengkap">{{ errors.alamat_lengkap }}</span>
                </div>
              </div>


              <div class="col-xs-12">
                <div class="form-group">
                  <label >
                      <input type="checkbox" name="options" id="option1" autocomplete="off" v-model="alamat.activation_status" :checked="alamat.activation_status == 1 ? true : false">
                      Jadikan Alamat Utama
                  </label>
                </div>

              </div>


            </div>

            <div class="form-group">
                <button class="btn btn-custom">Simpan</button>
            </div>
        </form>
      </div>
    </div>
</template>


<script>

export default {
  props: {
      alamatId: '',
  },
  data() {
    return {
      propinsi  : [],
      kabupaten : [],
      kecamatan : [],
      kelurahan : [],
      has_error: false,
      userId : '',
      alamat:{
        penerima          : '',
        phone             : '',
        kode_pos          : '',
        alamat_lengkap    : '',
        activation_status : '',
        province_id       : '',
        regency_id        : '',
        district_id       : '',
        village_id        : '',
      },
      errors: {},
    }
  },
  mounted(){
    var app = this;

    app.getAlamat();
    app.getPropinsi();


  },
  methods: {
    getAlamat(){
      let app = this;
      axios.get('/apialamat/' + app.alamatId)
      .then(function (resp) {
        if(resp.data){
          app.alamat = resp.data;
          app.getKabupaten();
          app.getKecamatan();
          app.getKelurahan();
        }
      })
      .catch(function () {
        alert("Data tidak dapat di load")
      });

    },
    getPropinsi(){
      var app = this;
      axios.get('/apipropinsi')
      .then(function (resp) {
        app.propinsi = resp.data.propinsi;
      })
      .catch(function () {

      });

    },
    getKabupaten(value=null){
      var app = this;

      var propinsiId = app.alamat.province_id;

      if(propinsiId){
        axios.get('/apikabupaten/'+propinsiId)
        .then(function (resp) {
          if(value){
            app.alamat.regency_id = '';
            app.alamat.district_id = '';
            app.alamat.village_id = '';
            app.alamat.kode_pos = '';
          }
          app.kabupaten = resp.data.kabupaten;
        })
        .catch(function () {

        });
      }

    },
    getKecamatan(value=null){
      var app = this;

      var kabupatenId = app.alamat.regency_id;

      axios.get('/apikecamatan/'+kabupatenId)
      .then(function (resp) {
          if(value){
            app.alamat.district_id = '';
            app.alamat.village_id = '';
            app.alamat.kode_pos = '';
          }
          app.kecamatan = resp.data.kecamatan;
      })
      .catch(function () {

      });

    },
    getKelurahan(value=null){
      var app = this;

      var kecamatanId = app.alamat.district_id;

      axios.get('/apikeluarahan/'+kecamatanId)
      .then(function (resp) {
          if(value){
            app.alamat.village_id = '';
            app.alamat.kode_pos = '';
          }
          app.kelurahan = resp.data.kelurahan;
      })
      .catch(function () {

      });

    },
    saveAlamat(){
      event.preventDefault();
      var app = this;
      var newAlamat = app.alamat;
      var method = app.alamatId ? axios.patch('/auth/apialamat/' + app.alamatId, newAlamat) : axios.post('/auth/apialamat', newAlamat);

      method.then(function (resp) {
        app.has_error = false

        if(resp.data.status == 'success'){
          app.$fire({
            title: resp.data.status,
            text: resp.data.message,
            type: "success",
            showConfirmButton: false,
            timer: 2000
          }).then(r => {
            app.$modal.hide('alamat-modal');
          });
        }
        else{
          // console.log(resp);
          app.has_error = true
          app.errors = resp.data.message || {}

          app.$fire({
            title: resp.data.status,
            text: "Operation failed !",
            type: "error",
            showConfirmButton: false,
            timer: 2000
          }).then(r => {
           // console.log(r.value);
          });

        }

      })
      .catch(function (resp) {
        // console.log(resp);
        app.has_error = true
        app.errors = resp.data.message || {}

        app.$fire({
          title: resp.data.status,
          text: "Could not update your Profile",
          type: "error",
          showConfirmButton: false,
          timer: 2000
        }).then(r => {
         // console.log(r.value);
        });
      });

    }
  }
}

</script>