<template>
  
    <div class="center-block">
      <div class="tab-content tabs-login col-lg-12 col-md-12 col-sm-12 cols-xs-12">
  
        <form v-on:submit="saveObat()">
            <div class="row">
              <div class="col-xs-12">
                <div class="form-group" v-bind:class="{ 'has-error': has_error && errors.obat_name }">
                    <label class="control-label">Nama ASI Booster, Obat, & Vitamin</label>
                    <input type="text" class="form-control" v-model="obat.obat_name" placeholder="Nama Obat & Vitamin">
                    <span class="help-block" v-if="has_error && errors.obat_name">{{ errors.obat_name }}</span>
                </div>
              </div>
            </div>

            <div class="form-group">
                <button class="btn btn-custom">Simpan</button>
            </div>
        </form>
      </div>
    </div>
</template>


<script>

export default {
  props: {
      obatId: '',
  },
  data() {
    return {
      has_error: false,
      userId : '',
      obat:{
        obat_name     : '',
      },
      errors: {},
    }
  },
  mounted(){
    var app = this;

    app.getObat();


  },
  methods: {
    getObat(){
      let app = this;
      axios.get('/apiobat/' + app.obatId)
      .then(function (resp) {
        if(resp.data){
          app.obat = resp.data;
        }
      })
      .catch(function () {
        alert("Data tidak dapat di load")
      });

    },
    saveObat(){
      event.preventDefault();
      var app = this;
      var newObat = app.obat;
      var method = app.obatId ? axios.patch('/auth/apiobat/' + app.obatId, newObat) : axios.post('/auth/apiobat', newObat);

      method.then(function (resp) {
        app.has_error = false

        if(resp.data.status == 'success'){
          app.$fire({
            title: resp.data.status,
            text: resp.data.message,
            type: "success",
            showConfirmButton: false,
            timer: 2000
          }).then(r => {
            app.$modal.hide('obat-modal');
          });
        }
        else{
          // console.log(resp);
          app.has_error = true
          app.errors = resp.data.message || {}

          app.$fire({
            title: resp.data.status,
            text: "Operation failed !",
            type: "error",
            showConfirmButton: false,
            timer: 2000
          }).then(r => {
           // console.log(r.value);
          });

        }

      })
      .catch(function (resp) {
        // console.log(resp);
        app.has_error = true
        app.errors = resp.data.message || {}

        app.$fire({
          title: resp.data.status,
          text: "Could not update your Data",
          type: "error",
          showConfirmButton: false,
          timer: 2000
        }).then(r => {
         // console.log(r.value);
        });
      });

    }
  }
}

</script>