<template>
<span>

    <donasi-info :donasi="donasi" :donasiId="donasiId" @update-value-by-child="updateId"></donasi-info>
    <!-- <donasi-gambar :donasiId="donasiId" @update-value-by-child="getProfiledetail"></donasi-gambar> -->

</span>
</template>

<script>
import DonasiInfo           from './../../webcomponents/akun/AkunDonasiInfo.vue';


export default {
  components: {
      'donasi-info': DonasiInfo,
  },
  data: function() {
    return {
      donasiId:this.$route.params.id,
      donasi:{
        donasi_kategori_id  : '',
        donasi_name         : '',
        donasi_slug         : '',
        donasi_details      : '',
        donasi_stock        : '',
      },
    }
  },
  mounted() {
    var app = this;

    app.$emit('update-active-by-child', 'donasi')
    app.getDatadonasi();

  },
  methods: {
    updateId(newValue){
      var app = this;
      app.donasiId = newValue;
      app.getDatadonasi();
    },
    getDatadonasi(){
      var app = this;

      axios.get('/auth/apidonasiedit/' + app.donasiId)
      .then(function (resp) {
        if(resp.data.donasi){
          app.donasi = resp.data.donasi;
        }
      })
      .catch(function () {
        app.$fire({
          title: resp.data.status,
          text: "Tidak dapat memuat data profile",
          type: "error",
          showConfirmButton: false,
          timer: 2000
        }).then(r => {
         // console.log(r.value);
        });
      });
    },

  }
}
</script>