<template>

    <div class="panel panel-default panel-table akun-list">
        <div class="panel-heading">
            <div class="row">
                <div class="col col-xs-12">
                    <h3 class="panel-title">Informasi Donasi</h3>
                </div>
            </div>
        </div>

      <form v-on:submit="saveDonasi()">

        <div class="panel-body">

            <div class="row">

                <div class="col-xs-12 col-md-6">
                  <div class="form-group" v-bind:class="{ 'has-error': has_error && errors.donasi_name }">
                    <label class="label-title">Nama Donasi</label>
                    <input type="text" class="form-control" v-model="donasi.donasi_name" placeholder="Nama">
                    <span class="help-block" v-if="has_error && errors.donasi_name">{{ errors.donasi_name }}</span>
                  </div>
                </div>


                <div class="col-xs-12 col-md-6">
                  <div class="form-group" v-bind:class="{ 'has-error': has_error && errors.donasi_kategori_id }">
                    <label class="label-title">Kategori</label>

                    <v-select v-model="donasi.donasi_kategori_id" label="donasi_kategori_name" :options="kategori" :reduce="donasi_kategori_name => donasi_kategori_name.id"></v-select>

                    <!-- <input type="text" class="form-control" v-model="donasi.donasi_kategori_id" placeholder="Tempat Lahir"> -->
                    <span class="help-block" v-if="has_error && errors.donasi_kategori_id">{{ errors.donasi_kategori_id }}</span>
                  </div>
                </div>

                <div class="col-xs-12">
                  <div class="form-group" v-bind:class="{ 'has-error': has_error && errors.donasi_stock }">
                    <label class="label-title">Stok</label>
                    <input type="number" class="form-control" v-model="donasi.donasi_stock" placeholder="Stok">
                    <span class="help-block" v-if="has_error && errors.donasi_stock">{{ errors.donasi_stock }}</span>
                  </div>
                </div>

                <div class="col-xs-12">
                  <div class="form-group" v-bind:class="{ 'has-error': has_error && errors.donasi_details }">
                    <label class="label-title">Keterangan Detail</label>
                    <vue-editor id="donasi_details" v-model="donasi.donasi_details" />
                    <!-- <textarea class="form-control" rows="5" v-model="donasi.donasi_details" placeholder="Deskripsi donasi"></textarea>  -->
                    <span class="help-block" v-if="has_error && errors.donasi_details">{{ errors.donasi_details }}</span>
                  </div>
                </div>

            </div>

            
            <donasi-gambar v-show="donasiId" :donasiId="donasiId"></donasi-gambar>


        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col col-xs-12">
                    <div class="pull-right">
                        <button class="btn btn-pink">
                            <span class="fa fa-save"
                                  aria-hidden="true"></span>
                            Simpan
                        </button>
                    </div>
                </div>
            </div>
        </div>

      </form>
      
    </div>

</template>

<script>

import DonasiGambar         from './../../webcomponents/akun/AkunDonasiGambar.vue';


export default {
  props: {
      donasiId: '',
      donasi: Object,
  },
  components: {
      'donasi-gambar': DonasiGambar,
  },
  data: function() {
    return {
      has_error: false,
      errors: {},
      kategori : [],
    }
  },
  mounted() {
    let app = this;

    app.getKategoridonasi();
    
  },
  methods: {
    checkId(){
      var app = this;
    },
    getKategoridonasi(){
      var app = this;

      axios.get('/apidonasikateogori')
      .then(function (resp) {
        app.kategori = resp.data.donasi_kategori;
        // console.log(app.kategori);
      })
      .catch(function () {

      });

    },
    saveDonasi(){
      event.preventDefault();
      var app = this;
      var newDonasi = app.donasi;
      var method = app.donasiId ? axios.patch('/auth/apidonasi/' + app.donasiId, newDonasi) : axios.post('/auth/apidonasi', newDonasi);
      let loader = app.$loading.show()

      method.then(function (resp) {
        app.has_error = false

        if(resp.data.status == 'success'){
          loader.hide()
          app.$fire({
            title: resp.data.status,
            text: resp.data.message,
            type: "success",
            showConfirmButton: false,
            timer: 2000
          }).then(r => {
           // console.log(r.value);
            app.$emit('update-value-by-child', resp.data.donasi_id)
          });
        }
        else{
          // console.log(resp);
          app.has_error = true
          app.errors = resp.data.message || {}
          loader.hide()

          app.$fire({
            title: resp.data.status,
            text: "Operation failed !",
            type: "error",
            showConfirmButton: false,
            timer: 2000
          }).then(r => {
           // console.log(r.value);
          });

        }

      })
      .catch(function (resp) {
        // console.log(resp);
        app.has_error = true
        app.errors = resp.data.message || {}

        loader.hide()
        app.$fire({
          title: resp.data.status,
          text: "Tidak dapat mengupadat data Profile",
          type: "error",
          showConfirmButton: false,
          timer: 2000
        }).then(r => {
         // console.log(r.value);
        });
      });

    },
    saveDonasi_(){
      event.preventDefault();
      var app = this;

      app.$emit('update-value-by-child', 10)
    }
  }
}
</script>