<template>

    <div class="panel panel-default panel-table akun-list">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <h3 class="panel-title">Data Profil</h3>
                </div>
            </div>
        </div>

      <form v-on:submit="saveProfil()">

        <div class="panel-body">

            <div class="row">

                <div class="col-xs-12 col-md-4">

                  <div class="form-group" v-bind:class="{ 'has-error': has_error && errors.username }">
                    <label class="label-title">Usernama</label>
                    <input type="text" class="form-control" v-model="profile.username" placeholder="Username">
                    <span class="help-block" v-if="has_error && errors.username">{{ errors.username }}</span>
                  </div>
                </div>

                <div class="col-xs-12 col-md-8">
                  <div class="form-group" v-bind:class="{ 'has-error': has_error && errors.nik }">
                    <label class="label-title">Nomor KTP</label>
                    <input type="text" class="form-control" v-model="profile.nik" placeholder="NIK">
                    <span class="help-block" v-if="has_error && errors.nik">{{ errors.nik }}</span>
                  </div>
                </div>

                <div class="col-xs-12">
                  <div class="form-group" v-bind:class="{ 'has-error': has_error && errors.name }">
                    <label class="label-title">Nama</label>
                    <input type="text" class="form-control" v-model="profile.name" placeholder="Nama">
                    <span class="help-block" v-if="has_error && errors.name">{{ errors.name }}</span>
                  </div>
                </div>

                <div class="col-xs-12">
                  <div class="form-group" v-bind:class="{ 'has-error': has_error && errors.email }">
                    <label class="label-title">Email</label>
                    <input type="text" class="form-control" v-model="profile.email" placeholder="Email">
                    <span class="help-block" v-if="has_error && errors.email">{{ errors.email }}</span>
                  </div>
                </div>


                <div class="col-xs-12 col-md-6">
                  <div class="form-group" v-bind:class="{ 'has-error': has_error && errors.tpt_lahir }">
                    <label class="label-title">Tempat Lahir</label>

                    <v-select v-model="profile.tpt_lahir" label="name" :options="propinsi" :reduce="name => name.id" @input="getKabupaten"></v-select>

                    <!-- <input type="text" class="form-control" v-model="profile.tpt_lahir" placeholder="Tempat Lahir"> -->
                    <span class="help-block" v-if="has_error && errors.tpt_lahir">{{ errors.tpt_lahir }}</span>
                  </div>
                </div>

                <div class="col-xs-12 col-md-5 col-md-offset-1">
                  <div class="form-group" v-bind:class="{ 'has-error': has_error && errors.tgl_lahir }">
                    <label class="label-title">Tanggal Lahir</label>
                    <input type="date" class="form-control" v-model="profile.tgl_lahir" placeholder="Tanggal Lahir">
                    <span class="help-block" v-if="has_error && errors.tgl_lahir">{{ errors.tgl_lahir }}</span>
                  </div>
                </div>

            </div>
            <div class="row">

                <div class="col-xs-12 col-md-3">
                  <div class="form-group" v-bind:class="{ 'has-error': has_error && errors.gender }">
                    <label class="label-title">Jenis Kelamin</label>
                    <div class="select">
                      <select v-model="profile.gender" class="form-control">
                        <option disabled value="">Pilih Jenis Kelamin</option>
                        <option value="Laki-Laki">Laki-Laki</option>
                        <option value="Perempuan">Perempuan</option>
                      </select>
                    </div>
                    <span class="help-block" v-if="has_error && errors.gender">{{ errors.gender }}</span>
                  </div>
                </div>

                <div class="col-xs-12 col-md-4">
                  <div class="form-group" v-bind:class="{ 'has-error': has_error && errors.agama }">
                    <label class="label-title">Agama</label>
                    <div class="select">
                      <select v-model="profile.agama" class="form-control">
                        <option disabled value="">Pilih Jenis Kelamin</option>
                        <option value="Islam">Islam</option>
                        <option value="Kristen">Kristen</option>
                        <option value="Protestan">Protestan</option>
                        <option value="Hindu">Hindu</option>
                        <option value="Budha">Budha</option>
                        <option value="Konghucu">Konghucu</option>
                      </select>
                    </div>
                    <span class="help-block" v-if="has_error && errors.agama">{{ errors.agama }}</span>
                  </div>
                </div>

                <div class="col-xs-12 col-md-5">
                  <div class="form-group" v-bind:class="{ 'has-error': has_error && errors.phone }">
                    <label class="label-title">Nomor HP</label>
                    <input type="text" class="form-control" v-model="profile.phone" placeholder="Nomor Telepon">
                    <span class="help-block" v-if="has_error && errors.phone">{{ errors.phone }}</span>
                  </div>
                </div>

            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col col-xs-12">
                    <div class="pull-right">
                        <button id="v-step-0" class="btn btn-pink">
                            <span class="fa fa-save"
                                  aria-hidden="true"></span>
                            Simpan
                        </button>
                    </div>
                </div>
            </div>
        </div>

      </form>

      <v-tour name="myTour" :steps="steps" :callbacks="myCallbacks">
        <template slot-scope="tour">
          <transition name="fade">
            <v-step
              v-if="tour.currentStep === index"
              v-for="(step, index) of tour.steps"
              :key="index"
              :step="step"
              :previous-step="tour.previousStep"
              :next-step="tour.nextStep"
              :stop="tour.stop"
              :is-first="tour.isFirst"
              :is-last="tour.isLast"
              :labels="tour.labels"
            >
              <template v-if="tour.currentStep === 4">
                <div slot="actions">
                  <button @click="tour.stop" class="v-step__button">Skip tour</button>
                  <button @click="tour.previousStep" class="v-step__button">Previous</button>
                  <button @click="nextPage" class="v-step__button">Next</button>
                </div>
              </template>
            </v-step>
          </transition>
        </template>
      </v-tour>

            <!-- <v-tour name="myTour" :steps="steps" :callbacks="myCallbacks"></v-tour> -->

      
    </div>

</template>

<script>

export default {
  data: function() {
    return {
      propinsi : [],
      has_error: false,
      userId : '',
      profile:{
        name      : '',
        nik       : '',
        username  : '',
        email     : '',
        gender    : '',
        phone     : '',
        address   : '',
        tpt_lahir : '',
        tgl_lahir : '',
        agama     : '',
      },
      errors: {},
      steps: [
        {
          target: '#v-step-0',  // We're using document.querySelector() under the hood
          content: `Edit dan simpan data profil pribadi anda`
        },
        {
          target: '#v-step-1',
          content: 'Tekan  <strong><i class="fa fa-plus"></i> Add</strong> untuk menambah list penyakit yang belum tersedia'
        },
        {
          target: '#v-step-2',
          content: 'Pilih riwayat penyakit yang anda miliki'
        },
        {
          target: '#v-step-3',
          content: 'Tekan <strong><i class="fa fa-plus"></i> Add</strong> untuk menambah list ASI Booster, Obat, dan Vitamin yang belum tersedia'
        },
        {
          target: '#v-step-4',
          content: 'Pilih penggunaan ASI Booster, Obat, dan Vitamin yang anda gunakan'
        }
      ],
      myCallbacks: {
        onPreviousStep: this.myCustomPreviousStepCallback,
        onNextStep: this.myCustomNextStepCallback,
      }

    }
  },
  mounted() {
    let app = this;

    app.getProfiledetail();
    app.getPropinsi();
  
    if(app.$auth.user().web_tour == 1){
      app.$tours['myTour'].start()
    }
  },
  methods: {
    myCustomStopCallback  (currentStep) {
        // this.$root.$emit('update-user-tour', '')
    },
    myCustomPreviousStepCallback (currentStep) {
      console.log('[Vue Tour] A custom previousStep callback has been called on step ' + (currentStep + 1))
    },
    myCustomNextStepCallback (currentStep) {
      console.log('[Vue Tour] A custom nextStep callback has been called on step ' + (currentStep + 1))

      if (currentStep === 4) {
        console.log('[Vue Tour] A custom nextStep callback has been called from step 2 to step 3')
      }
    },
    nextPage (currentStep) {
      // alert('test')
      this.$router.push({name: 'dataAnak'})

    },
    getPropinsi(){
      var app = this;

      app.userId = app.$auth.user().id;

      axios.get('/apipropinsi')
      .then(function (resp) {
        app.propinsi = resp.data.propinsi;
      })
      .catch(function () {

      });

    },
    getKabupaten(value){
      // console.log(value);
    },
    getProfiledetail(){
      var app = this;

      app.userId = app.$auth.user().id;
      /*app.profile = {
          name : app.$auth.user().name,
          nik : app.$auth.user().nik,
          username : app.$auth.user().username,
          email : app.$auth.user().email,
          gender : app.$auth.user().gender,
          phone : app.$auth.user().phone,
          address : app.$auth.user().address,
          tpt_lahir : app.$auth.user().tpt_lahir,
          tgl_lahir : app.$auth.user().tgl_lahir,
          agama : app.$auth.user().agama,
      };*/
      axios.get('/apiuser/' + app.userId)
      .then(function (resp) {
        app.profile = resp.data;
      })
      .catch(function () {
        app.$fire({
          title: resp.data.status,
          text: "Tidak dapat memuat data profile",
          type: "error",
          showConfirmButton: false,
          timer: 2000
        }).then(r => {
         // console.log(r.value);
        });
      });
    },
    saveProfil(){
      event.preventDefault();
      var app = this;
      var newProfile = app.profile;
      axios.patch('/auth/apiprofile/' + app.userId, newProfile)
      .then(function (resp) {
        app.has_error = false

        if(resp.data.status == 'success'){
          app.$fire({
            title: resp.data.status,
            text: resp.data.message,
            type: "success",
            showConfirmButton: false,
            timer: 2000
          }).then(r => {
           // console.log(r.value);
           app.getProfiledetail();
          });
        }
        else{
          // console.log(resp);
          app.has_error = true
          app.errors = resp.data.message || {}

          app.$fire({
            title: resp.data.status,
            text: "Operation failed !",
            type: "error",
            showConfirmButton: false,
            timer: 2000
          }).then(r => {
           // console.log(r.value);
          });

        }

      })
      .catch(function (resp) {
        // console.log(resp);
        app.has_error = true
        app.errors = resp.data.message || {}

        app.$fire({
          title: resp.data.status,
          text: "Tidak dapat mengupadat data Profile",
          type: "error",
          showConfirmButton: false,
          timer: 2000
        }).then(r => {
         // console.log(r.value);
        });
      });

    },
  }
}
</script>