<template>

    <div class="panel panel-default panel-table akun-list">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-9 hidden-xs">
                    <h3 class="panel-title">Data Info</h3>
                </div>
                <div class="col-md-3 col-xs-12 text-right">
                    <div class="pull-right">
                        <div class="btn-group" data-toggle="buttons">
                            <router-link id="v-step-0" :to="{name:'infoData'}" class="btn btn-default btn-filter" data-target="all">
                                <i class="fa fa-plus"></i> Add
                            </router-link>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
          
            <table v-if="info.total > 0" id="mytable" class="table table-striped table-bordered table-list overflow-table">
                <thead>
                <tr>
                    <!-- <th class="col-check center"><input type="checkbox" id="checkall" onclick="test()"/></th> -->
                    <th class="col-tools" v-bind:style="{'width':'150px'}"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                    </th>
                    <th class="col-text">Nama Info</th>
                    <th class="col-text">Detail</th>
                </tr>
                </thead>
                <tbody>

                <tr v-for="info_data, index in info.data">
                    <!-- <td align="center"><input type="checkbox" class="checkthis"/></td> -->
                    <td align="center" v-bind:style="{'white-space':'nowrap'}">

                      <router-link :to="{name:'infoData', params: {id: info_data.id}}" class="btn btn-default" data-target="all"data-toggle="tooltip" data-placement="top" title="edit" >
                        <span class="fa fa-pencil"></span>
                      </router-link>

                      <a class="btn btn-default" data-toggle="tooltip" data-placement="top" title="hapus" v-on:click="deleteInfo(info_data.id, index)">
                        <span class="fa fa-trash"></span>
                      </a>

                        <!-- change button -->
                      <a v-if="info_data.publication_status == 1" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="non aktifkan" v-on:click="statusInfo(info_data.id, 0)">
                        <span class="fa fa-power-off"></span>
                      </a>
                      <a v-else class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="aktifkan" v-on:click="statusInfo(info_data.id, 1)">
                        <span class="fa fa-power-off"></span>
                      </a>
                    </td>
                    <td>{{info_data.info_title}}</td>
                    <td><span class="overflow-table-desc" v-html="info_data.info_details"></span></td>
                </tr>

                </tbody>
            </table>

            <div v-if="info.total == 0"  class="row">
              <div class="col-xs-12 text-center" v-bind:style="{'padding':'100px'}">
                  <img alt='' class="img-circle" v-bind:src="'/public/avatar/ay.png'" v-bind:style="{'width':'30%','margin-bottom':'10px'}">
                  <h4>Belum ada data info !</h4>
              </div>
            </div>


            <!-- Pagination-->
            <nav class="text-center">
              <pagination :data="info" @pagination-change-page="getInfo"></pagination>
            </nav>

        </div>
        <!-- <div class="panel-footer">
            <div class="row">
                <div class="col col-xs-12">



                    <div class="pull-right">
                        <button type="button" class="btn btn-primary">
                            <span class="glyphicon glyphicon-plus"
                                  aria-hidden="true"></span>
                            Add row
                        </button>
                    </div>
                </div>
            </div>
        </div> -->
      <v-tour name="myTour" :steps="steps" :callbacks="myCallbacks">
        <template slot-scope="tour">
          <transition name="fade">
            <v-step
              v-if="tour.currentStep === index"
              v-for="(step, index) of tour.steps"
              :key="index"
              :step="step"
              :previous-step="tour.previousStep"
              :next-step="tour.nextStep"
              :stop="tour.stop"
              :is-first="tour.isFirst"
              :is-last="tour.isLast"
              :labels="tour.labels"
            >
              <template v-if="tour.currentStep === 0">
                <div slot="actions">
                  <button @click="tour.stop" class="v-step__button">Skip tour</button>
                  <button @click="previousPage" class="v-step__button">Previous</button>
                  <button @click="nextPage" class="v-step__button">Next</button>
                </div>
              </template>
            </v-step>
          </transition>
        </template>
      </v-tour>
    </div>

</template>

<script>
export default {
  data() {
    return {
      info : {},
      has_error: false,
      userId : '',
      errors: {},
      steps: [
        {
          target: '#v-step-0',  // We're using document.querySelector() under the hood
          content: `Tekan  <strong><i class="fa fa-plus"></i> Add</strong> untuk menambah data info`
        }
      ],
      myCallbacks: {
        onStop : this.myCustomStopCallback,
      }
    }
  },
  mounted() {
    var app = this;
  
    if(app.$auth.user().web_tour == 1){
      app.$tours['myTour'].start()
    }
    app.getInfo();

    //
  },
  methods: {
    myCustomStopCallback  (currentStep) {
        // this.$root.$emit('update-user-tour', '')
    },
    previousPage (currentStep) {
          this.$router.push({name: 'requestSaya'})
    },
    nextPage (currentStep) {
          this.$router.push({name: 'pollingSaya'})
    },
    getInfo(page) {
      var app = this;

      if (typeof page === 'undefined') {
        page = 1;
      }

      axios.get('/auth/apiinfo?page='+page)
      .then(function(resp){
        app.info = resp.data.info;
      })
      .catch(function(resp){
        // console.log(resp);
        alert('Data tidak dapat di load');
      })
    },
    statusInfo(infoId, status){
      var app = this;
      var messageTitle = status == 1 ? 'Aktifasi':'Non Aktifkan'
      var messageStatus = status == 1 ? 'Apakah anda akan mengaktifkan data info ini ?':'Apakah anda akan menonaktifkan data info ini ?'
      
      app.$fire({
        title: messageTitle,
        text: messageStatus,
        type: "question",
        showCancelButton: true,
        confirmButtonColor: '#ef5777',
      }).then(r => {

          // console.log(r.value);
          if(r.value){
            axios.put('/auth/apiinforemove/' + infoId + '/' + status)
              .then(function (resp) {
                app.getInfo()
                  // app.companies.splice(index, 1);
              })
              .catch(function (resp) {
                app.has_error = true
                app.errors = resp.data.message || {}

                app.$fire({
                  title: resp.data.status,
                  text: "Could not update your Profile",
                  type: "error",
                  showConfirmButton: false,
                  timer: 2000
                }).then(r => {
                 // console.log(r.value);
                });
             })
          }

      });
    },
    deleteInfo(infoId, index){
      var app = this;
      
      app.$fire({
        title: 'Hapus data',
        text: 'Apakah anda yakin untuk menghapus data ini ?',
        type: "question",
        showCancelButton: true,
        confirmButtonColor: '#ef5777',
      }).then(r => {

          // console.log(r.value);
          if(r.value){
            axios.delete('/auth/apiinfo/' + infoId)
              .then(function (resp) {
                app.getInfo()
              })
              .catch(function (resp) {
                app.has_error = true
                app.errors = resp.data.message || {}

                app.$fire({
                  title: resp.data.status,
                  text: "Could not delete your info",
                  type: "error",
                  showConfirmButton: false,
                  timer: 2000
                }).then(r => {
                 // console.log(r.value);
                });
             })
          }

      });
    },
  }
}
</script>