<template>
<span>

    <!-- <div class="well well-sm  bg-white borderZero"  uib-dropdown > -->
      <div class="well well-sm bg-white borderZero btn-group date-block btn-group-justified font-small dropdown btn-group-custom" data-toggle="buttons" v-bind:style="{ 'padding': 0 }">
          <label id="v-step-0" href="#home" data-toggle="tab" v-bind:class="{'btn':true,'btn-default':true, 'active':('menunggu' === currentPage)}" title="Next Day" style="font-size:12px; border-radius:0;" @click="getStatus('menunggu')">
            <span class="visible-xs fa fa-spinner"></span><span class="hidden-xs">Menunggu</span>
          </label>
          <label id="v-step-1" href="#contact" data-toggle="tab" v-bind:class="{'btn':true,'btn-default':true, 'active':('diterima' === currentPage)}" style="font-size:12px;" @click="getStatus('diterima')">
            <span class="visible-xs fa fa-check"></span><span class="hidden-xs">Diterima</span>
          </label>
          <label id="v-step-2" href="#contact" data-toggle="tab" v-bind:class="{'btn':true,'btn-default':true, 'active':('dikirim' === currentPage)}" style="font-size:12px;" @click="getStatus('dikirim')">
            <span class="visible-xs fa fa-truck"></span><span class="hidden-xs">Dikirim</span>
          </label>
          <label id="v-step-3" href="#skills" data-toggle="tab"  v-bind:class="{'btn':true,'btn-default':true, 'active':('selesai' === currentPage)}" style="font-size:12px;" @click="getStatus('selesai')">
            <span class="visible-xs fa fa-flag"></span><span class="hidden-xs">Selesai</span>
          </label>
          <label id="v-step-4" href="#skills" data-toggle="tab"  v-bind:class="{'btn':true,'btn-default':true, 'active':('ditolak' === currentPage)}" style="font-size:12px;" @click="getStatus('ditolak')">
            <span class="visible-xs fa fa-times"></span><span class="hidden-xs">Ditolak</span>
          </label>
      </div>
    <!-- </div> -->

    <div class="well bg-white" v-for="order, index in orders.data">

      <div class="row">
        <div class="col-xs-12">
          <div class='pesanan-card' v-for="detail, index in order.donasi_bayi">

            <div class="col-xs-12 col-md-3">
              <div class='list-label bg-pink'>{{detail.req_status}}</div>


              <img v-if="detail.donasi.donasi_gambar[0]" v-bind:src="'/public/featured_image/'+detail.donasi.donasi_gambar[0].donasi_image" alt="" class="img-responsive">
              <img v-else v-bind:src="'/public/featured_image/no-img.png'" alt="" class="img-responsive">
            </div>  

            <div class='col-xs-12 col-md-9'>
              <div class='list-name'>{{detail.donasi.donasi_name.slice(0, 30)}}</div>
              <button class='list-callback btn btn-sm btn-default' :disabled="detail.req_status != 'dikirim'? true :false" @click="updateStatus(detail.id)">Selesai</button>
              <!-- <button class='list-shortlist'>3</button> -->
              <div class='list-landmark'>{{detail.req_date}}</div>
              <!-- <div class='list-location'>Bandra West, South Mumbai</div> -->
              <!-- <div class='list-rooms'>2, 3, 4 BHK Apartments & Penthouse</div> -->
              <div class='list-bottom'>
                <div class='list-bottom-section col-xs-4'>
                  <span>JENIS DONASI</span>
                  <span>{{detail.donasi.donasi_kategori.donasi_kategori_name}}</span>
                </div>
                <div class='list-bottom-section col-xs-4'>
                  <span>UNTUK BAYI</span>
                  <span>{{detail.bayi.bayi_name}}</span>
                </div>
                <div class='list-bottom-section col-xs-4'>
                  <span>JUMLAH</span>
                  <span>{{detail.req_stock}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>    
      </div>    

    </div>
    <div v-if="orders.total == 0"  class="well bg-white">

      <div class="row">
        <div class="col-xs-12 text-center" v-bind:style="{'padding':'100px'}">
            <img alt='' class="img-circle" v-bind:src="'/public/avatar/ay.png'" v-bind:style="{'width':'30%','margin-bottom':'10px'}">
            <h4>Belum ada pesanan !</h4>
        </div>
      </div>
    </div>

    <!-- Pagination-->
    <nav class="text-center">
      <pagination :data="orders" @pagination-change-page="getPesanan"></pagination>
    </nav>


      <v-tour name="myTour" :steps="steps" :callbacks="myCallbacks">
        <template slot-scope="tour">
          <transition name="fade">
            <v-step
              v-if="tour.currentStep === index"
              v-for="(step, index) of tour.steps"
              :key="index"
              :step="step"
              :previous-step="tour.previousStep"
              :next-step="tour.nextStep"
              :stop="tour.stop"
              :is-first="tour.isFirst"
              :is-last="tour.isLast"
              :labels="tour.labels"
            >
              <template v-if="tour.currentStep === 0">
                <div slot="actions">
                  <button @click="tour.stop" class="v-step__button">Skip tour</button>
                  <button @click="previousPage" class="v-step__button">Previous</button>
                  <button @click="tour.nextStep" class="v-step__button">Next</button>
                </div>
              </template>

              <template v-if="tour.currentStep === 4">
                <div slot="actions">
                  <button @click="tour.stop" class="v-step__button">Skip tour</button>
                  <button @click="tour.previousStep" class="v-step__button">Previous</button>
                  <button @click="nextPage" class="v-step__button">Next</button>
                </div>
              </template>
            </v-step>
          </transition>
        </template>
      </v-tour>

</span>
</template>

<script>

export default {
  data: function() {
    return {
      orders : {},
      currentPage:'menunggu',
      userId : '',
      errors: {},
      steps: [
        {
          target: '#v-step-0',  // We're using document.querySelector() under the hood
          content: `Pilih <strong>Menunggu</strong> untuk melihat status donasi yang sedang dalam proses`
        },
        {
          target: '#v-step-1',  // We're using document.querySelector() under the hood
          content: `Pilih <strong>Diterima</strong> untuk melihat status donasi yang diterima`
        },
        {
          target: '#v-step-2',  // We're using document.querySelector() under the hood
          content: `Pilih <strong>Dikirim</strong> untuk melihat status donasi yang dalam proses pengiriman`
        },
        {
          target: '#v-step-3',  // We're using document.querySelector() under the hood
          content: `Pilih <strong>Selesai</strong> untuk melihat status donasi yang sudah selesai`
        },
        {
          target: '#v-step-4',  // We're using document.querySelector() under the hood
          content: `Pilih <strong>Ditolak</strong> untuk melihat status donasi yang ditolak`
        },
      ],
      myCallbacks: {
        onStop : this.myCustomStopCallback,
      }
    }
  },
  mounted() {
    var app = this;
  
    if(app.$auth.user().web_tour == 1){
      app.$tours['myTour'].start()
    }
    app.getPesanan();

  },
  methods: {
    myCustomStopCallback  (currentStep) {
        // this.$root.$emit('update-user-tour', '')
    },
    previousPage (currentStep) {
          this.$router.push({name: 'logistic'})
    },
    nextPage (currentStep) {
          this.$router.push({name: 'donasiSaya'})
    },
    getStatus(status){
      var app = this;

      app.currentPage = status;
      
      app.getPesanan();
    },
    getPesanan(page){
      var app = this;
      var reqStatus = app.currentPage;

      if (typeof page === 'undefined') {
        page = 1;
      }

      axios.get('/auth/apidonasiorder?page='+page+'&req_status='+reqStatus)
      .then(function(resp){
        app.orders = resp.data.orders;
      })
      .catch(function(resp){
        // console.log(resp);
        alert('Data tidak dapat di load');
      })

    },
    updateStatus(id){
      var app = this;

      var newStatus = {
        req_status : 'selesai'
      }

      axios.put('/auth/apidonasiorder/' + id, newStatus).then(function (resp) {
        app.has_error = false

        if(resp.data.status == 'success'){
          app.$fire({
            title: resp.data.status,
            text: resp.data.message,
            type: "success",
            showConfirmButton: false,
            timer: 2000
          }).then(r => {
            app.getPesanan();
          });
        }
        else{
          // console.log(resp);
          app.has_error = true
          app.errors = resp.data.message || {}

          app.$fire({
            title: resp.data.status,
            text: "Operation failed !",
            type: "error",
            showConfirmButton: false,
            timer: 2000
          }).then(r => {
           // console.log(r.value);
          });

        }

      })
      .catch(function (resp) {
        // console.log(resp);
        app.has_error = true
        app.errors = resp.data.message || {}

        app.$fire({
          title: resp.data.status,
          text: "Could not update data",
          type: "error",
          showConfirmButton: false,
          timer: 2000
        }).then(r => {
         // console.log(r.value);
        });
      });

    }
  }

}

</script>
