<template>

    <div class="panel panel-default panel-table akun-list">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-9 hidden-xs">
                    <h3 class="panel-title">ASI Booster, Obat, & Vitamin</h3>
                </div>


                <div class="col-md-3 col-xs-12 text-right">
                    <div class="pull-right">
                        <div class="btn-group" data-toggle="buttons">
                            <button id="v-step-3" type="button" class="btn btn-default btn-filter" @click="showModal()">
                                <i class="fa fa-plus"></i> Add
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>

      <form v-on:submit="saveObat()">

        <div class="panel-body">

            <div class="row">

                <div class="col-xs-12">

                  <div id="v-step-4" class="form-group" v-bind:class="{ 'has-error': has_error && errors.tpt_lahir }">
                    <label class="label-title">Penggunaan ASI Booster, Obat, & Vitamin</label>

                    <v-select v-model="user.obat_user" label="obat_name" :multiple="true" :options="obats" :reduce="obat_name => obat_name.id" @input="cekObat"></v-select>

                    <!-- <input type="text" class="form-control" v-model="profile.tpt_lahir" placeholder="Tempat Lahir"> -->
                    <span class="help-block" v-if="has_error && errors.tpt_lahir">{{ errors.tpt_lahir }}</span>
                  </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col col-xs-12">
                    <div class="pull-right">
                        <button class="btn btn-pink">
                            <span class="fa fa-save"
                                  aria-hidden="true"></span>
                            Simpan
                        </button>
                    </div>
                </div>
            </div>
        </div>

      </form>
      
    </div>

</template>

<script>
import ObatModal         from './../../webcomponents/akun/AkunProfilobatmodal.vue';

export default {
  data: function() {
    return {
      obats:[],
      user:{
        obat_user:[],
      },
      has_error: false,
      userId : '',
      errors: {},
    }
  },
  mounted() {
    let app = this;
    app.getObat();
    app.getObatuser();
    
  },
  methods: {
    getObat(){
      var app = this;

      axios.get('/apiobat')
      .then(function (resp) {
        app.obats = resp.data.obat;
      })
      .catch(function () {
        app.$fire({
          title: resp.data.status,
          text: "Tidak dapat memuat data obat",
          type: "error",
          showConfirmButton: false,
          timer: 2000
        }).then(r => {
         // console.log(r.value);
        });
      });
    },
    getObatuser(){
      var app = this;

      app.userId = app.$auth.user().id;
      axios.get('/apiobatuser/' + app.userId)
      .then(function (resp) {
        app.user.obat_user = resp.data.obats;
      })
      .catch(function () {
        app.$fire({
          title: resp.data.status,
          text: "Tidak dapat memuat data obat",
          type: "error",
          showConfirmButton: false,
          timer: 2000
        }).then(r => {
         // console.log(r.value);
        });
      });
    },
    saveObat(){
      event.preventDefault();
      var app = this;
      var newObat = app.user;
      axios.put('/auth/apiobat/' + app.userId, newObat)
      .then(function (resp) {
        app.has_error = false

        if(resp.data.status == 'success'){
          app.$fire({
            title: resp.data.status,
            text: resp.data.message,
            type: "success",
            showConfirmButton: false,
            timer: 2000
          }).then(r => {
           // console.log(r.value);
          });
        }
        else{
          app.has_error = true
          app.errors = resp.data.message || {}

          app.$fire({
            title: resp.data.status,
            text: "Operation failed !",
            type: "error",
            showConfirmButton: false,
            timer: 2000
          }).then(r => {
           // console.log(r.value);
          });

        }

      })
      .catch(function (resp) {
        // console.log(resp);
        app.has_error = true
        app.errors = resp.data.message || {}

        app.$fire({
          title: resp.data.status,
          text: "Tidak dapat mengupadat data Obat",
          type: "error",
          showConfirmButton: false,
          timer: 2000
        }).then(r => {
         // console.log(r.value);
        });
      });

    },
    cekObat(value){
      // console.log(value);
    },
    showModal (obatId = null) {
      this.$modal.show(ObatModal, {
        obatId: obatId,
      }, {
        name:'obat-modal',
        // draggable: true,
        adaptive: true,
        height: 'auto',
        scrollable: true,
        resizable: true,
      }, {
        'before-close': this.getObat,
      })

    }

  }
}
</script>