<template>
<span>

<!-- Header-->
<header v-bind:style="{ 'background-image': 'url(/public/web/img/header/web-banner-akun.jpg)' }"  class="intro introhalf">
<!-- 
  <div class="banner-stars">
    <div class="stars"></div>
    <div class="twinkling"></div>
  </div> -->
  <!-- Intro Header-->
  <div class="intro-body">
    <!-- <h1>Akun Saya</h1> -->

        <div class="text-center">

          <div class="ava-upload" @click="toggleShow">
            <img v-bind:src="imgDataUrl" class="img-responsive avatar img-circle img-thumbnail" v-bind:style="{'width':'150px', 'margin':'10px'}">
          </div> 

          <!-- <img v-bind:src="'/public/avatar/ay.png'" class="avatar img-circle img-thumbnail" alt="avatar"> -->
        </div>
    <h4>{{$auth.user().name}}</h4>
    <!-- <router-link to="/child-one">User 1</router-link> -->
  </div>
</header>


<akun-list></akun-list>
<my-upload 
  @crop-success="cropSuccess"
  @crop-upload-success="cropUploadSuccess"
  @crop-upload-fail="cropUploadFail"
  v-model="show"
  :field="'avatar'"
  :width="400"
  :height="400"
  :url="urlImgupload"
  :params="params"
  :headers="headers"
  lang-type="en"
  img-format="png"></my-upload>
<!-- <router-view class="child-view"></router-view> -->

</span>
</template>

<script>
  import AkunList         from './../../webcomponents/akun/AkunList.vue';
  export default {
    components: {
        'akun-list': AkunList,
    },
    data: function(){
      return{
        urlImgupload : process.env.MIX_APP_URL+'/api/apiavatar?name=user&user_id='+this.$auth.user().id,
        imagePath:process.env.MIX_APP_URL+'/public/avatar/',
        imgDataUrl: process.env.MIX_APP_URL+'/public/avatar/click-img.jpg', // the datebase64 url of created image

        show: false,
        params: {
          token: '123456798',
          name: 'avatar'
        },
        headers: {
          smail: '*_~'
        },

      }
    },
    mounted(){
      var app = this;

      if(app.$auth.user().avatar){
        app.imgDataUrl = app.imagePath+app.$auth.user().avatar;
      }
    },
    methods:{
      toggleShow() {
        this.show = !this.show;
      },
      cropSuccess(imgDataUrl, field){
        // console.log('-------- crop success --------');
        this.imgDataUrl = imgDataUrl;
      },
      /**
       * upload success
       *
       * [param] jsonData  server api return data, already json encode
       * [param] field
       */
      cropUploadSuccess(jsonData, field){
        var app = this;
        var success = jsonData.file.success;
        // console.log('-------- upload success --------');
        // console.log(jsonData);
        // console.log('field: ' + field);
        // console.log(jsonData.file.name);
        // console.log(app.info)

        this.$auth.fetch()
      },
      /**
       * upload fail
       *
       * [param] status    server api return error status, like 500
       * [param] field
       */
      cropUploadFail(status, field){
        // console.log('-------- upload fail --------');
        // console.log(status);
        // console.log('field: ' + field);
      }

    }
  }
</script>