<template>
<span>

<!-- News Block-->
<section id="polling" class="section-small">
  <div class="container">
    <!-- <h3 class="pull-left">Polling</h3>
    <div class="pull-right">
      <h4>OUR LATEST NEWS</h4>
    </div> -->
    <div class="clearfix"></div>
    <div class="row">



      <div class="hidden-xs hidden-sm col-md-2"><!--left col-->
            
        <div class="sidebar left ">
          <ul class="list-sidebar">
            <li> 
              <!-- <router-link :to="{name:'profil'}"> -->
              <a href="javascript:void(0)" data-toggle="collapse" data-target="#dashboard" v-bind:class="{ 'active': linkActive == 'akun' }" v-bind:aria-expanded="linkActive == 'akun'"> 
                <i class="fa fa-user"></i><span class="nav-label hidden-xs">Akun</span>
              </a>
              <!-- </router-link> -->
              <ul v-bind:class="{'sub-menu':true, 'collapse':true, 'in':linkActive == 'akun'}" id="dashboard">
                <!-- <li><router-link to="/akun">Profil</router-link></li> -->
                <li><router-link :to="{name:'profil'}"><i class="fa fa-file-text visible-xs"></i><span class="nav-label hidden-xs">Profil</span></router-link></li>
                <li><router-link :to="{name:'dataAnak'}"><i class="fa fa-child visible-xs"></i><span class="nav-label hidden-xs">Data Anak</span></router-link></li>
                <li><router-link :to="{name:'alamat'}"><i class="fa fa-map-marker visible-xs"></i><span class="nav-label hidden-xs">Alamat</span></router-link></li>
                <li><router-link :to="{name:'logistic'}"><i class="fa fa-truck visible-xs"></i><span class="nav-label hidden-xs">Jasa Kirim</span></router-link></li>
                <li><router-link :to="{name:'ubahPassword'}"><i class="fa fa-lock visible-xs"></i><span class="nav-label hidden-xs">Ubah Password</span></router-link></li>
              </ul>
            </li>

            <li><router-link :to="{name:'pesananSaya'}"><i class="fa fa-shopping-bag"></i><span class="nav-label hidden-xs">Pesanan</span></router-link></li>


            <li> 
              <!-- <router-link :to="{name:'profil'}"> -->
              <a href="javascript:void(0)" data-toggle="collapse" data-target="#donasi" v-bind:class="{ 'active': linkActive == 'donasi' }" v-bind:aria-expanded="linkActive == 'donasi'"> 
                <i class="fa fa-hand-paper-o"></i><span class="nav-label hidden-xs">Donasi</span>
              </a>
              <!-- </router-link> -->
              <ul v-bind:class="{'sub-menu':true, 'collapse':true, 'in':linkActive == 'donasi'}" id="donasi">
                <!-- <li><router-link to="/donasi">Profil</router-link></li> -->
                <li><router-link :to="{name:'donasiSaya'}"><i class="fa fa-circle visible-xs"></i><span class="nav-label hidden-xs">List Donasi</span></router-link></li>
                <li><router-link :to="{name:'requestSaya'}"><i class="fa fa-circle visible-xs"></i><span class="nav-label hidden-xs">Request</span></router-link></li>
              </ul>
            </li>

            <!-- <li><router-link :to="{name:'donasiSaya'}"><i class="fa fa-hand-paper-o"></i><span class="nav-label hidden-xs">Donasi</span></router-link></li> -->
            <li><router-link :to="{name:'infoSaya'}"><i class="fa fa-info-circle"></i><span class="nav-label hidden-xs">Info</span></router-link></li>
            <li><router-link :to="{name:'pollingSaya'}"><i class="fa fa-bar-chart-o"></i><span class="nav-label hidden-xs">Polling</span></router-link></li>
            <!-- <li><router-link :to="{name:'inboxSaya'}"><i class="fa fa-inbox"></i><span class="nav-label hidden-xs">Inbox</span></router-link></li> -->
          </ul>
        </div>
          
      </div><!--/col-3-->
      <div class="col-xs-12 col-md-10 list-nav-tabs">

        <router-view class="child-one" @update-active-by-child="updateActive"></router-view>

      </div><!--/tab-content-->


      
    </div>
  </div>
</section>

</span>
</template>

<script type="text/javascript">
  import SilsilahAnak         from './../../webcomponents/silsilah/SilsilahAnak.vue';

  export default {
    components: {
        'silsilah-anak': SilsilahAnak,
    },
    data: function(){
      return{
        items : {},
        activeItem: 'profil',
        linkActive: false,
      }
    },
    mounted(){
      var app = this;
    },
    methods:{
      updateActive(data){
        var app = this;
        app.linkActive = data;
        // alert(data)

      },
      isActive: function (menuItem) {
        return this.activeItem === menuItem
      },
      setActive: function (menuItem) {
        this.activeItem = menuItem // no need for Vue.set()
      },
    }
  }
</script>