<template>

    <div class="panel panel-default panel-table akun-list">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-9 hidden-xs">
                    <h3 class="panel-title">Riwayat Penyakit</h3>
                </div>


                <div class="col-md-3 col-xs-12 text-right">
                    <div class="pull-right">
                        <div class="btn-group" data-toggle="buttons">
                            <button id="v-step-1" type="button" class="btn btn-default btn-filter" @click="showModal()">
                                <i class="fa fa-plus"></i> Add
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>

      <form v-on:submit="savePenyakit()">

        <div class="panel-body">

            <div class="row">

                <div class="col-xs-12">

                  <div id="v-step-2" class="form-group" v-bind:class="{ 'has-error': has_error && errors.tpt_lahir }">
                    <label class="label-title">Riwayat Penyakit</label>

                    <v-select v-model="user.penyakit_user" label="penyakit_name" :multiple="true" :options="penyakits" :reduce="penyakit_name => penyakit_name.id" @input="cekPenyakit"></v-select>

                    <!-- <input type="text" class="form-control" v-model="profile.tpt_lahir" placeholder="Tempat Lahir"> -->
                    <span class="help-block" v-if="has_error && errors.tpt_lahir">{{ errors.tpt_lahir }}</span>
                  </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col col-xs-12">
                    <div class="pull-right">
                        <button class="btn btn-pink">
                            <span class="fa fa-save"
                                  aria-hidden="true"></span>
                            Simpan
                        </button>
                    </div>
                </div>
            </div>
        </div>

      </form>
      
    </div>

</template>

<script>
import PenyakitModal         from './../../webcomponents/akun/AkunProfilpenyakitmodal.vue';

export default {
  data: function() {
    return {
      penyakits:[],
      user:{
        penyakit_user:[],
      },
      has_error: false,
      userId : '',
      errors: {},
    }
  },
  mounted() {
    let app = this;
    app.getPenyakit();
    app.getPenyakituser();
    
  },
  methods: {
    getPenyakit(){
      var app = this;

      axios.get('/apipenyakit')
      .then(function (resp) {
        app.penyakits = resp.data.penyakit;
      })
      .catch(function () {
        app.$fire({
          title: resp.data.status,
          text: "Tidak dapat memuat data penyakit",
          type: "error",
          showConfirmButton: false,
          timer: 2000
        }).then(r => {
         // console.log(r.value);
        });
      });
    },
    getPenyakituser(){
      var app = this;

      app.userId = app.$auth.user().id;
      axios.get('/apipenyakituser/' + app.userId)
      .then(function (resp) {
        app.user.penyakit_user = resp.data.penyakits;
      })
      .catch(function () {
        app.$fire({
          title: resp.data.status,
          text: "Tidak dapat memuat data penyakit",
          type: "error",
          showConfirmButton: false,
          timer: 2000
        }).then(r => {
         // console.log(r.value);
        });
      });
    },
    savePenyakit(){
      event.preventDefault();
      var app = this;
      var newPenyakit = app.user;
      // console.log(newPenyakit);
      axios.put('/auth/apipenyakit/' + app.userId, newPenyakit)
      .then(function (resp) {
        app.has_error = false

        if(resp.data.status == 'success'){
          app.$fire({
            title: resp.data.status,
            text: resp.data.message,
            type: "success",
            showConfirmButton: false,
            timer: 2000
          }).then(r => {
           // console.log(r.value);
          });
        }
        else{
          app.has_error = true
          app.errors = resp.data.message || {}

          app.$fire({
            title: resp.data.status,
            text: "Operation failed !",
            type: "error",
            showConfirmButton: false,
            timer: 2000
          }).then(r => {
           // console.log(r.value);
          });

        }

      })
      .catch(function (resp) {
        // console.log(resp);
        app.has_error = true
        app.errors = resp.data.message || {}

        app.$fire({
          title: resp.data.status,
          text: "Tidak dapat mengupadat data Penyakit",
          type: "error",
          showConfirmButton: false,
          timer: 2000
        }).then(r => {
         // console.log(r.value);
        });
      });

    },
    cekPenyakit(value){
      // console.log(value);
    },
    showModal (penyakitId = null) {
      this.$modal.show(PenyakitModal, {
        penyakitId: penyakitId,
      }, {
        name:'penyakit-modal',
        // draggable: true,
        adaptive: true,
        height: 'auto',
        scrollable: true,
        resizable: true,
      }, {
        'before-close': this.getPenyakit,
      })

    }

  }
}
</script>