<style type="text/css">
  .shopee-border-delivery {
    height: .1875rem;
    width: 100%;
    background-position-x: -1.875rem;
    background-size: 12.25rem .1875rem;
    background-image: repeating-linear-gradient(45deg,#6fa6d6,#6fa6d6 33px,transparent 0,transparent 41px,#f18d9b 0,#f18d9b 74px,transparent 0,transparent 82px);
}
</style>
<template>
<span>

<!-- Header-->
<header v-bind:style="{ 'background-image': 'url(/public/web/img/header/web-banner-cart.jpg)' }"  class="intro introhalf">
<!-- 
  <div class="banner-stars">
    <div class="stars"></div>
    <div class="twinkling"></div>
  </div> -->
  <!-- Intro Header-->
  <div class="intro-body">
    <h1>Pesanan</h1>
    <h4><router-link :to="{name: 'itemWeb'}">Donasi</router-link> / Pesanan Saya</h4>
    <!-- <router-link to="/child-one">User 1</router-link> -->
  </div>
</header>


    <!-- shop-->
    <section id="shop" class="section-small">

          
          <div class="container">
            <div class="row">
              <div class="col-lg-12">


                <div class="panel panel-default panel-table akun-cart">
                   <div class="shopee-border-delivery"></div>

                    <div class="panel-heading">
                        <div class="row">
                            <div class="col col-xs-12">
                                <h3 class="panel-title"><i class="fa fa-map-marker"></i> Alamat Pengiriman</h3>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">

                      <table class="table shop-cart table-hover table-cart">
                        <thead>
                          <tr>
                            <td v-if="alamat != null" v-bind:style="{'width':'180px'}"><strong>{{alamat.penerima}}</strong><br>{{alamat.phone}}</td>
                            <td class="ft-pink">
                              <span v-if="alamat != null && alamat.alamat_lengkap">
                                {{alamat.alamat_lengkap+', '+alamat.vilage_name+', '+alamat.district_name+', '+alamat.regency_name+', '+alamat.province_name+', '+alamat.kode_pos}}
                              </span>
                              <span v-else>
                                Alamat penerima tidak ada, silakan tambah data alamat
                              </span>
                            </td>
                            <td v-bind:style="{'width':'45px'}"><a class="cursor-pointer" ><i class="fa fa-pencil fa-lg"></i></a></td>
                          </tr>

                        </thead>
                      </table>
                    </div>
                </div>



                <div v-for="donasi, index1 in cartData" class="panel panel-default panel-table akun-cart">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col col-xs-12">
                                <h3 class="panel-title"><i class="fa fa-user"></i> {{donasi.name}}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">


                      <table class="table shop-cart table-hover table-cart">
                        <thead v-show="index1 == 0">
                          <tr>
                            <td>Product</td>
                            <td class="hidden-xs"></td>
                            <td></td>
                            <td>Sub Total</td>
                            <td></td>
                          </tr>
                        </thead>
                        <tbody>
                          <tr v-for="item, index2 in donasi.donasi_bayi" v-bind:class="{'table-first-child':index1 != 0}">
                            <td class="hidden-xs" v-bind:style="{'width':'75px'}">
                              <img v-if="item.donasi.donasi_gambar[0]" v-bind:src="'/public/featured_image/'+item.donasi.donasi_gambar[0].donasi_image" alt="" class="img-responsive center-block pic-1">
                              <img v-else v-bind:src="'/public/featured_image/no-img.png'" alt="" class="img-responsive center-block pic-1">
                            </td>
                            <td>{{item.donasi.donasi_name}}</td>
                            <td v-bind:style="{'width':'180px'}">
                              <div class="form-group">
                                <label for="number"></label>


                                <div class="input-group form-total">
                                  <span class="input-group-btn">
                                    <button type="button" class="btn btn-default btn-number" data-type="minus" data-field="quant[1]" v-on:click="countItem(index1,index2,'minus')">
                                      <span class="glyphicon glyphicon-minus"></span>
                                    </button>
                                  </span>
                                  <input type="text" v-mask="'#########'" name="quant[1]" class="form-control input-number" v-model="item.req_stock" min="0" max="10" v-on:keyup="countItem(index1,index2,'input')">
                                  <span class="input-group-btn">
                                    <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]" v-on:click="countItem(index1,index2,'plus')">
                                      <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                  </span>

                                </div>

                              </div>
                            </td>
                            <td v-bind:style="{'width':'180px'}" align="right">Rp. {{ formatPrice(0) }}</td>
                            <td v-bind:style="{'width':'45px'}"><a class="cursor-pointer" @click="deleteStock(index1,index2)"><i class="fa fa-times-circle-o fa-lg"></i></a></td>
                          </tr>

                          <tr class="tr-bg-cyan">
                            <td class="hidden-xs"></td>
                            <td class="ft-pink">Opsi Pengiriman</td>
                            <td v-bind:style="{'width':'180px'}">
                              <strong>Metode Pengiriman</strong>
                              <br>
                              <span v-if="donasi.display_name">{{donasi.display_name}}</span>
                              <span v-else class="ft-pink">Jasa kirim tidak ada</span>
                            </td>
                            <td align="right" v-bind:style="{'width':'180px'}">Rp. {{ formatPrice(donasi.default_price) }}</td>
                            <td v-bind:style="{'width':'45px'}"><a class="cursor-pointer" ><i class="fa fa-truck fa-lg"></i></a></td>
                          </tr>

                          <tr class="tr-bg-cyan">
                            <td class="hidden-xs"></td>
                            <td></td>
                            <td v-bind:style="{'width':'180px'}">Total Pesanan</td>
                            <td align="right" class="ft-pink subtotal-bayar" v-bind:style="{'width':'180px'}">Rp. {{ formatPrice(donasi.total_price) }}</td>
                            <td v-bind:style="{'width':'45px'}"></td>
                          </tr>

                        </tbody>


                      </table>



                    </div>


                </div>



                <div class="panel panel-default panel-table akun-cart">
                   
                    <div class="panel-body">

                      <table class="table shop-cart table-hover table-cart">
                        <thead>

                          <tr>
                            <td></td>
                            <td class="hidden-xs"></td>
                            <td v-bind:style="{'width':'180px'}">Total Pembayaran:</td>
                            <td align="right" class="ft-pink total-bayar" v-bind:style="{'width':'180px'}">Rp. {{ formatPrice(totalBayar) }}</td>
                            <td v-bind:style="{'width':'45px'}"></td>
                          </tr>

                        </thead>


                      </table>



                    </div>



                    <div class="panel-footer">
                        <div class="row">
                            <div class="col col-xs-12">



                                <div class="pull-right">
                                    <button type="button" class="btn btn-pink" @click="checkOut">
                                        <!-- <span class="glyphicon glyphicon-plus"
                                              aria-hidden="true"></span> -->
                                        Buat Pesanan
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

              </div>
              <div class="col-lg-3 col-lg-offset-1">

              </div>
            </div>
          </div>


    </section>


    <section class="section-small bg-white">
      <div class="container">
        <h3>Tambah Pesanan</h3>

        <item-list :items="items"></item-list>
          
      </div>
    </section>



</span>
</template>

<script>
  import ItemList         from './../../webcomponents/item/ItemList.vue';

  export default {
    components: {
        'item-list': ItemList,
    },
    data: function(){
      return{
        has_error: false,
        alamat : {
          id:'',
          penerima : '',
          phone : '',
          alamat_lengkap : '',
        },
        totalBayar : 0,
        items : {},
        cartData : {},
        checkout:{
          donasi_order :[]
        }
      }
    },
    mounted(){
      var app = this;

      app.getCart();
      app.getItems();
    },
    methods:{
      formatPrice(value) {
          let val = (value/1).toFixed(0).replace('.', ',')
          return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
      },
      countItem(index1,index2, type){
        var app = this;

        if(type == 'minus') {
          if(app.cartData[index1].donasi_bayi[index2].req_stock > 1){
            app.cartData[index1].donasi_bayi[index2].req_stock = Number(app.cartData[index1].donasi_bayi[index2].req_stock) - 1;
            app.updateStock(index1, index2)
          }
          else if(app.cartData[index1].donasi_bayi[index2].req_stock == 1){
            app.deleteStock(index1,index2)
          }

        } else if(type == 'plus') {
          if(app.cartData[index1].donasi_bayi[index2].req_stock < app.cartData[index1].donasi_bayi[index2].donasi.donasi_stock){
            app.cartData[index1].donasi_bayi[index2].req_stock =  Number(app.cartData[index1].donasi_bayi[index2].req_stock) + 1;
          }else{
            app.cartData[index1].donasi_bayi[index2].req_stock = app.cartData[index1].donasi_bayi[index2].donasi.donasi_stock;

          }
          
          app.updateStock(index1, index2)
        } else if(type == 'input') {
          if(app.cartData[index1].donasi_bayi[index2].req_stock > app.cartData[index1].donasi_bayi[index2].donasi.donasi_stock){
            app.cartData[index1].donasi_bayi[index2].req_stock = app.cartData[index1].donasi_bayi[index2].donasi.donasi_stock;
          }else if(app.cartData[index1].donasi_bayi[index2].req_stock < 1){
            app.cartData[index1].donasi_bayi[index2].req_stock = 1;

          }
          app.updateStock(index1, index2)
        }
      },
      updateStock(index1, index2) {
        var app = this;
        var newStock = app.cartData[index1].donasi_bayi[index2];
        var donasiBayiid = app.cartData[index1].donasi_bayi[index2].id

        axios.put('/auth/apistockupdate/' + donasiBayiid, newStock)
        .then(function (resp) {
          app.has_error = false
          if(resp.data.status == 'success'){
            app.getCart()
          }

        })
        .catch(function (resp) {
        });
        // alert(this.cartData[index2].req_stock)
      },
      deleteStock(index1, index2) {
        var app = this;
        var donasiBayiid = app.cartData[index1].donasi_bayi[index2].id


        app.$fire({
          title: 'Hapus data ini ?',
          text: app.cartData[index1].donasi_bayi[index2].donasi.donasi_name,
          type: "question",
          showCancelButton: true,
          confirmButtonColor: '#ef5777',
        }).then(r => {
            if(r.value){
              axios.delete('/auth/apistockupdate/' + donasiBayiid)
              .then(function (resp) {
                app.has_error = false
                if(resp.data.status == 'success'){
                  app.getCart()
                  app.$emit('update-active-by-component', '')
                }
              })
              .catch(function (resp) {
              });
            }

        });
        // alert(this.cartData[index2].req_stock)
      },
      getCart() {
        var app = this;

        axios.get('/auth/apicheckout')
        .then(function(resp){
          app.cartData = resp.data.orders;
          app.alamat = resp.data.alamat;

          app.totalBayar = 0

          for (var key1 in app.cartData) {
            app.cartData[key1].subtotal = 0
            
            for (var key2 in app.cartData[key1].donasi_bayi) {
              app.cartData[key1].subtotal = app.cartData[key1].subtotal + 0;

            }
            app.cartData[key1].total_price = Number(app.cartData[key1].default_price) + Number(app.cartData[key1].subtotal);

            app.totalBayar = Number(app.totalBayar) + Number(app.cartData[key1].total_price)

          }

        })
        .catch(function(resp){
          // console.log(resp);
          alert('Data Item tidak dapat di load');
        })
      },
      getItems(page) {
        var app = this;

        if (typeof page === 'undefined') {
          page = 1;
        }

        axios.get('/apidonasigroup/detail')
        .then(function(resp){
          app.items = resp.data.donasi;
        })
        .catch(function(resp){
          // console.log(resp);
          alert('Data Item tidak dapat di load');
        })
      },
      checkOut(){
        var app = this;
        let loader = app.$loading.show()

        app.checkout.donasi_order = []

        for (var key in app.cartData) {
          if(app.alamat != null && app.cartData[key].logistic_id){
            app.checkout.donasi_order.push({
              id              : app.cartData[key].id,
              logistic_id     : app.cartData[key].logistic_id,
              user_alamat_id  : app.alamat.id,
              total_price     : app.cartData[key].total_price
            });
          }
        }
        // console.log(app.checkout.donasi_order)
        var dataOrder = app.checkout;

        axios.put('/auth/apicheckout', dataOrder)
        .then(function (resp) {

          app.has_error = false

          if(resp.data.status == 'success'){
            loader.hide()
            app.$fire({
              title: resp.data.status,
              text: resp.data.message,
              type: "success",
              showConfirmButton: false,
              timer: 2000
            }).then(r => {
              app.$root.$emit('update-active-by-child', '')
              app.getCart()
            });
          }
          else{
            // console.log(resp);
            app.has_error = true
            app.errors = resp.data.message || {}

            loader.hide()
            app.$fire({
              title: resp.data.status,
              text: resp.data.message,
              type: "error",
              showConfirmButton: false,
              timer: 2000
            }).then(r => {
             // console.log(r.value);
            });

          }

        })
        .catch(function (resp) {
        });


      }
    }
  }
</script>