<template>
<span>

<!-- Header-->
<header v-bind:style="{ 'background-image': 'url(/public/web/img/shop/home.jpg)' }"  class="intro introhalf">
<!-- 
  <div class="banner-stars">
    <div class="stars"></div>
    <div class="twinkling"></div>
  </div> -->
  <!-- Intro Header-->
  <div class="intro-body">
    <h1>Shop</h1>
    <h4><router-link :to="{name: 'itemWeb'}">Donasi</router-link> / Shopping cart</h4>
    <!-- <router-link to="/child-one">User 1</router-link> -->
  </div>
</header>


    <!-- shop-->
    <section id="shop" class="section-small">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <h3>Shopping cart</h3>
            <p>Kamu memillki {{cartCount}} jenis item saat ini</p>
            <table class="table shop-cart table-hover">
              <thead>
                <tr>
                  <td>Product</td>
                  <td></td>
                  <td></td>
                  <td class="hidden-xs">Price</td>
                  <td class="hidden-xs">Discount</td>
                  <td>Total</td>
                  <td></td>
                </tr>
              </thead>
              <tbody>
                <tr v-for="item, index in cartData" >
                  <td class="hidden-xs">
                    <img v-if="item.donasi.donasi_gambar[0]" v-bind:src="'/public/featured_image/'+item.donasi.donasi_gambar[0].donasi_image" alt="" class="img-responsive center-block pic-1">
                    <img v-else v-bind:src="'/public/featured_image/no-img.png'" alt="" class="img-responsive center-block pic-1">
                  </td>
                  <td>{{item.donasi.donasi_name}}</td>
                  <td>
                    <div class="form-group">
                      <label for="number"></label>


                      <div class="input-group form-total">
                        <span class="input-group-btn">
                          <button type="button" class="btn btn-default btn-number" data-type="minus" data-field="quant[1]" v-on:click="countItem(index,'minus')">
                            <span class="glyphicon glyphicon-minus"></span>
                          </button>
                        </span>
                        <input type="text" v-mask="'#########'" name="quant[1]" class="form-control input-number" v-model="item.req_stock" min="0" max="10" v-on:keyup="countItem(index,'input')">
                        <span class="input-group-btn">
                          <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]" v-on:click="countItem(index,'plus')">
                            <span class="glyphicon glyphicon-plus"></span>
                          </button>
                        </span>

                      </div>

                    </div>
                  </td>
                  <td class="hidden-xs">
                    <h4>$280.00</h4>
                  </td>
                  <td class="text-center hidden-xs">
                    <h4>5%</h4>
                  </td>
                  <td>
                    <h4>$252.00</h4>
                  </td>
                  <td><a href="shop-cart.html"><i class="fa fa-times-circle-o fa-lg"></i></a></td>
                </tr>
              </tbody>
            </table>
            <h3 class="no-pad">You may also like</h3>

            <item-list :items="items"></item-list>

          </div>
          <div class="col-lg-3 col-lg-offset-1">
            <h4>Order summary</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis pulvinar vestibulum.</p>
            <div class="table-responsive">
              <table class="table">
                <tbody>
                  <tr>
                    <td>Subtotal</td>
                    <th>$387.00</th>
                  </tr>
                  <tr>
                    <td>Shipping</td>
                    <th>$13.00</th>
                  </tr>
                  <tr>
                    <td>Discount</td>
                    <th>10%</th>
                  </tr>
                  <tr>
                    <td>Total</td>
                    <th>$360.00</th>
                  </tr>
                </tbody>
              </table>
            </div>
            <p><a href="shop-cat.html" class="button btn btn-dark">Checkout</a></p>
            <hr>
            <h4>Coupon discount</h4>
            <form class="form-inline">
              <div class="input-group input-group-lg">
                <input type="text" placeholder="Coupon code" value="" name="coupon_code" class="form-control"><span class="input-group-btn">
                  <input type="submit" value="Apply" name="apply_coupon" class="btn btn-pheromone"></span>
              </div>
            </form>
            <hr>
            <h4>subscribe</h4>
            <p>Sign up with your email address to receive news and updates.</p>
            <!-- MailChimp Signup Form - Replace the form action in the line below with your MailChimp embed action! For more information on how to do this please visit the Docs!-->
            <form id="mc-embedded-subscribe-form" action="http://forbetterweb.us11.list-manage.com/subscribe/post?u=4f751a6c58b225179404715f0&amp;id=18fc72763a" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate="" class="form-inline subscribe-form">
              <div class="input-group input-group-lg">
                <input id="mce-EMAIL" type="email" name="EMAIL" placeholder="Email address..." class="form-control"><span class="input-group-btn">
                  <button id="mc-embedded-subscribe" type="submit" name="subscribe" class="btn btn-violet">go</button></span>
                <div id="mce-responses"></div>
                <div id="mce-error-response" style="display:none" class="response"></div>
                <div id="mce-success-response" style="display:none" class="response"></div>
              </div>
            </form>
            <!-- End MailChimp Signup Form--><img src="img/misc/mailchimp.png" alt="">
          </div>
        </div>
      </div>
    </section>

</span>
</template>

<script>
  import ItemList         from './../../webcomponents/item/ItemList.vue';

  export default {
    components: {
        'item-list': ItemList,
    },
    data: function(){
      return{
        items : {},
        cartCount : 0,
        cartData : {}
      }
    },
    mounted(){
      var app = this;

      app.getCart();
      app.getItems();
    },
    methods:{
      countItem(index, type){
        var app = this;

        if(type == 'minus') {
          if(app.cartData[index].req_stock > 1){
            app.cartData[index].req_stock = Number(app.cartData[index].req_stock) - 1;
          }
          else if(app.cartData[index].req_stock == 1){

            app.$fire({
              title: 'Hapus data ini ?',
              text: app.cartData[index].donasi.donasi_name,
              type: "question",
              showCancelButton: true,
              confirmButtonColor: '#ef5777',
            }).then(r => {
                if(r.value){
                  app.cartData[index].req_stock = Number(app.cartData[index].req_stock) - 1;
                  app.deleteStock(index)
                }

            });

          }

        } else if(type == 'plus') {
          if(app.cartData[index].req_stock < app.cartData[index].donasi.donasi_stock){
            app.cartData[index].req_stock =  Number(app.cartData[index].req_stock) + 1;
          }else{
            app.cartData[index].req_stock = app.cartData[index].donasi.donasi_stock;

          }
        } else if(type == 'input') {
          if(app.cartData[index].req_stock > app.cartData[index].donasi.donasi_stock){
            app.cartData[index].req_stock = app.cartData[index].donasi.donasi_stock;
          }else if(app.cartData[index].req_stock < 1){
            app.cartData[index].req_stock = 1;

          }
        }


        if(app.cartData[index].req_stock > 0){
          app.updateStock(index)
        }
      },
      updateStock(index) {
        var app = this;
        var newStock = app.cartData[index];
        var donasiBayiid = app.cartData[index].id

        axios.put('/auth/apistockupdate/' + donasiBayiid, newStock)
        .then(function (resp) {
          app.has_error = false

          if(resp.data.status == 'success'){

          }

        })
        .catch(function (resp) {
        });
        // alert(this.cartData[index].req_stock)
      },
      deleteStock(index) {
        var app = this;
        var donasiBayiid = app.cartData[index].id

        axios.delete('/auth/apistockupdate/' + donasiBayiid)
        .then(function (resp) {
          app.has_error = false
          if(resp.data.status == 'success'){
            app.getCart()
            app.$emit('update-active-by-component', '')
          }
        })
        .catch(function (resp) {
        });
        // alert(this.cartData[index].req_stock)
      },
      getCart() {
        var app = this;

        axios.get('/auth/apicart/cart')
        .then(function(resp){
          app.cartCount = resp.data.count;
          app.cartData = resp.data.orders;
        })
        .catch(function(resp){
          // console.log(resp);
          alert('Data Item tidak dapat di load');
        })
      },
      getItems(page) {
        var app = this;

        if (typeof page === 'undefined') {
          page = 1;
        }

        axios.get('/apidonasigroup/detail')
        .then(function(resp){
          app.items = resp.data.donasi;
        })
        .catch(function(resp){
          // console.log(resp);
          alert('Data Item tidak dapat di load');
        })
      }
    }
  }
</script>