<template>
<span>

<!-- Header-->
<header v-bind:style="{ 'background-image': 'url(/public/web/img/header/web-banner-donasi.jpg)' }"  class="intro introhalf">
<!-- 
  <div class="banner-stars">
    <div class="stars"></div>
    <div class="twinkling"></div>
  </div> -->
  <!-- Intro Header-->
  <div class="intro-body">
    <h1>Donasi</h1>
    <h4>Dapatkan Donasi berupa barang & Donor ASI</h4>
    <!-- <router-link to="/child-one">User 1</router-link> -->
  </div>
</header>


<!-- shop Block-->
<div id="shop" class="section section-small">
  <div class="container text-center">

    <div class="row">
      <div class="col-xs-12 col-md-3 margin-5-after">
        <v-select v-model="search.propinsi_id" label="name" :options="propinsi" :reduce="name => name.id" @input="updatePropinsi"></v-select>
      </div>
      <div class="col-xs-12 col-md-3 margin-5-after">
        <v-select v-model="search.donasi_kategori_id" label="donasi_kategori_name" :options="kategori" :reduce="donasi_kategori_name => donasi_kategori_name.id" @input="updateKategori"></v-select>
      </div>
    </div>
    <!-- 
    <select class="input-lg sorting pull-left">
      <option>DEFAULT SORTING</option>
      <option>SALE</option>
      <option>TRENDS</option>
      <option>PRICE: LOW TO HIGH</option>
      <option>PRICE: HIGH TO LOW</option>
    </select> -->
    <!-- <div class="pull-right">
      <h4>Showing 1–12 of 283 results</h4>
    </div> -->
    <hr>
    <div class="clearfix"></div>

    <item-list :items="items"></item-list>

  </div>
</div>

<!-- Pagination-->
<div v-show="items.last_page > 1" class="section section-small bg-white">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <nav>
          <pagination :data="items" @pagination-change-page="getItems"></pagination>
        </nav>
      </div>
    </div>
  </div>
</div>

</span>
</template>

<script>
  import ItemList         from './../../webcomponents/item/ItemList.vue';

  export default {
    components: {
        'item-list': ItemList,
    },
    data: function(){
      return{
        propinsi : [],
        kategori : [],
        wilayah:'',
        items : {},
        search:{
          propinsi_id : null,
          donasi_kategori_id : null
        }
      }
    },
    mounted(){
      var app = this;

      app.getItems();
      app.getPropinsi();
      app.getKategoridonasi();
    },
    methods:{
      getPropinsi(){
        var app = this;
        axios.get('/apipropinsi')
        .then(function (resp) {
          app.propinsi = resp.data.propinsi;
        })
        .catch(function () {

        });

      },
      getKategoridonasi(){
        var app = this;

        axios.get('/apidonasikateogori')
        .then(function (resp) {
          app.kategori = resp.data.donasi_kategori;
          // console.log(app.kategori);
        })
        .catch(function () {

        });

      },
      updatePropinsi(value){
        var app = this;
        app.search.propinsi_id = value;
        app.getItems();
      },
      updateKategori(value){
        var app = this;
        app.search.donasi_kategori_id = value;
        app.getItems();
      },
      getItems(page) {
        var app = this;

        // console.log(app.search.propinsi_id)
        // console.log(app.search.donasi_kategori_id)

        if (typeof page === 'undefined') {
          page = 1;
        }

        axios.get('/apidonasigroup/donasi?page='+page+'&propinsi_id='+app.search.propinsi_id+'&donasi_kategori_id='+app.search.donasi_kategori_id)
        .then(function(resp){
          app.items = resp.data.donasi;
        })
        .catch(function(resp){
          // console.log(resp);
          alert('Data Item tidak dapat di load');
        })
      }

    }
  }
</script>