<template>
<span>

<!-- Header-->
<header v-bind:style="{ 'background-image': 'url(/public/web/img/header/web-banner-donasi.jpg)' }" class="intro introhalf">
  <!-- Intro Header-->
  <div class="intro-body">
    <h1>Donasi</h1>
    <h4><router-link :to="{name: 'itemWeb'}">Donasi</router-link> / {{item.donasi_name}}</h4>
<!-- <router-link to="/child-one">User 1</router-link> -->
  </div>
</header>

<!-- <router-view class="child-view"></router-view> -->


<!-- shop-->
<section id="shop" class="section-small">
  <div class="container">
    <div class="row">
      <!-- shop carousel-->
      <div id="carousel-shop" class="carousel slide">
        <div class="col-lg-5 carousel-outer">
          <!-- Wrapper for slides-->
          <div class="carousel-inner">
            <div v-for="gambar, index in item.donasi_gambar" v-bind:class="{item:true, active:index == 0}">
              <img v-bind:src="'/public/featured_image/'+gambar.donasi_image" alt="">
            </div>
            <div v-if="item.donasi_gambar.length == 0" class="item active">
              <img v-bind:src="'/public/featured_image/no-img.png'" alt="">
            </div>

          </div>
          <!-- Controls-->
          <a href="#carousel-shop" data-slide="prev" class="left carousel-control"><span class="icon-prev"></span></a><a href="#carousel-shop" data-slide="next" class="right carousel-control"><span class="icon-next"></span></a>

        </div>
        <div class="col-lg-7 slide">

          <h4>{{item.donasi_name}}</h4>

          <p class="small">{{item.donasi_date}}</p>
          <!-- <span v-html="item.meta_description"></span> -->
          <!-- Indicators-->
          <ol class="carousel-indicators mCustomScrollbar">
            <li v-for="gambar, index in item.donasi_gambar" data-target="#carousel-shop" :data-slide-to="index" v-bind:class="{active:index == 0}"><img v-bind:src="'/public/featured_image/'+gambar.donasi_image" alt=""></li>
          </ol>
          <hr>

          <span v-html="item.donasi_details"></span>
          <hr>

          <!-- <form> -->
            <div v-if="$auth.check()" class="form-group" v-bind:class="{ 'has-error': has_error && errors.bayi_id }">
              <label class="label-title">Untuk Anak</label>
              <v-select v-model="order.bayi_id" label="bayi_name" :options="bayi" :reduce="bayi_name => bayi_name.id"></v-select>
              <span class="help-block" v-if="has_error && errors.bayi_id">{{ errors.bayi_id }}</span>
            </div>

            <div class="form-group" v-bind:class="{ 'has-error': has_error && errors.req_details }">
              <textarea class="form-control" v-model="order.req_details" placeholder="Pesan anda agar terpilih sebagai penerima donasi"></textarea>
              <span class="help-block" v-if="has_error && errors.req_details">{{ errors.req_details }}</span>
            </div>

            <div class="form-group form-inline">
              <div class="input-group form-total">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default btn-number" data-type="minus" data-field="quant[1]" v-on:click="countItem('minus')">
                    <span class="glyphicon glyphicon-minus"></span>
                  </button>
                </span>
                <input type="text" v-mask="'#########'" name="quant[1]" class="form-control input-number" v-model="order.req_stock" min="1" max="10" v-on:keyup="countItem('input')">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]" v-on:click="countItem('plus')">
                    <span class="glyphicon glyphicon-plus"></span>
                  </button>
                </span>

              </div>

              <label class="control-label" for="inputGroupSuccess3">Tersisa {{item.donasi_stock}} buah</label>
            </div>
            <button type="submit" class="btn btn-dark" v-on:click="addCart">Add to Cart</button>
          <!-- </form> -->
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-small bg-gray container-wave2">
  <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto" v-bind:style="{ 'left':0 }">
      <defs>
          <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
      </defs>
      <g class="parallax">
          <use xlink:href="#gentle-wave" x="48" y="10" fill="rgba(0, 0, 0, 0.1)" />
          <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(230,230,230,0.5)" />
          <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(230,230,230,0.5)" />
          <use xlink:href="#gentle-wave" x="48" y="7" fill="rgba(255,255,255,0.5)" />
      </g>
  </svg>
  <div class="container">

    <div class="row panel-info-user">
    
      <div class="panel-heading col-xs-4 col-lg-4 panel-border">
          <img class="img-circle pull-left" v-bind:src="imgUrl" alt="Mouse0270" />
          <h3>{{item.user.name}}</h3>
          <h5><span v-if="item.user.user_alamat.length > 0">{{item.user.user_alamat[0].village.district.regency.province.name}}</span> </h5>
      </div>

      <div class="col-xs-8 col-lg-8 panel-heading">
        <div class="row">
          <div class="col-xs-6 col-sm-4">Mendonorkan <span class="ft-pink">10 ASI</span></div>
          <div class="col-xs-6 col-sm-4">Mendonorkan <span class="ft-pink">10 ASI</span></div>
          <div class="col-xs-6 col-sm-4">Mendonorkan <span class="ft-pink">10 ASI</span></div>

          <div class="col-xs-6 col-sm-4">Mendonorkan <span class="ft-pink">10 ASI</span></div>
          <div class="col-xs-6 col-sm-4">Mendonorkan <span class="ft-pink">10 ASI</span></div>
          <div class="col-xs-6 col-sm-4">Mendonorkan <span class="ft-pink">10 ASI</span></div>
        </div>
        
      </div>



    </div>
  
  </div>
</section>



<section class="section-small bg-white">
  <div class="container">
    <h3>Donasi Lainnya</h3>

    <item-list :items="items"></item-list>
      
  </div>
</section>

</span>
</template>

<script type="text/javascript">
  import ItemList         from './../../webcomponents/item/ItemList.vue';
  import Auth         from './../../authcomponents/Auth.vue';

  export default {
    components: {
        'item-list': ItemList,
    },
    data: function(){
      return {
        has_error: false,
        bayi : [],
        items : {},
        itemId: null,
        item: {
          user_id: '',
          donasi_name: '',
          donasi_details: '',
          donasi_stock: '',
          donasi_date: '',
          donasi_gambar:{},
          user:{
            avatar:'ay.png',
            name:'',
            user_alamat:{}

          }
        },
        imgUrl : '/public/avatar/ay.png',
        order:{
          pendonor_id : '',
          bayi_id : '',
          donasi_id : '',
          req_details : '',
          req_stock : 1
        }
      }

    },
    mounted(){
      let app = this;

      app.getItemdetail();
      app.getItems();

      if(app.$auth.check()){
        app.getBayi();
      }
    },
    methods:{
      getBayi(){
        var app = this;
        if(app.$auth.check()){
          axios.get('/auth/apibayilist')
          .then(function (resp) {
            app.bayi = resp.data.anak;
          })
          .catch(function () {

          });
        }

      },
      countItem(type){
        var app = this;

        if(type == 'minus') {
          if(app.order.req_stock > 1){
            app.order.req_stock = Number(app.order.req_stock) - 1;
          }

        } else if(type == 'plus') {
          if(app.order.req_stock < app.item.donasi_stock){
            app.order.req_stock = Number(app.order.req_stock) + 1;
          }else{
            app.order.req_stock = app.item.donasi_stock;

          }
        } else if(type == 'input') {
          if(app.order.req_stock > app.item.donasi_stock){
            app.order.req_stock = app.item.donasi_stock;
          }else if(app.order.req_stock < 1){
            app.order.req_stock = 1;

          }
        }
      },
      addCart(){
        var app = this;

        if(app.$auth.check()){
          app.saveOrder()
        }
        else{
          app.showAuth()
        }
      },
      getItemdetail(){
        let app = this;
        let id = app.$route.params.id;
        app.itemId = id;
        app.order.donasi_id = id;
        axios.get('/apidonasi/' + id)
        .then(function (resp) {
            app.item = resp.data.item;
            app.order.pendonor_id = app.item.user_id;

            // alert(app.item.user.avatar.length)
            if(app.item.user.avatar != null){
              app.imgUrl = '/public/avatar/'+app.item.user.avatar;

            }
        })
        .catch(function () {
            alert("Data Item tidak dapat di load")
        })
      },
      getItems(page) {
        var app = this;

        if (typeof page === 'undefined') {
          page = 1;
        }

        axios.get('/apidonasigroup/detail?donasi_id='+app.itemId)
        .then(function(resp){
          app.items = resp.data.donasi;
        })
        .catch(function(resp){
          // console.log(resp);
          alert('Data Item tidak dapat di load');
        })
      },
      saveOrder(){
        event.preventDefault();
        var app = this;
        var newOrder = app.order;

        axios.post('/auth/apidonasiorder', newOrder).then(function (resp) {
          app.has_error = false

          if(resp.data.status == 'success'){
            app.$fire({
              title: resp.data.status,
              text: resp.data.message,
              type: "success",
              showConfirmButton: false,
              timer: 2000
            }).then(r => {

              app.$emit('update-active-by-component', '')

              // app.$modal.hide('anak-modal');
            });
          }
          else{
            // console.log(resp);
            app.has_error = true
            app.errors = resp.data.message || {}

          }

        })
        .catch(function (resp) {
          // console.log(resp);
          app.has_error = true
          app.errors = resp.data.message || {}

          app.$fire({
            title: resp.data.status,
            text: "Gagal melakukan order",
            type: "error",
            showConfirmButton: false,
            timer: 2000
          }).then(r => {
           // console.log(r.value);
          });
        });

      },
      showAuth () {

        this.$modal.show(Auth, {
          fromPage: 'detailitem',
        }, {
          name:'auth-modal',
          // draggable: true,
          adaptive: true,
          height: 'auto',
          scrollable: true,
          resizable: true,
        }, {
        'before-close': this.getBayi,
        })

      },

    }
  }
</script>
