<template>
<div class="row grid-pad">

  <div v-for="item, index in items.data">

    <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="product-grid">
            <div class="product-image">
                <router-link :to="{name: 'itemDetail', params: {id: item.id}}">

                    <img v-if="item.donasi_gambar[0]" v-bind:src="'/public/featured_image/'+item.donasi_gambar[0].donasi_image" alt="" class="img-responsive center-block pic-1">
                    <img v-else v-bind:src="'/public/featured_image/no-img.png'" alt="" class="img-responsive center-block pic-1">

                    <img v-if="item.donasi_gambar[1]" v-bind:src="'/public/featured_image/'+item.donasi_gambar[1].donasi_image" alt="" class="img-responsive center-block pic-2">
                    <img v-else v-bind:src="'/public/featured_image/no-img.png'" alt="" class="img-responsive center-block pic-2"><!-- 
                    <img v-bind:src="'/public/web/img/shop/ay.jpg'" alt="" class="img-responsive center-block pic-1">
                    <img v-bind:src="'/public/web/img/shop/2.jpg'" alt="" class="img-responsive center-block pic-2"> -->
                </router-link>
                <ul class="social">
                    <!-- <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li> -->
                    <li>
                        <router-link :to="{name: 'itemDetail', params: {id: item.id}}" data-tip="Add to Cart">
                            <i class="fa fa-shopping-bag"></i>
                        </router-link>
                    </li>
                </ul>
                <span class="product-new-label">{{item.donasi_kategori.donasi_kategori_name}}</span>
                <span class="product-discount-label">{{item.donasi_stock}}</span>
            </div>
            <ul class="rating">
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star disable"></li>
            </ul>
            <div class="product-content">
                <h3 class="title">
                  <router-link class="ft-pink" :to="{name: 'itemDetail', params: {id: item.id}}">
                    {{item.donasi_name}}
                  </router-link>
                </h3>
                <p class="title" v-html="item.donasi_details"></p>
                <!-- <div class="price">STOK : {{item.donasi_stock}} -->
                    <!-- <span>{{item.donasi_stock}}</span> -->
                <!-- </div> -->
                <router-link :to="{name: 'itemDetail', params: {id: item.id}}" data-tip="Add to Cart" class="add-to-cart" >
                    + Add To Cart
                </router-link>
            </div>
        </div>
    </div>

    <div v-if="(index+1) % 4 === 0" class="clearfix visible-lg-block"></div>
  </div>
  

  <div v-if="items.total == 0" class="col-xs-12 text-center" v-bind:style="{'padding':'100px'}">
      <img alt='' class="img-circle" v-bind:src="'/public/avatar/ay.png'" v-bind:style="{'width':'30%','margin-bottom':'10px'}">
      <h4>Belum ada data donasi !</h4>
  </div>
  
</div>
</template>

<script type="text/javascript">
  export default {
    props: {
        items: Object,
    }
  }
</script>