<template>
<div class="row">

  <div class="col-sm-12" v-for="item, index in pollings.data">
    
    <div class="review-block">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <!-- <div class="review-block-image"> -->

            <img v-if="item.polling_image" v-bind:src="'/public/banner_image/thumbnail/'+item.polling_image" alt="" class="img-responsive center-block">
            <img v-else v-bind:src="'/public/banner_image/thumbnail/banner-thhumbnail-no-image.jpg'" alt="" class="img-responsive center-block">
          <!-- </div>  -->
          <div class="review-block-name">{{item.user_name}}
          </div>
          <div class="review-block-date">{{item.polling_date}}</div>
        </div>
        <div class="col-xs-12 col-sm-8">
          <div class="review-block-rate">
            <button type="button" v-bind:class="{'btn':true,'btn-xs':true, 'btn-default':true, 'btn-warning':item.avg_rating.length > 0 && item.avg_rating[0].aggregate > 0}" aria-label="Left Align" v-on:click="polling(item.id, 1)" :disabled="$auth.check() == false">
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            </button>
            <button type="button" v-bind:class="{'btn':true,'btn-xs':true, 'btn-default':true, 'btn-warning':item.avg_rating.length > 0 && item.avg_rating[0].aggregate > 1}" aria-label="Left Align" v-on:click="polling(item.id, 2)" :disabled="$auth.check() == false">
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            </button>
            <button type="button" v-bind:class="{'btn':true,'btn-xs':true, 'btn-default':true, 'btn-warning':item.avg_rating.length > 0 && item.avg_rating[0].aggregate > 2}" aria-label="Left Align" v-on:click="polling(item.id, 3)" :disabled="$auth.check() == false">
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            </button>
            <button type="button" v-bind:class="{'btn':true,'btn-xs':true, 'btn-default':true, 'btn-warning':item.avg_rating.length > 0 && item.avg_rating[0].aggregate > 3}" aria-label="Left Align" v-on:click="polling(item.id, 4)" :disabled="$auth.check() == false">
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            </button>
            <button type="button" v-bind:class="{'btn':true,'btn-xs':true, 'btn-default':true, 'btn-warning':item.avg_rating.length > 0 && item.avg_rating[0].aggregate > 4}" aria-label="Left Align" v-on:click="polling(item.id, 5)" :disabled="$auth.check() == false">
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            </button>

            <!-- <span v-show="item.avg_rating.length > 0">dari {{item.avg_rating[0].total_user}} orang</span> -->
          </div>
          <div class="review-block-title">
              {{item.polling_title}}
          </div>
          <div class="review-block-description">
            <span v-html="item.polling_details"></span>
          </div>
        </div>
      </div>
    </div>
    
  </div>

  <div v-if="pollings.total == 0" class="col-xs-12 text-center" v-bind:style="{'padding':'100px'}">
      <img alt='' class="img-circle" v-bind:src="'/public/avatar/ay.png'" v-bind:style="{'width':'30%','margin-bottom':'10px'}">
      <h4>Belum ada data pollings !</h4>
  </div>
      

</div>
</template>

<script type="text/javascript">

  export default {
    props: {
        pollings: Object,
    },
    mounted(){
    },
    methods : {
      polling(id, total){
        var app = this;

        var newPolling = {
          polling_id : id,
          polling_count : total,
        }

        axios.post('/auth/apipollinguser', newPolling)
        .then(function (resp) {
          if(resp.data.status == 'success'){
            app.$fire({
              title: resp.data.status,
              text: resp.data.message,
              type: "success",
              showConfirmButton: false,
              timer: 2000
            }).then(r => {
              app.$emit('polling-user-change')
            });
          }
          else{
            app.$fire({
              title: resp.data.status,
              text: "Operation failed !",
              type: "error",
              showConfirmButton: false,
              timer: 2000
            }).then(r => {
             // console.log(r.value);
            });

          }

        })
        .catch(function (resp) {
          // console.log(resp);
          app.has_error = true
          app.errors = resp.data.message || {}

          app.$fire({
            title: resp.data.status,
            text: "Could not update your Profile",
            type: "error",
            showConfirmButton: false,
            timer: 2000
          }).then(r => {
           // console.log(r.value);
          });
        });

      }
    }
  }
</script>