<template>
<span>

<!-- Header-->
<header v-bind:style="{ 'background-image': 'url(/public/web/img/header/web-banner-polling.jpg)' }"  class="intro introhalf">
<!-- 
  <div class="banner-stars">
    <div class="stars"></div>
    <div class="twinkling"></div>
  </div> -->
  <!-- Intro Header-->
  <div class="intro-body">
    <h1>Polling</h1>
    <h4>Bantu beri penilaian untuk pilihan terbaik anak & moms</h4>
    <!-- <router-link to="/child-one">User 1</router-link> -->
  </div>
</header>

<!-- News Block-->
<section id="polling" class="section-small">
  <div class="container">
   <!--  <h3 class="pull-left">Polling</h3>
    <div class="pull-right">
      <h4>OUR LATEST NEWS</h4>
    </div>
    <div class="clearfix"></div> -->
      
    <polling-list :pollings="pollings" @polling-user-change="getPollings"></polling-list>

  </div>
</section>

<!-- Pagination-->
<div v-show="pollings.last_page > 1" class="section section-small bg-white">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <nav>
          <pagination :data="pollings" @pagination-change-page="getPollings"></pagination>
        </nav>
      </div>
    </div>
  </div>
</div>
</span>
</template>

<script>
  import PollingList    from './../../webcomponents/polling/PollingList.vue';

  export default {
    components: {
        'polling-list': PollingList,
    },
    data: function(){
      return{
        pollings : {}
      }
    },
    mounted(){
      var app = this;
      app.getPollings();

    },
    methods:{
      getPollings(page) {
        var app = this;

        if (typeof page === 'undefined') {
          page = 1;
        }

        axios.get('/apipollinggroup/polling?page='+page)
        .then(function(resp){
          app.pollings = resp.data.polling;
        })
        .catch(function(resp){
          // console.log(resp);
          alert('Data tidak dapat di load');
        })
      }

    }
  }
</script>