<template>
<span>

<!-- Header-->
<header v-bind:style="{ 'background-image': 'url(/public/banner_image/'+info.info_image+')' }" class="intro introhalf">
  <!-- Intro Header-->
  <div class="intro-body">
    <!-- <h1>Shop</h1> -->
    <h4><router-link :to="{name: 'infoWeb'}">Info</router-link> / {{info.info_title}}</h4>
    <h3>{{info.info_title}}</h3>
    <h4>{{info.info_date}}</h4>
<!-- <router-link to="/child-one">User 1</router-link> -->
  </div>
</header>


<section id="news-single" class="section-small">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        
        <span v-html="info.info_details"></span>

      </div>
    </div>
  </div>
</section>


<section class="comments bg-gray">
  <div class="container">
    <h3>Ruang diskusi</h3>

    <div class="row">
      <div class="col-xs-12">
        <div v-show="$auth.check()" class="comment-wrap">
            <div class="photo">
              <img class="img-circle pull-left avatar" v-bind:src="'/public/avatar/'+avatar" alt="Mouse0270" />
            </div>
            <div class="comment-block">
                <form action="">
                    <textarea name="" id="" cols="30" rows="3" placeholder="Add comment..." v-model="typeComment.comment" v-on:keyup.enter="saveComment"></textarea>
                </form>
            </div>
        </div>

        <info-comment :infoComments="infocomments"></info-comment>


        <!-- Pagination-->
          <div class="container">
            <div class="row">
              <div class="col-lg-12 text-center">
                <nav>
                  <pagination :data="infocomments" @pagination-change-page="getComment"></pagination>
                </nav>
              </div>
            </div>
          </div>

      </div>
    </div>
  </div>
</section>


<section class="section-small bg-white">
  <div class="container grid-pad">
    <h3>Info Lainnya</h3>

    <info-list :infos="infos">></info-list>

  </div>
</section>
<!-- <div class="section section-small">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <nav>
          <ul class="pager">
            <li class="previous"><a href="portfolio-single.html" class="text-muted"><span aria-hidden="true"></span><i class="fa fa-angle-left"></i> PREVIOUS</a></li>
            <li><a href="portfolio-masonry-4.html"><i class="fa ion-grid fa-2x"></i></a></li>
            <li class="next"><a href="portfolio-single.html" class="text-muted">NEXT <span aria-hidden="true"></span><i class="fa fa-angle-right"></i></a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div> -->

</span>
</template>

<script type="text/javascript">
  import InfoList         from './../../webcomponents/info/InfoList.vue';
  import InfoComment      from './../../webcomponents/info/InfoComment.vue';

  export default {
    components: {
        'info-list': InfoList,
        'info-comment': InfoComment,
    },
    data: function(){
      return {
        avatar:'ay.png',
        infos : {},
        infoId: null,
        info: {
          info_title: '',
          info_details: '',
          info_image: 'banner-no-image.jpg',
          info_date: '',
        },
        typeComment:{
          info_id: this.$route.params.id,
          comment:'',
        },
        infocomments:{}
      }

    },
    mounted(){
      let app = this;

      app.getAvatar();
      app.getInfodetail();
      app.getInfos();
      app.getComment();

    },
    methods:{
      getAvatar(){
        var app = this;
        var userId = app.$auth.user().id;

        axios.get('/apiavatar/user/'+userId)
        .then(function (resp) {
          if(resp.data.avatar){
            app.avatar = resp.data.avatar;
          }
        })
        .catch(function () {

        });
      },
      getInfodetail(){
        let app = this;
        let id = app.$route.params.id;
        app.infoId = id;
        axios.get('/apiinfo/' + id)
        .then(function (resp) {
            app.info = resp.data.info;

            if(app.info.info_image == null){
              app.info.info_image = 'banner-no-image.jpg'
            }
        })
        .catch(function () {
            alert("Data tidak dapat di load")
        });

      },
      getInfos(page) {
        var app = this;

        if (typeof page === 'undefined') {
          page = 1;
        }

        axios.get('/apiinfogroup/detail?page='+page+'&info_id='+app.infoId)
        .then(function(resp){
          app.infos = resp.data.info;
        })
        .catch(function(resp){
          // console.log(resp);
          alert('Data tidak dapat di load');
        })
      },
      getComment(page){
        let app = this;

        if (typeof page === 'undefined') {
          page = 1;
        }

        let id = app.$route.params.id;
        axios.get('/apiinfocomment/' + id+'?page='+page)
        .then(function (resp) {
            app.infocomments = resp.data.comment;
          // console.log(app.infocomments);
        })
        .catch(function () {
            alert("Data tidak dapat di load")
        });

      },
      saveComment(value){
        var app = this
        var newComment = app.typeComment

        axios.post('/auth/apiinfocomment',newComment)
        .then(function (resp) {
          if(resp.data.status == 'success'){
            app.typeComment.comment = ''
            app.getComment()
          }
          else{
            app.$fire({
              title: resp.data.status,
              text: resp.data.message,
              type: "error",
              showConfirmButton: false,
              timer: 2000
            }).then(r => {
              // console.log(r.value);
              app.typeComment.comment = ''
            });
          }
        })
        .catch(function () {
            app.$fire({
              title: resp.data.status,
              text: 'Data tidak dapat dikirim',
              type: "error",
              showConfirmButton: false,
              timer: 2000
            }).then(r => {
              // console.log(r.value);
              app.typeComment.comment = ''
            });
        });
      }

    }
  }
</script>
