<template>
<div class="row grid-pad">

  <div v-for="item, index in infos.data">
    <div class="col-xs-12 col-sm-4 col-md-4 info-grid">
      <router-link :to="{name: 'infoDetail', params: {id: item.id}}">


        <img v-if="item.info_image" v-bind:src="'/public/banner_image/thumbnail/'+item.info_image" alt="" class="img-responsive center-block">
        <img v-else v-bind:src="'/public/banner_image/thumbnail/banner-thhumbnail-no-image.jpg'" alt="" class="img-responsive center-block">

        <div class="info-title">
          <h5>{{item.info_title}}</h5>
        </div>
      </router-link>

      <div class="info-desc">
        <router-link :to="{name: 'infoDetail', params: {id: item.id}}">
          <span v-html="item.info_details"></span>
        </router-link>
      </div>
    </div>

    <div v-if="(index+1) % 3 === 0" class="clearfix visible-lg-block"></div>
  </div>

  <div v-if="infos.total == 0" class="col-xs-12 text-center" v-bind:style="{'padding':'100px'}">
      <img alt='' class="img-circle" v-bind:src="'/public/avatar/ay.png'" v-bind:style="{'width':'30%','margin-bottom':'10px'}">
      <h4>Belum ada data info !</h4>
  </div>

</div>
</template>

<script type="text/javascript">
  export default {
    props: {
        infos: Object,
    }
  }
</script>