<template>
<span>

<div class="comment-area">
    <div class="comment-wrap" v-for="comment, index in infoComments.data">
        <div class="photo">
          <img v-if="comment.avatar != null" class="img-circle pull-left avatar" v-bind:src="'/public/avatar/'+comment.avatar" alt="Mouse0270" />
          <img v-else class="img-circle pull-left avatar" v-bind:src="'/public/avatar/ay.png'" alt="Mouse0270" />
        </div>
        <div class="comment-block">
            <h4>{{comment.user_name}}</h4>
            <p class="comment-text">{{comment.comment}}</p>
            <div class="bottom-comment">
                <div class="comment-date">{{comment.created_at}}</div>
                <!-- <ul class="comment-actions">
                    <li class="complain">Complain</li>
                    <li class="reply">Reply</li>
                </ul> -->
            </div>
        </div>
    </div>



    <div v-if="infoComments.total == 0"  class="row">
      <div class="col-xs-12 text-center" v-bind:style="{'padding':'100px'}">
          <img alt='' class="img-circle" v-bind:src="'/public/avatar/ay.png'" v-bind:style="{'width':'30%','margin-bottom':'10px'}">
          <h4>Belum ada data diskusi !</h4>
      </div>
    </div>
</div>

</span>
</template>

<script type="text/javascript">
	export default{
        props : {
            infoComments: Object,
        },
		mounted(){
          let app = this;
          let id = app.$route.params.id;

          // console.log(app.infoComments.comment);
		}
	}
</script>