<template>
<span>

<!-- Header-->
<header v-bind:style="{ 'background-image': 'url(/public/web/img/shop/home.jpg)' }" class="intro introhalf">
  <!-- Intro Header-->
  <div class="intro-body">
    <!-- <h1>Shop</h1> -->
    <h4><router-link :to="{name: 'infoWeb'}">Info</router-link> / Single product</h4>
    <h3>{{info.info_title}}</h3>
    <h4>{{info.info_date}}</h4>
<!-- <router-link to="/child-one">User 1</router-link> -->
  </div>
</header>


<section id="news-single" class="section-small">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
            <p>Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service.</p>
            <h4>Efficiently unleash cross-media information without cross-media value. Quickly maximize deliverables for real-time schemas. Dramatically maintain clicks-and-mortar.</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <div id="carousel-news" class="carousel slide carousel-fade">
              <ol class="carousel-indicators indicators-inside">
                <li data-target="#carousel-news" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-news" data-slide-to="1"></li>
                <li data-target="#carousel-news" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="item active"><img v-bind:src="'/public/web/img/slider/slider1.jpg'" alt="" class="img-responsive center-block"></div>
                <div class="item"><img v-bind:src="'/public/web/img/slider/slider2.jpg'" alt="" class="img-responsive center-block"></div>
                <div class="item"><img v-bind:src="'/public/web/img/slider/slider3.jpg'" alt="" class="img-responsive center-block"></div>
              </div><a href="#carousel-news" data-slide="prev" class="left carousel-control"><span class="icon-prev"></span></a><a href="#carousel-news" data-slide="next" class="right carousel-control"><span class="icon-next"></span></a>
            </div>
          </div>
          <div class="col-md-4">
            <p><a href="portfolio-single.html"><img v-bind:src="'/public/web/img/news/6.jpg'" alt="" class="img-responsive center-block"></a></p>
            <p><a href="portfolio-single.html"><img v-bind:src="'/public/web/img/news/8.jpg'" alt="" class="img-responsive center-block"></a></p>
            <!-- p.small Collaboratively administrate empowered markets  via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI. Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain-->
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">

            <span v-html="info.info_details"></span>

            <p>Proactively envisioned multimedia based expertise and cross-media growth strategies. Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing. Holistically pontificate installed base portals after maintainable products. Phosfluorescently engage worldwide methodologies with web-enabled technology. Interactively coordinate proactive e-commerce via process-centric "outside the box" thinking. Completely pursue scalable customer service through sustainable potentialities.</p>
            <blockquote>A business has to be involving, it has to be fun, and it ahas to exercise your creative instincts.</blockquote>
            <p>Collaboratively administrate turnkey channels whereas virtual e-tailers. Objectively seize scalable metrics whereas proactive e-services. Seamlessly empower fully researched growth strategies and interoperable internal or "organic" sources. Credibly innovate granular internal or "organic" sources whereas high standards in web-readiness. Energistically scale future-proof core competencies vis-a-vis impactful experiences. Dramatically synthesize integrated schemas with optimal networks. <a href="#">exercise your creative</a> clicks-and-mortar solutions without functional solutions.
            </p>
            <div class="row">
              <div class="col-md-4">
                <ul>
                  <li> Collaboratively administrate</li>
                  <li> Empowered markets via plug-and-play</li>
                  <li> Dynamically procrastinate B2C</li>
                  <li> Dramatically visualize customer</li>
                  <li> Efficiently unleash cross-media</li>
                </ul>
              </div>
              <div class="col-md-4">
                <ul>
                  <li> Collaboratively administrate</li>
                  <li> Empowered markets via plug-and-play</li>
                  <li> Dynamically procrastinate B2C</li>
                  <li> Dramatically visualize customer</li>
                  <li> Efficiently unleash cross-media</li>
                </ul>
              </div>
              <div class="col-md-4">
                <ul>
                  <li> Collaboratively administrate</li>
                  <li> Empowered markets via plug-and-play</li>
                  <li> Dynamically procrastinate B2C</li>
                  <li> Dramatically visualize customer</li>
                  <li> Efficiently unleash cross-media</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="comments bg-gray">
  <div class="container">
    <h3>Ruang diskusi</h3>

    <div class="row">
      <div class="col-xs-12">
        <div class="comment-wrap">
            <div class="photo">
              <img class="img-circle pull-left avatar" v-bind:src="'/public/avatar/ay.png'" alt="Mouse0270" />
            </div>
            <div class="comment-block">
                <form action="">
                    <textarea name="" id="" cols="30" rows="3" placeholder="Add comment..."></textarea>
                </form>
            </div>
        </div>

        <info-comment></info-comment>

      </div>
    </div>
  </div>
</section>


<section class="section-small bg-white">
  <div class="container grid-pad">
    <h3>Recent News</h3>

    <info-list :infos="infos">></info-list>

  </div>
</section>
<!-- <div class="section section-small">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <nav>
          <ul class="pager">
            <li class="previous"><a href="portfolio-single.html" class="text-muted"><span aria-hidden="true"></span><i class="fa fa-angle-left"></i> PREVIOUS</a></li>
            <li><a href="portfolio-masonry-4.html"><i class="fa ion-grid fa-2x"></i></a></li>
            <li class="next"><a href="portfolio-single.html" class="text-muted">NEXT <span aria-hidden="true"></span><i class="fa fa-angle-right"></i></a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div> -->

</span>
</template>

<script type="text/javascript">
  import InfoList         from './../../webcomponents/info/InfoList.vue';
  import InfoComment      from './../../webcomponents/info/InfoComment.vue';

  export default {
    components: {
        'info-list': InfoList,
        'info-comment': InfoComment,
    },
    data: function(){
      return {
        infos : {},
        infoId: null,
        info: {
          info_title: '',
          info_details: '',
          info_image: '',
          info_date: '',
        }
      }

    },
    mounted(){
      let app = this;

      app.getInfodetail();
      app.getInfos();
    },
    methods:{
      getInfodetail(){
        let app = this;
        let id = app.$route.params.id;
        app.infoId = id;
        axios.get('/apiinfo/' + id)
        .then(function (resp) {
            app.info = resp.data.info;
        })
        .catch(function () {
            alert("Data tidak dapat di load")
        });

      },
      getInfos(page) {
        var app = this;

        if (typeof page === 'undefined') {
          page = 1;
        }

        axios.get('/apiinfogroup/detail?page='+page)
        .then(function(resp){
          app.infos = resp.data.info;
        })
        .catch(function(resp){
          // console.log(resp);
          alert('Data tidak dapat di load');
        })
      }

    }
  }
</script>
