<template>
<span>

<!-- Header-->
<header v-bind:style="{ 'background-image': 'url(/public/web/img/header/web-banner-info.jpg)' }"  class="intro introhalf">
  <!-- Intro Header-->
  <div class="intro-body">
    <h1>Info</h1>
    <h4>Berbagi Informasi Mengenai Kebutuhan Anak & Moms</h4>
  </div>
</header>


<!-- News Block-->
<section id="news" class="section-small">
  <div class="container">
    <!-- <h3 class="pull-left">News</h3>
    <div class="pull-right">
      <h4>OUR LATEST NEWS</h4>
    </div>
    <div class="clearfix"></div> -->

    <info-list :infos="infos"></info-list>

  </div>
</section>

<!-- Pagination-->
<div v-show="infos.last_page > 1" class="section section-small bg-white">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <nav>
          <pagination :data="infos" @pagination-change-page="getInfos"></pagination>
        </nav>
      </div>
    </div>
  </div>
</div>

</span>
</template>

<script>
  import InfoList         from './../../webcomponents/info/InfoList.vue';

  export default {
    components: {
        'info-list': InfoList,
    },
    data: function(){
      return{
        infos : {}
      }
    },
    mounted(){
      var app = this;
      app.getInfos();

    },
    methods:{
      getInfos(page) {
        var app = this;

        if (typeof page === 'undefined') {
          page = 1;
        }

        axios.get('/apiinfogroup/info?page='+page)
        .then(function(resp){
          app.infos = resp.data.info;
        })
        .catch(function(resp){
          // console.log(resp);
          alert('Data tidak dapat di load');
        })
      }

    }
  }
</script>