<template>

  <div class="container-login center-block">
			<ul id="top-bar" class="nav nav-tabs nav-justified">
				<li class="active"><a class="nav-link" data-toggle="tab" href="#login-access">LOGIN</a></li>
				<li><a class="nav-link" data-toggle="tab" href="#register-access">REGISTER</a></li>
			</ul>
			<div class="tab-content tabs-login col-lg-12 col-md-12 col-sm-12 cols-xs-12">
				<div id="login-access" class="tab-pane fade active in">

          <login-form :fromPage="fromPage"></login-form>

				</div>
				<div id="register-access" class="tab-pane">
          <register-form></register-form>
				</div>
			</div>
	</div>


</template>

<script>
import Login          from './../authcomponents/Login.vue';
import Register       from './../authcomponents/Register.vue';
  // import SilsilahAnak         from './webcomponents/silsilah/SilsilahAnak.vue';
	// import Login         from './../../Register.vue';

export default {
  props: {
      fromPage: '',
  },
  components: {
    'login-form': Login,
    'register-form': Register,
  },
}
</script>
