<template>
<span>
              
  <!-- <h2><i class="glyphicon glyphicon-log-in"></i> Login Ayfamu</h2>            -->

  <div class="alert alert-danger" v-if="has_error && !success">
    <p v-if="error == 'login_error'">Validation Errors.</p>
    <p v-else>Error, unable to connect with these credentials.</p>
  </div>
  <form autocomplete="off" @submit.prevent="login" method="post">
    <div class="form-group" v-bind:class="{ 'has-error': has_error && errors.email }">
      <label for="email" class="sr-only">E-mail</label>
      <input type="email" class="form-control" placeholder="user@example.com" v-model="email">
      <span class="help-block" v-if="has_error && errors.email">{{ errors.email }}</span>
    </div>
    <div class="form-group" v-bind:class="{ 'has-error': has_error && errors.password }">
      <label for="password" class="sr-only">Password</label>
      <input type="password" class="form-control" placeholder="password" v-model="password">
      <span class="help-block" v-if="has_error && errors.password">{{ errors.password }}</span>
    </div>

    <div class="checkbox">
        <label class="control-label" for="remember_me">
          <input type="checkbox" name="remember_me" id="remember_me" value="1" class="" tabindex="3" /> Remember me
        </label>
    </div>
    <!-- <br/> -->


    <div class="form-group ">       
        <button type="submit" name="log-me-in" tabindex="5" class="btn btn-lg btn-primary">Masuk</button>
    </div>
  </form>

</span>
</template>
<script>
  export default {
    props: {
        fromPage: '',
    },
    data() {
      return {
        email: null,
        password: null,
        success: false,
        has_error: false,
        error: '',
        errors: {},
      }
    },
    mounted() {
      var app = this;
      // alert(app.fromPage)
      //
    },
    methods: {
      login() {
        // get the redirect object
        var redirect = this.$auth.redirect()
        var app = this
        let loader = app.$loading.show()
        this.$auth.login({
          data: {
            email: app.email,
            password: app.password
          },
          success: function(res) {
            // handle redirection
            app.$modal.hide('auth-modal')

            app.success = true
            
            loader.hide()

            app.$fire({
              title: res.data.status,
              text: res.data.message,
              type: "success",
              showConfirmButton: false,
              timer: 3000
            }).then(r => {
              // console.log(r.value);
              app.$root.$emit('update-active-by-child', '')
              if(app.fromPage != 'detailitem'){
                const redirectTo = 'profil'
                this.$router.push({name: redirectTo})
              }
            });
          },
          error: function(res) {
            // console.log(res.response.data)
            loader.hide()
            app.has_error = true
            app.error = res.response.data.message
            app.errors = res.response.data.message || {}


          },
          rememberMe: true,
          fetchUser: true
        })
      }
    }
  }
</script>