<template>
<span>
  <!-- <h2><i class="glyphicon glyphicon-edit"></i> Registrasi</h2>    -->

  <div class="alert alert-danger" v-if="has_error && !success">
      <p v-if="error == 'registration_validation_error'">Validation Errors.</p>
      <p v-else>Error, can not register at the moment. If the problem persists, please contact an administrator.</p>
  </div>
  <form autocomplete="off" @submit.prevent="register" v-if="!success" method="post" >
    <div class="form-group" v-bind:class="{ 'has-error': has_error && errors.name }">
        <label class="sr-only" for="nik">No KTP</label>
        <input type="text" id="nik" class="form-control" placeholder="Nomor KTP" v-model="nik">
        <span class="help-block" v-if="has_error && errors.nik">{{ errors.nik }}</span>
    </div>
    <div class="form-group" v-bind:class="{ 'has-error': has_error && errors.name }">
        <label class="sr-only" for="username">Username</label>
        <input type="text" id="username" class="form-control" placeholder="Username" v-model="username">
        <span class="help-block" v-if="has_error && errors.username">{{ errors.username }}</span>
    </div>
    <br/>

    <div class="form-group" v-bind:class="{ 'has-error': has_error && errors.name }">
        <label class="sr-only" for="name">Name</label>
        <input type="text" id="name" class="form-control" placeholder="Full Name" v-model="name">
        <span class="help-block" v-if="has_error && errors.name">{{ errors.name }}</span>
    </div>
    <div class="form-group" v-bind:class="{ 'has-error': has_error && errors.email }">
        <label class="sr-only" for="email">E-mail</label>
        <input type="email" id="email" class="form-control" placeholder="user@example.com" v-model="email">
        <span class="help-block" v-if="has_error && errors.email">{{ errors.email }}</span>
    </div>
    <div class="form-group" v-bind:class="{ 'has-error': has_error && errors.password }">
        <label class="sr-only" for="password">Password</label>
        <input type="password" id="password" class="form-control" placeholder="Password" v-model="password">
        <span class="help-block" v-if="has_error && errors.password">{{ errors.password }}</span>
    </div>
    <div class="form-group" v-bind:class="{ 'has-error': has_error && errors.password }">
        <label class="sr-only" for="password_confirmation">Password confirmation</label>
        <input type="password" id="password_confirmation" class="form-control" placeholder="Password confirmation" v-model="password_confirmation">
    </div>


    <!-- <br/> -->


    <div class="form-group ">       
        <button type="submit" name="log-me-in" tabindex="5" class="btn btn-lg btn-primary">Register</button>
    </div>
  </form>
</span>
</template>
<script>
  export default {
    data() {
      return {
        nik: '',
        username: '',
        name: '',
        email: '',
        password: '',
        password_confirmation: '',
        has_error: false,
        error: '',
        errors: {},
        success: false
      }
    },
    methods: {
      register() {
        var app = this
        this.$auth.register({
          data: {
            nik: app.nik,
            username: app.username,
            name: app.name,
            email: app.email,
            password: app.password,
            password_confirmation: app.password_confirmation
          },
          success: function (res) {
            this.$modal.hide('auth-modal');
            
            app.success = true

            app.login()
            

            /*app.$fire({
              title: res.data.status,
              text: 'Selamat user anda berhasil terdaftar, silakan lakukan login !',
              type: "success",
              confirmButtonColor: '#ef5777',
            }).then(r => {
              this.$router.push({name:'homePage', params: {successRegistrationRedirect: true}})
            });*/
          },
          error: function (res) {
            // console.log(res.response.data)
            app.has_error = true
            app.error = res.response.data.error
            app.errors = res.response.data.message || {}
          }
        })
      },
      login() {
        // get the redirect object
        var redirect = this.$auth.redirect()
        var app = this
        let loader = app.$loading.show()
        this.$auth.login({
          data: {
            email: app.email,
            password: app.password
          },
          success: function(res) {
            // handle redirection
            app.$modal.hide('auth-modal')

            app.success = true
            
            loader.hide()

            app.$fire({
              title: res.data.status,
              text: res.data.message,
              type: "success",
              showConfirmButton: false,
              timer: 3000
            }).then(r => {
              // console.log(r.value);
              const redirectTo = 'profil'
              this.$router.push({name: redirectTo})
            });
          },
          error: function(res) {
            // console.log(res.response.data)
            loader.hide()
            app.has_error = true
            app.error = res.response.data.message
            app.errors = res.response.data.message || {}


          },
          rememberMe: true,
          fetchUser: true
        })
      }
    }
  }
</script>